Repository pagopa/io-app, pull requests merged in 2020-07, with the labels that each got.

#1996 [#173602010] Reload bonus vacanze on payment section focus
  ts/screens/wallet/WalletHomeScreen.tsx
Labels: bonus-vacanze :surfer::snowboarder:

#1974 [#173580888] Update text for error screen
  ts/components/screens/GenericErrorComponent.tsx
  ts/features/bonusVacanze/components/loadingErrorScreen/BaseLoadingErrorScreen.tsx
  ts/features/bonusVacanze/screens/ActiveBonusScreen.tsx
  ts/features/bonusVacanze/screens/AvailableBonusScreen.tsx
  ts/features/bonusVacanze/screens/activation/LoadActivateBonusScreen.tsx
  ts/features/bonusVacanze/screens/eligibility/isee/IseeNotEligibleScreen.tsx
Labels: bonus-vacanze :surfer::snowboarder:

#1993 [#173580954] Adds shadow on android phone for cards
  ts/components/messages/CalendarEventButton.tsx
  ts/components/messages/MessageNestedCtaButton.tsx
  ts/components/messages/PaymentButton.tsx
  ts/components/wallet/card/RotatedCards.tsx
  ts/components/wallet/card/SectionCardComponent.tsx
  ts/features/bonusVacanze/components/BonusCardComponent.tsx
Labels: bonus-vacanze :surfer::snowboarder:

#2008 [#173640918] Fixes Bonus card alignment on Tablet devices
  ts/features/bonusVacanze/components/BonusCardComponent.tsx
  ts/features/bonusVacanze/screens/ActiveBonusScreen.tsx
Labels: bonus-vacanze :surfer::snowboarder:

#2020 [#173701927] Improve accessibility for top bar
  locales/en/index.yml
  locales/it/index.yml
  ts/components/ButtonDefaultOpacity.tsx
  ts/components/GoBackButton.tsx
  ts/components/InstabugChatsComponent.tsx
  ts/components/screens/BaseHeader.tsx
  ts/components/search/SearchButton.tsx
  ts/components/ui/CustomBadge.tsx
Labels: accessibility

#2034 [#173744863] Fixes bad url to bonus guide
  locales/en/bonus/faq/faq63.md
  locales/it/bonus/faq/faq63.md
Labels: bonus-vacanze :surfer::snowboarder:

#2028 [#173733388] update copy about household composition
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonusVacanze/screens/activation/request/ActivateBonusReminder.tsx
  ts/features/bonusVacanze/screens/activation/request/ActivateBonusRequestComponent.tsx
Labels: bonus-vacanze :surfer::snowboarder:

#2021 [#173707010] fix screen reader text for bottom bar navigation elements
  locales/en/index.yml
  locales/it/index.yml
  ts/components/NavBarLabel.tsx
  ts/components/ui/IconFont.tsx
  ts/components/ui/TabIconComponent.tsx
Labels: accessibility

#2019 [#173690037] Fix IDP name
  patches/@types+react-native+0.60.20.patch
  ts/components/ContextualHelpModal.tsx
  ts/components/IdpsGrid.tsx
  ts/components/screens/BaseHeader.tsx
  ts/components/screens/BaseScreenComponent.tsx
  ts/components/screens/DarkLayout.tsx
  ts/components/screens/TopScreenComponent.tsx
  ts/components/wallet/WalletLayout.tsx
  ts/screens/authentication/IdpSelectionScreen.tsx
  ts/screens/messages/MessagesHomeScreen.tsx
  ts/screens/modal/IdentificationModal.tsx
  ts/screens/modal/RootedDeviceModal.tsx
  ts/screens/modal/SystemOffModal.tsx
  ts/screens/profile/ProfileMainScreen.tsx
  ts/screens/services/ServicesHomeScreen.tsx
  ts/screens/wallet/WalletHomeScreen.tsx
  ts/utils/accessibility.ts
Labels: accessibility

#2037 [#173768527] Personal data link not recognized as link
  ts/features/bonusVacanze/screens/BonusInformationScreen.tsx
Labels: accessibility, bonus-vacanze :surfer::snowboarder:

#2023 [#173702089] Accessibility restored on modals
  ts/components/ui/LightModal.tsx
  ts/utils/accessibility.ts
Labels: accessibility

#2038 [#173768754] Improve accessibility for ActivateBonusRequestComponent
  ts/components/ui/IconFont.tsx
  ts/features/bonusVacanze/components/keyValueTable/BonusCompositionDetails.tsx
  ts/features/bonusVacanze/components/keyValueTable/KeyValueTable.tsx
Labels: accessibility, bonus-vacanze :surfer::snowboarder:

#2039 [#173769744] Add accessibility focus for InfoScreenComponent
  ts/features/bonusVacanze/components/infoScreen/InfoScreenComponent.tsx
Labels: accessibility, bonus-vacanze :surfer::snowboarder:

#2033 [#173702628] Reworks accordion component and improves accessibility
  locales/en/index.yml
  locales/it/index.yml
  ts/components/FAQComponent.tsx
  ts/components/ui/Accordion.tsx
Labels: accessibility

#2035 [#173726200] Accessibility for message item
  locales/en/index.yml
  locales/it/index.yml
  ts/components/DetailedlistItemComponent.tsx
  ts/components/messages/MessageListCTABar.tsx
  ts/components/messages/MessageListItem.tsx
  ts/utils/convertDateToWordDistance.ts
Labels: accessibility

#2043 [#173769898] fix accessibility for loadingerrorcomponent
  ts/components/screens/GenericErrorComponent.tsx
  ts/features/bonusVacanze/components/loadingErrorScreen/LoadingErrorComponent.tsx
  ts/features/bonusVacanze/screens/activation/LoadActivateBonusScreen.tsx
  ts/features/bonusVacanze/screens/eligibility/LoadBonusEligibilityScreen.tsx
  ts/utils/accessibility.ts
Labels: accessibility, bonus-vacanze :surfer::snowboarder:

#2042 [#173773392] Improve PIN creation and confirmation accessibility
  ts/components/Pinpad/index.tsx
  ts/screens/modal/IdentificationModal.tsx
  ts/screens/onboarding/PinScreen.tsx
Labels: accessibility

#1994 [#173521040] Update elgibility expired screen & eligibility / activation navigation rework
  img/pictograms/hourglass.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonusVacanze/screens/BonusCTAEligibilityStartScreen.tsx
  ts/features/bonusVacanze/screens/BonusInformationScreen.tsx
  ts/features/bonusVacanze/screens/activation/BonusAlreadyExists.tsx
  ts/features/bonusVacanze/screens/activation/EligibilityExpired.tsx
  ts/features/bonusVacanze/store/actions/bonusVacanze.ts
  ts/features/bonusVacanze/store/sagas/activation/__mock__/backendMockData.ts
  ts/features/bonusVacanze/store/sagas/activation/__mock__/networkingSagaResponseMockData.ts
  ts/features/bonusVacanze/store/sagas/activation/__tests__/activationIntegrationTests.ts
  ts/features/bonusVacanze/store/sagas/activation/__tests__/handleBonusActivationTests.ts
  ts/features/bonusVacanze/store/sagas/activation/handleBonusActivationSaga.ts
  ts/features/bonusVacanze/store/sagas/eligibility/handleBonusEligibilitySaga.ts
Labels: bonus-vacanze :surfer::snowboarder:

#2050 [#173734154] Dispatch accessibility attributes to mixpanel
  ts/mixpanel.ts
Labels: accessibility

#2048 [#173789814] Improves accessibility for bonus card component
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonusVacanze/components/BonusCardComponent.tsx
  ts/features/bonusVacanze/components/QrModalBox.tsx
Labels: accessibility

#2058 [#173828514] Fixes customGoBack not accessible
  ts/components/RemindEmailValidationOverlay.tsx
  ts/components/screens/TopScreenComponent.tsx
  ts/screens/profile/FiscalCodeScreen.tsx
Labels: accessibility

#2054 [#173703056] Fix accessibility on Fiscal code
  locales/en/index.yml
  locales/it/index.yml
  ts/components/FiscalCodeComponent.tsx
  ts/components/FiscalCodeLandscapeOverlay.tsx
  ts/screens/profile/FiscalCodeScreen.tsx
  ts/screens/profile/ProfileMainScreen.tsx
  ts/utils/accessibility.ts
  ts/utils/convertDateToWordDistance.ts
  ts/utils/profile.ts
Labels: accessibility

#2051 [#173767853] Add underage Infoscreen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonusVacanze/navigation/action.ts
  ts/features/bonusVacanze/navigation/navigator.ts
  ts/features/bonusVacanze/navigation/routes.ts
  ts/features/bonusVacanze/screens/eligibility/UnderageScreen.tsx
  ts/features/bonusVacanze/store/reducers/eligibility.ts
  ts/features/bonusVacanze/store/sagas/eligibility/getBonusEligibilitySaga.ts
  ts/features/bonusVacanze/store/sagas/eligibility/handleBonusEligibilitySaga.ts
Labels: bonus-vacanze :surfer::snowboarder:

#2059 [#173778636] UI accessibility rework
  ts/components/ButtonDefaultOpacity.tsx
  ts/components/screens/BetaBannerComponent.tsx
  ts/components/wallet/PaymentMethodsList.tsx
  ts/components/wallet/card/SectionCardComponent.tsx
  ts/screens/Showroom.tsx
  ts/screens/wallet/payment/ConfirmPaymentMethodScreen.tsx
  ts/theme/variables.ts
Labels: accessibility

#2062 [#173847503] Implements accessibility for preferences options
  locales/en/index.yml
  locales/it/index.yml
  ts/components/CalendarsListContainer.tsx
  ts/components/screens/ListItemComponent.tsx
  ts/screens/profile/BiometricRecognitionScreen.tsx
  ts/screens/profile/EmailForwardingScreen.tsx
  ts/screens/profile/LanguagesPreferencesScreen.tsx
Labels: accessibility

#2060 [#173834070] Improve accessibility CIE authentication
  locales/en/index.yml
  locales/it/index.yml
  ts/components/cie/CieReadingCardAnimation.tsx
  ts/components/cie/CieRequestAuthenticationOverlay.tsx
  ts/components/screens/BaseHeader.tsx
  ts/components/screens/BaseScreenComponent.tsx
  ts/components/screens/GenericErrorComponent.tsx
  ts/components/screens/TopScreenComponent.tsx
  ts/components/ui/BlockButtons.tsx
  ts/components/ui/FooterWithButtons.tsx
  ts/screens/authentication/cie/CieCardReaderScreen.tsx
  ts/screens/authentication/cie/CiePinLockedTemporarilyScreen.tsx
  ts/screens/authentication/cie/CiePinScreen.tsx
  ts/utils/accessibility.ts
Labels: accessibility

#2061 [#173778636] Accessibility label review
  ts/components/DetailedlistItemComponent.tsx
  ts/components/ExperimentalFeaturesBanner.tsx
  ts/components/NavBarLabel.tsx
  ts/components/OrganizationHeader.tsx
  ts/components/VersionInfoOverlay.tsx
  ts/components/messages/EmptyListComponent.tsx
  ts/components/messages/MedicalPrescriptionAttachments.tsx
  ts/components/messages/MessageDetailComponent.tsx
  ts/components/messages/MessageDetailData.tsx
  ts/components/screens/GenericErrorComponent.tsx
  ts/components/screens/ListItemComponent.tsx
  ts/components/wallet/PaymentBannerComponent.tsx
  ts/components/wallet/PaymentHistoryItem.tsx
  ts/components/wallet/PaymentMethodsList.tsx
  ts/components/wallet/PaymentSummaryComponent.tsx
  ts/components/wallet/card/style.ts
  ts/features/bonusVacanze/components/ActiveBonus.tsx
  ts/features/bonusVacanze/components/AvailableBonusItem.tsx
  ts/features/bonusVacanze/components/BonusCardComponent.tsx
  ts/features/bonusVacanze/components/QrModalBox.tsx
  ts/features/bonusVacanze/components/keyValueTable/BonusCompositionDetails.tsx
  ts/features/bonusVacanze/components/keyValueTable/FamilyComposition.tsx
  ts/features/bonusVacanze/screens/ActiveBonusScreen.tsx
  ts/features/bonusVacanze/screens/BonusInformationScreen.tsx
  ts/features/bonusVacanze/screens/activation/request/Style.ts
  ts/screens/authentication/LandingScreen.tsx
  ts/screens/messages/MessageDetailScreen.tsx
  ts/screens/messages/MessagesHomeScreen.tsx
  ts/screens/onboarding/EmailReadScreen.tsx
  ts/screens/services/ServicesHomeScreen.tsx
  ts/screens/wallet/PaymentHistoryDetailsScreen.tsx
  ts/screens/wallet/TransactionDetailsScreen.tsx
  ts/screens/wallet/WalletHomeScreen.tsx
  ts/screens/wallet/payment/PickPspScreen.tsx
  ts/screens/wallet/payment/TransactionErrorScreen.tsx
  ts/theme/components/Text.ts
  ts/theme/variables.ts
Labels: accessibility

#2080 [#173900219] Adds a new faq on bonus request information
  locales/en/bonus/faq/faq77.md
  locales/en/index.yml
  locales/it/bonus/faq/faq77.md
  locales/it/index.yml
  ts/utils/faq.ts
Labels: bonus-vacanze :surfer::snowboarder:

#2079 [#173834010] Show warning if there's another bonus already active
  locales/en/index.yml
  locales/it/index.yml
  ts/components/wallet/card/SectionCardComponent.tsx
  ts/features/bonusVacanze/screens/ActiveBonusScreen.tsx
  ts/features/bonusVacanze/screens/BonusInformationScreen.tsx
  ts/features/bonusVacanze/screens/activation/request/ActivateBonusDiscrepancies.tsx
  ts/features/bonusVacanze/store/reducers/__tests__/allActive.test.ts
  ts/features/bonusVacanze/store/reducers/allActive.ts
Labels: bonus-vacanze :surfer::snowboarder:

#2093 [#173965657] Adds the status redeemed for multiple bonus alert selector
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonusVacanze/screens/ActiveBonusScreen.tsx
  ts/features/bonusVacanze/screens/BonusInformationScreen.tsx
  ts/features/bonusVacanze/store/reducers/__tests__/allActive.test.ts
  ts/features/bonusVacanze/store/reducers/allActive.ts
Labels: bonus-vacanze :surfer::snowboarder:

#2092 [#173977842] fixes the title under bonus card
  ts/features/bonusVacanze/screens/ActiveBonusScreen.tsx
Labels: bonus-vacanze :surfer::snowboarder:

#2100 [#173998756] Fixes font-size on Markdown component
  ts/components/ui/Markdown/index.tsx
  ts/features/bonusVacanze/screens/BonusInformationScreen.tsx
Labels: accessibility

#2088 [#173848517] Parametric label and hint on inputPlaceholder
  locales/en/index.yml
  locales/it/index.yml
  ts/components/CiePinpad/index.tsx
  ts/components/Pinpad/InputPlaceholder.tsx
  ts/components/Pinpad/index.tsx
Labels: accessibility

#2101 [#173984179] forces the focus on identification modal
  ts/screens/modal/IdentificationModal.tsx
Labels: accessibility

#2087 [#173890674] Refactoring props for accessibility events on base header
  ts/components/ContextualHelpModal.tsx
  ts/components/RemindEmailValidationOverlay.tsx
  ts/components/screens/BaseHeader.tsx
  ts/components/screens/BaseScreenComponent.tsx
  ts/components/screens/TopScreenComponent.tsx
  ts/screens/modal/IdentificationModal.tsx
  ts/screens/modal/RootedDeviceModal.tsx
  ts/screens/modal/SystemOffModal.tsx
  ts/screens/modal/UpdateAppModal.tsx
Labels: accessibility

#2104 [#173984252] Improves accessibility on wallet home
  locales/en/index.yml
  locales/it/index.yml
  ts/components/FiscalCodeComponent.tsx
  ts/components/wallet/TransactionsList.tsx
  ts/components/wallet/card/RotatedCards.tsx
  ts/components/wallet/card/SectionCardComponent.tsx
  ts/utils/accessibility.ts
  ts/utils/convertDateToWordDistance.ts
Labels: accessibility

#2119 [#174115403] Error loading webview url [Android]
  android/app/src/main/AndroidManifest.xml
Labels: android

#2118 [#174089908] Improve accessibility bonus description screen
  ts/components/InstabugChatsComponent.tsx
  ts/features/bonusVacanze/screens/BonusInformationScreen.tsx
  ts/utils/accessibility.ts
Labels: accessibility

#2122 [#174119099] Display app version
  ts/utils/__tests__/appVersion.test.ts
  ts/utils/appVersion.ts
Labels: android
