Repository pagopa/io-app, pull requests merged in 2021-06, with the labels that each got.

#3076 chore(EU Covid Certificate): [IAGP-5] Types, actions & store for EU Covid Certificate
  codecov.yml
  ts/features/common/store/reducers/index.ts
  ts/features/euCovidCert/analytics/placeholder
  ts/features/euCovidCert/api/placeholder
  ts/features/euCovidCert/navigation/placeholder
  ts/features/euCovidCert/saga/index.ts
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
  ts/features/euCovidCert/saga/orchestration/placeholder
  ts/features/euCovidCert/screens/placeholder
  ts/features/euCovidCert/store/actions/index.ts
  ts/features/euCovidCert/store/reducers/__test__/byAuthCode.test.ts
  ts/features/euCovidCert/store/reducers/byAuthCode.ts
  ts/features/euCovidCert/store/reducers/index.ts
  ts/features/euCovidCert/types/EUCovidCertificate.ts
  ts/features/euCovidCert/types/EUCovidCertificateResponse.ts
  ts/sagas/startup.ts
  ts/store/actions/types.ts
  ts/store/reducers/index.ts
  ts/store/reducers/types.ts
Labels: EU Covid Certificate

#3077 feat(EU Covid Certificate): [IAGP-34,IA-6] Add COPY as supported schema in iohandledlink
  scripts/ts/danger/commentPrWithTicketsInfo.ts
  ts/components/screens/BaseScreenComponent.tsx
  ts/components/ui/Markdown/handlers/__test__/link.test.ts
  ts/components/ui/Markdown/handlers/link.ts
  ts/utils/messages.ts
  ts/utils/url.ts
Labels: EU Covid Certificate

#3079 chore(EU Covid Certificate): [IAGP-6] Added screens layout, routing and navigation
  img/features/euCovidCert/eu-flag.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/navigation/actions.ts
  ts/features/euCovidCert/navigation/navigator.ts
  ts/features/euCovidCert/navigation/placeholder
  ts/features/euCovidCert/navigation/routes.ts
  ts/features/euCovidCert/screens/BaseEuCovidCertificateLayout.tsx
  ts/features/euCovidCert/screens/EuCovidCertLoadingScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertRevokedScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertValidScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertificateRouterScreen.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertGenericErrorKoScreen.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertNotFoundKoScreen.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertNotOperationalKoScreen.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertTemporarilyNotAvailableKoScreen.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertWrongFormatKoScreen.tsx
  ts/features/euCovidCert/screens/placeholder
  ts/features/euCovidCert/store/reducers/currentAuthCode.ts
  ts/features/euCovidCert/store/reducers/index.ts
  ts/features/euCovidCert/types/EUCovidCertificate.ts
  ts/features/euCovidCert/types/EUCovidCertificateResponse.ts
  ts/navigation/MainNavigator.tsx
  ts/navigation/MessagesNavigator.ts
  ts/urls.ts
Labels: EU Covid Certificate

#3078 chore(EU Covid Certificate): [IAGP-9] Add getCertificate API network logic
  package.json
  ts/api/backend.ts
  ts/features/bonus/cgn/api/backendCgn.ts
  ts/features/euCovidCert/api/backendEuCovidCert.ts
  ts/features/euCovidCert/api/placeholder
  ts/features/euCovidCert/saga/index.ts
  ts/features/euCovidCert/saga/networking/__tests__/handleGetEuCovidCertificate.test.ts
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
  ts/features/euCovidCert/store/actions/index.ts
  ts/features/euCovidCert/store/reducers/__test__/byAuthCode.test.ts
  ts/features/euCovidCert/store/reducers/byAuthCode.ts
  ts/features/euCovidCert/types/EUCovidCertificate.ts
  ts/features/euCovidCert/types/EUCovidCertificateResponse.ts
  ts/utils/api.ts
  yarn.lock
Labels: EU Covid Certificate

#3081 chore(EU Covid Certificate): [IAGP-10,IAGP-12] Update Message spec with EUCovidCert
  package.json
  ts/components/messages/MessageDetailComponent.tsx
  ts/components/messages/__tests__/MessageDeadlines.test.ts
  ts/sagas/messages/__tests__/messages.test.ts
  ts/sagas/startup/__tests__/watchLoadMessages.test.ts
  ts/sagas/testLoginSaga.ts
Labels: EU Covid Certificate

#3083 feat(EU Covid Certificate): [IAGP-21] Implements Covid Certificate Revoked Component
  img/features/euCovidCert/certificate_revoked.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
  ts/features/euCovidCert/screens/EuCovidCertRevokedScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertificateRouterScreen.tsx
Labels: EU Covid Certificate

#3087 feat(EU Covid Certificate): [IAGP-26] Implements TemporarilyUnavailable screen component
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/screens/ko/EuCovidCertTemporarilyNotAvailableKoScreen.tsx
Labels: EU Covid Certificate

#3088 feat(EU Covid Certificate): [IAGP-24] Implements NotOperarional screen for EUCovidCert
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/components/EuCovidCertLearnMoreLink.tsx
  ts/features/euCovidCert/screens/EuCovidCertRevokedScreen.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertNotOperationalKoScreen.tsx
Labels: EU Covid Certificate

#3086 feat(EU Covid Certificate): [IAGP-31] Add "View" CTA on EuCovidCert Message list item
  locales/en/index.yml
  locales/it/index.yml
  ts/components/messages/MessageListCTABar.tsx
  ts/components/messages/MessageListItem.tsx
  ts/features/euCovidCert/components/ViewEUCovidButton.tsx
  ts/utils/messages.ts
Labels: EU Covid Certificate

#3085 chore(EU Covid Certificate): [IAGP-38] Handle message routing
  ts/components/messages/PaymentButton.tsx
  ts/features/euCovidCert/navigation/actions.ts
  ts/features/euCovidCert/store/reducers/current.ts
  ts/features/euCovidCert/store/reducers/index.ts
  ts/navigation/MessagesNavigator.ts
  ts/navigation/routes.ts
  ts/sagas/identification.ts
  ts/sagas/startup.ts
  ts/sagas/startup/__tests__/watchNotificationSaga.test.ts
  ts/sagas/startup/watchNotificationSaga.ts
  ts/screens/messages/MessageRouterScreen.tsx
  ts/screens/messages/MessagesHomeScreen.tsx
  ts/screens/messages/__test__/MessageRouterScreen.test.tsx
  ts/store/actions/navigation.ts
Labels: EU Covid Certificate

#3084 chore(EU Covid Certificate): [IAGP-40] Add backoff waiting time on getCertificate error
  ts/features/euCovidCert/saga/index.ts
  ts/features/euCovidCert/saga/networking/__tests__/handleGetEuCovidCertificate.test.ts
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
  ts/features/euCovidCert/screens/EuCovidCertificateRouterScreen.tsx
  ts/features/euCovidCert/types/EUCovidCertificateResponse.ts
  ts/store/reducers/backoffError.ts
Labels: EU Covid Certificate

#3089 chore(EU Covid Certificate): [IAGP-43] Update API spec
  package.json
  ts/features/euCovidCert/saga/networking/__tests__/handleGetEuCovidCertificate.test.ts
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
Labels: EU Covid Certificate

#3095 feat(EU Covid Certificate): [IAGP-23] Added generic error screen in case of networking errors, 500 error or other unmanaged response code
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/screens/ko/EuCovidCertGenericErrorKoScreen.tsx
  ts/features/euCovidCert/store/reducers/current.ts
Labels: EU Covid Certificate

#3094 feat(EU Covid Certificate): [IAGP-16,IAGP-19,IAGP-33] Display of valid certificate, full-screen QR code and additional textual details
  locales/en/index.yml
  locales/it/index.yml
  ts/components/FiscalCodeLandscapeOverlay.tsx
  ts/components/ui/Markdown/index.tsx
  ts/features/euCovidCert/components/MarkdownHandleCustomLink.tsx
  ts/features/euCovidCert/navigation/actions.ts
  ts/features/euCovidCert/navigation/navigator.ts
  ts/features/euCovidCert/navigation/routes.ts
  ts/features/euCovidCert/screens/BaseEuCovidCertificateLayout.tsx
  ts/features/euCovidCert/screens/EuCovidCertRevokedScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertValidScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertificateRouterScreen.tsx
  ts/features/euCovidCert/screens/__test__/EUCovidCertValidScreen.test.tsx
  ts/features/euCovidCert/screens/__test__/EuCovidCertificateRouterScreen.test.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertTemporarilyNotAvailableKoScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertMarkdownDetailsScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertQrCodeFullScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertValidScreen.tsx
  ts/features/euCovidCert/store/reducers/current.ts
  ts/features/euCovidCert/types/EUCovidCertificate.ts
  ts/features/euCovidCert/types/__mock__/EUCovidCertificate.mock.ts
  ts/features/euCovidCert/types/__mock__/EUCovidCertificateResponse.mock.ts
  ts/screens/messages/MessageRouterScreen.tsx
  ts/screens/messages/__test__/MessageRouterScreen.test.tsx
  ts/store/reducers/allowedSnapshotScreens.ts
  ts/utils/brightness.ts
Labels: EU Covid Certificate

#3096 feat(EU Covid Certificate): [IAGP-20] Expired certificate screen
  img/features/euCovidCert/certificate_expired.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/screens/EuCovidCertExpiredScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertificateRouterScreen.tsx
  ts/features/euCovidCert/types/EUCovidCertificate.ts
Labels: EU Covid Certificate

#3097 chore(Bonus Pagamenti Digitali): [IAC-70] Copy fix
  locales/en/index.yml
  locales/it/index.yml
Labels: Bonus Pagamenti Digitali

#3098 chore(Bonus Pagamenti Digitali): [IAC-71] Added Venpay logo
  img/wallet/payment-methods/venpay-logo.png
Labels: Bonus Pagamenti Digitali

#3099 chore(EU Covid Certificate): [IAGP-45] Make ActivityIndicator bigger
  ts/features/euCovidCert/screens/EuCovidCertLoadingScreen.tsx
Labels: EU Covid Certificate

#3102 chore(EU Covid Certificate): [IAGP-44] Update api specs and add the "expired" state
  package.json
  ts/features/euCovidCert/saga/networking/__tests__/handleGetEuCovidCertificate.test.ts
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
  ts/features/euCovidCert/types/EUCovidCertificate.ts
Labels: EU Covid Certificate

#3100 chore(EU Covid Certificate): [IAGP-46] Prevent the Covid CERT CTA if FF is disabled
  ts/components/messages/MessageListCTABar.tsx
Labels: EU Covid Certificate

#3101 feat(EU Covid Certificate): [IAGP-2] Introduces the SectionStatusComponent on BaseEuCovidCertificateLayout component
  ts/features/euCovidCert/screens/BaseEuCovidCertificateLayout.tsx
Labels: EU Covid Certificate

#3091 feat(EU Covid Certificate): [IAGP-22] Certificate not found screen
  img/features/euCovidCert/certificate_not_found.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/screens/__test__/EuCovidCertificateRouterScreen.test.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertNotFoundKoScreen.tsx
  ts/features/euCovidCert/screens/ko/__tests__/EuCovidCertNotFoundKoScreen.test.tsx
  ts/features/euCovidCert/store/reducers/current.ts
Labels: EU Covid Certificate

#3093 feat(EU Covid Certificate): [IAGP-35] Certificate in wrong format
  img/features/euCovidCert/certificate_wrong_format.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/screens/__test__/EuCovidCertificateRouterScreen.test.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertWrongFormatKoScreen.tsx
  ts/features/euCovidCert/screens/ko/__tests__/EuCovidCertWrongFormatKoScreen.test.tsx
Labels: EU Covid Certificate

#3104 chore(EU Covid Certificate): [IAGP-47] Change the ttl of the volatile cache
  ts/features/euCovidCert/saga/networking/__tests__/handleGetEuCovidCertificate.test.ts
  ts/features/euCovidCert/screens/EuCovidCertificateRouterScreen.tsx
  ts/features/euCovidCert/store/reducers/__test__/byAuthCode.test.ts
  ts/features/euCovidCert/store/reducers/byAuthCode.ts
  ts/features/euCovidCert/store/reducers/index.ts
Labels: EU Covid Certificate

#3106 chore(EU Covid Certificate): [IAGP-49] Add certificate expired test case
  ts/features/euCovidCert/saga/networking/__tests__/handleGetEuCovidCertificate.test.ts
Labels: EU Covid Certificate

#3105 fix(EU Covid Certificate): [IAGP-48] Adds preferredLanguage parameter to certificate detail API request
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
Labels: EU Covid Certificate

#3103 feat(EU Covid Certificate): [IAGP-17,IAGP-37] Save QRCode and certificate details as image
  locales/en/index.yml
  locales/it/index.yml
  ts/components/FiscalCodeLandscapeOverlay.tsx
  ts/features/euCovidCert/components/FlashAnimatedComponent.tsx
  ts/features/euCovidCert/screens/BaseEuCovidCertificateLayout.tsx
  ts/features/euCovidCert/screens/__test__/EUCovidCertValidScreen.test.tsx
  ts/features/euCovidCert/screens/__test__/EuCovidCertificateRouterScreen.test.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertMarkdownDetailsScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertValidScreen.tsx
  ts/features/euCovidCert/utils/screenshoot.ts
  ts/utils/bottomSheet.ts
Labels: EU Covid Certificate

#3112 chore(EU Covid Certificate): [IAGP-50] Enable EuCovidCert feature flag
  .env.local
  .env.production
Labels: EU Covid Certificate

#3109 chore(EU Covid Certificate): [IAGP-27] Add mixpanel tracking
  ts/features/euCovidCert/analytics/index.ts
  ts/features/euCovidCert/analytics/placeholder
  ts/features/euCovidCert/saga/networking/__tests__/handleGetEuCovidCertificate.test.ts
  ts/features/euCovidCert/saga/networking/handleGetEuCovidCertificate.ts
  ts/features/euCovidCert/screens/EuCovidCertExpiredScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertRevokedScreen.tsx
  ts/features/euCovidCert/screens/EuCovidCertificateRouterScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertMarkdownDetailsScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertValidScreen.tsx
  ts/features/euCovidCert/types/EUCovidCertificate.ts
  ts/features/euCovidCert/types/__mock__/EUCovidCertificate.mock.ts
  ts/store/middlewares/analytics.ts
Labels: EU Covid Certificate

#3114 chore(EU Covid Certificate): [IAGP-51] Track eucovidcert message
  ts/store/middlewares/analytics.ts
Labels: EU Covid Certificate

#3115 chore(EU Covid Certificate): [IAGP-52] Copy check
  locales/en/index.yml
  locales/it/index.yml
Labels: EU Covid Certificate

#3116 chore(EU Covid Certificate): [IAGP-53] Graphical refinements
  locales/en/index.yml
  locales/it/index.yml
  ts/features/euCovidCert/screens/valid/EuCovidCertMarkdownDetailsScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertValidScreen.tsx
Labels: EU Covid Certificate

#3124 chore(Sicilia Vola): [IASV-3] Add SiciliaVola feature flag
  .env.local
  .env.production
  ts/config.ts
Labels: Sicilia Vola

#3127 fix(EU Covid Certificate): [IAGP-56] Add overflow wrap for markdown component
  ts/components/ui/Markdown/index.tsx
Labels: EU Covid Certificate

#3130 chore(EU Covid Certificate): [IAGP-61] Add shouldAskForScreenshotWithInitialValue
  ts/features/euCovidCert/screens/BaseEuCovidCertificateLayout.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertMarkdownDetailsScreen.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertQrCodeFullScreen.tsx
Labels: EU Covid Certificate

#3074 chore(Sicilia Vola): [IASV-5] Add sicilia vola actions, store & reducer placeholders
  ts/features/bonus/bonusVacanze/store/reducers/index.ts
  ts/features/bonus/siciliaVola/analytics/placeholder
  ts/features/bonus/siciliaVola/navigation/placeholder
  ts/features/bonus/siciliaVola/saga/placeholder
  ts/features/bonus/siciliaVola/screens/placeholder
  ts/features/bonus/siciliaVola/store/actions/index.ts
  ts/features/bonus/siciliaVola/store/actions/voucherGeneration.ts
  ts/features/bonus/siciliaVola/store/reducers/index.ts
  ts/features/bonus/siciliaVola/store/reducers/voucherGeneration.ts
  ts/store/actions/types.ts
Labels: Sicilia Vola

#3148 chore(Bonus Pagamenti Digitali): [IAC-80] Supercashback copy update
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/bpd/components/superCashbackRanking/SuperCashbackRanking.tsx
Labels: Bonus Pagamenti Digitali

#3150 chore(Redesign Servizi): [IARS-3] Adds Redesign Servizi to Changelog scopes
  scripts/ts/danger/utils/changelog.ts
Labels: Redesign Servizi

#3152 chore: [IA-39] Copy update
  locales/en/index.yml
  locales/it/index.yml
Labels: dont-merge :raised_hand:

#3120 fix(EU Covid Certificate): [IAGP-57] Change locales for photolibrary permission
  CODEOWNERS
  ios/ItaliaApp/Info.plist
  ios/ItaliaApp/it.lproj/InfoPlist.strings
  locales/en/index.yml
  locales/it/index.yml
Labels: EU Covid Certificate

#3113 chore(Bonus Pagamenti Digitali): [IAC-7] Remove technical iban feature flag
  .env.local
  .env.production
  ts/config.ts
  ts/features/bonus/bpd/api/backendBpdClient.ts
  ts/features/bonus/bpd/api/citizen/v1.ts
  ts/features/bonus/bpd/saga/index.ts
  ts/features/bonus/bpd/saga/networking/index.ts
Labels: Bonus Pagamenti Digitali

#3161 chore(EU Covid Certificate): [IAGP-65] Add top and bottom qrcode spacing
  ts/features/euCovidCert/screens/valid/EuCovidCertValidScreen.tsx
Labels: EU Covid Certificate

#3166 chore(Bonus Pagamenti Digitali): [IAC-82] Graphical review for cashback states
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/bpd/screens/details/components/summary/textualSummary/ClosedTextualSummary.tsx
Labels: Bonus Pagamenti Digitali

#3135 feat(Payments): [#178212517] Show information about 3DS verification
  locales/en/index.yml
  locales/it/index.yml
  ts/components/screens/ScreenContentHeader.tsx
  ts/components/wallet/PayWebViewModal.tsx
  ts/components/wallet/__test__/PayWebViewModal.test.tsx
Labels: Payments, dont-merge :raised_hand:

#3163 feat(Redesign Servizi): [IARS-2] Introduces the services contact preference screen
  .env.local
  .env.production
  locales/en/index.yml
  locales/it/index.yml
  ts/config.ts
  ts/navigation/OnboardingNavigator.ts
  ts/navigation/ProfileNavigator.ts
  ts/navigation/routes.ts
  ts/sagas/services/servicesOptinSaga.ts
  ts/sagas/startup.ts
  ts/screens/onboarding/OnboardingServicesPreferenceScreen.tsx
  ts/screens/profile/PreferencesScreen.tsx
  ts/screens/profile/ServicesPreferenceScreen.tsx
  ts/screens/profile/components/services/ServicesContactComponent.tsx
  ts/store/actions/navigation.ts
  ts/store/actions/onboarding.ts
Labels: Redesign Servizi

#3133 fix(Bonus Pagamenti Digitali): [IAC-75, IA-70] Fix spacing area in darklayout button footer for iphone 12
  ios/Podfile.lock
  package.json
  ts/features/bonus/bpd/screens/details/transaction/GoToTransactions.tsx
  yarn.lock
Labels: Bonus Pagamenti Digitali

#3172 fix(Bonus Pagamenti Digitali): [IAC-84] Wrong textual representation when superCashbackAmount === 0 for a period
  ts/features/bonus/bpd/screens/details/components/summary/textualSummary/ClosedTextualSummary.tsx
Labels: Bonus Pagamenti Digitali
