Repository pagopa/io-app, pull requests merged in 2021-03, with the labels that each got.

#2866 fix(Bonus Pagamenti Digitali): [#176993827] In SuperCashbackRanking bottom sheet text is selectable
  ts/components/ui/Markdown/index.tsx
  ts/features/bonus/bpd/components/superCashbackRanking/SuperCashbackRanking.tsx
Labels: platform-android

#2854 fix: [#176903407] Inhibit dark mode on Android devices
  android/app/src/main/res/values/styles.xml
Labels: platform-android

#2836 feat(Carta Giovani Nazionale): [#176959207] UI Implementation of the List item component for CGN Conventioned Merchant
  android/app/src/main/assets/fonts/io-icon-font.ttf
  android/link-assets-manifest.json
  assets/fonts/io-icon-font/io-icon-font.ttf
  ios/ItaliaApp.xcodeproj/project.pbxproj
  ios/ItaliaApp/Info.plist
  ios/link-assets-manifest.json
  ts/features/bonus/cgn/components/merchants/CgnMerchantListItem.tsx
  ts/features/bonus/cgn/navigation/actions.ts
  ts/features/bonus/cgn/navigation/navigator.ts
  ts/features/bonus/cgn/navigation/routes.ts
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/screens/merchants/CgnMerchantsListScreen.tsx
  ts/theme/font-icons/io-icon-font/selection.json
Labels: CGN

#2858 chore: [#176981388] Credit card onboarding attempt: store info about 3DS2
  ts/components/wallet/PayWebViewModal.tsx
  ts/components/wallet/__test__/PayWebViewModal.test.tsx
  ts/screens/wallet/ConfirmCardDetailsScreen.tsx
  ts/screens/wallet/PaymentHistoryDetailsScreen.tsx
  ts/screens/wallet/WalletHomeScreen.tsx
  ts/screens/wallet/creditCardOnboardingAttempts/CreditCardOnboardingAttemptDetailScreen.tsx
  ts/screens/wallet/creditCardOnboardingAttempts/CreditCardOnboardingAttemptsScreen.tsx
  ts/store/actions/wallet/payment.ts
  ts/store/actions/wallet/wallets.ts
  ts/store/middlewares/analytics.ts
  ts/store/reducers/__tests__/creditCard.test.ts
  ts/store/reducers/payments/history.ts
  ts/store/reducers/wallet/creditCard.ts
  ts/store/reducers/wallet/lastRequestError.ts
  ts/store/reducers/wallet/wallets.ts
  ts/utils/payment.ts
Labels: 3DS2

#2898 feat(Carta Giovani Nazionale): [#176715099] Introduces the CGN folded card for wallet preview
  img/bonus/cgn/cgn-preview.png
  ts/features/bonus/cgn/components/CgnCardInWalletComponent.tsx
  ts/features/bonus/cgn/components/detail/CgnCardComponent.tsx
  ts/screens/wallet/WalletHomeScreen.tsx
Labels: CGN

#2913 fix(Carta Giovani Nazionale): [#177367873] Transactions header in wallet home shows before the required scroll position if CGN informations are available
  ts/screens/wallet/WalletHomeScreen.tsx
Labels: CGN

#2908 feat(Carta Giovani Nazionale): [#176959393,#177244360] Implements the screen to request and copy for an OTP code related to the CGN
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/bonusVacanze/components/buttons/ButtonConfigurations.ts
  ts/features/bonus/cgn/components/otp/OtpNotWorking.tsx
  ts/features/bonus/cgn/navigation/actions.ts
  ts/features/bonus/cgn/navigation/navigator.ts
  ts/features/bonus/cgn/navigation/routes.ts
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/screens/CgnOtpScreen.tsx
Labels: CGN

#2855 feat(Carta Giovani Nazionale): [#177062520,#177062719] Add start/status Eyca API requests implementation, actions, reduces and saga logic
  ts/features/bonus/cgn/api/backendCgn.ts
  ts/features/bonus/cgn/saga/index.ts
  ts/features/bonus/cgn/saga/networking/__test__/getEycaStatus.test.ts
  ts/features/bonus/cgn/saga/networking/eyca/activation/getEycaActivationSaga.ts
  ts/features/bonus/cgn/saga/networking/eyca/details/getEycaStatus.ts
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/store/actions/eyca/activation.ts
  ts/features/bonus/cgn/store/actions/eyca/details.ts
  ts/features/bonus/cgn/store/actions/index.ts
  ts/features/bonus/cgn/store/reducers/eyca/activation.ts
  ts/features/bonus/cgn/store/reducers/eyca/details.ts
  ts/features/bonus/cgn/store/reducers/eyca/index.ts
Labels: CGN

#2893 feat(Carta Giovani Nazionale): [#176655458] Enables CGN Activation CTA from message/service detail
  ts/components/ui/Markdown/handlers/internalLink.ts
  ts/features/bonus/cgn/navigation/navigator.ts
  ts/features/bonus/cgn/saga/index.ts
  ts/features/bonus/cgn/saga/orchestration/activation/activationSaga.ts
  ts/features/bonus/cgn/screens/activation/CgnCTAStartActivationScreen.tsx
  ts/features/bonus/cgn/screens/activation/CgnInformationScreen.tsx
  ts/features/bonus/common/components/BonusInformationComponent.tsx
Labels: CGN

#2857 chore(Carta Giovani Nazionale): [#177142013] Adds UI Fixes to CgnDetailScreen and removes unnecessary component and tests
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/cgn/components/detail/CgnInfoboxDetail.tsx
  ts/features/bonus/cgn/components/detail/CgnStatusDetail.tsx
  ts/features/bonus/cgn/components/detail/__test__/CgnInfoboxDetail.test.tsx
  ts/features/bonus/cgn/components/detail/__test__/CgnStatusDetail.test.tsx
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/store/reducers/details.ts
Labels: CGN

#2920 feat(Carta Giovani Nazionale): [#177386642,#177367453] Missing loading transition on CGN Detail Screen
  ts/features/bonus/cgn/components/detail/CgnCardComponent.tsx
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/store/reducers/details.ts
Labels: CGN

#2867 feat(Carta Giovani Nazionale): [#177063605] Introduces EYCA status informations
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/cgn/components/detail/eyca/EycaDetailComponent.tsx
  ts/features/bonus/cgn/components/detail/eyca/EycaErrorComponent.tsx
  ts/features/bonus/cgn/components/detail/eyca/EycaPendingComponent.tsx
  ts/features/bonus/cgn/components/detail/eyca/EycaStatusDetailsComponent.tsx
  ts/features/bonus/cgn/saga/index.ts
  ts/features/bonus/cgn/saga/networking/eyca/activation/getEycaActivationSaga.ts
  ts/features/bonus/cgn/saga/networking/eyca/activation/getEycaActivationStatus.ts
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/store/actions/eyca/activation.ts
  ts/features/bonus/cgn/store/reducers/eyca/activation.ts
  ts/features/bonus/cgn/store/reducers/eyca/details.ts
Labels: CGN

#2870 feat(Carta Giovani Nazionale): [#177163732] Introduces EYCA information and discounts bottom sheet
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/cgn/components/detail/eyca/EycaDetailComponent.tsx
  ts/features/bonus/cgn/components/detail/eyca/EycaErrorComponent.tsx
  ts/features/bonus/cgn/components/detail/eyca/EycaInformationComponent.tsx
  ts/features/bonus/cgn/components/detail/eyca/EycaPendingComponent.tsx
  ts/features/bonus/cgn/components/detail/eyca/EycaStatusDetailsComponent.tsx
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
Labels: CGN

#2872 feat(Carta Giovani Nazionale): [#177115055] Adds the workflow to retry EYCA activation in case of Error or missing EYCA information for CGN
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/cgn/components/detail/eyca/EycaDetailComponent.tsx
  ts/features/bonus/cgn/navigation/actions.ts
  ts/features/bonus/cgn/navigation/navigator.ts
  ts/features/bonus/cgn/navigation/routes.ts
  ts/features/bonus/cgn/saga/index.ts
  ts/features/bonus/cgn/saga/orchestration/eyca/eycaActivationSaga.ts
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/screens/eyca/activation/EycaActivationLoading.tsx
  ts/features/bonus/cgn/store/actions/eyca/activation.ts
  ts/features/bonus/cgn/store/reducers/eyca/activation.ts
  ts/features/bonus/cgn/store/reducers/eyca/details.ts
Labels: CGN

#2925 chore(Carta Giovani Nazionale): [#177403331] Adds the missing CGN action for analytics purposes
  ts/features/bonus/cgn/analytics/index.ts
Labels: CGN

#2927 fix(Carta Giovani Nazionale): [#177419110] If we receive an error after a right result the CGN detail screen show an inconsistent result
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/store/reducers/details.ts
Labels: CGN

#2928 chore(Carta Giovani Nazionale): [#177437163] Fixes mocked merchant for internal beta
  ts/features/bonus/cgn/__mock__/availableMerchantDetail.ts
  ts/features/bonus/cgn/__mock__/availableMerchants.ts
  ts/features/bonus/cgn/components/merchants/CgnMerchantListItem.tsx
Labels: CGN
