Repository pagopa/io-app, pull requests merged in 2021-08, with the labels that each got.

#3263 improve German translation
  locales/de/index.yml
Labels: German 🇩🇪

#3268 fix(Redesign Servizi): [IARS-43] Render maximum amount of information available
  ts/components/services/ServiceMetadata/index.tsx
  ts/screens/services/ServiceDetailsScreen.tsx
  ts/screens/services/__tests__/ServiceDetailsScreen.test.ts
  ts/screens/services/__tests__/ServiceDetailsScreen.test.tsx
Labels: Redesign Servizi

#3256 feat(Sicilia Vola): [IASV-35] Add ToS component
  locales/en/index.yml
  locales/it/index.yml
  ts/components/TosWebviewComponent.tsx
  ts/features/bonus/siciliaVola/components/AcceptTosComponent.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/CheckStatusRouterScreen.tsx
Labels: Sicilia Vola

#3273 feat(Sicilia Vola): [IASV-23] Select beneficiary category screen
  locales/en/index.yml
  locales/it/index.yml
  ts/components/core/selection/RadioButtonList.tsx
  ts/features/bonus/siciliaVola/saga/orchestration/voucherGeneration.ts
  ts/features/bonus/siciliaVola/screens/voucherGeneration/CheckStatusRouterScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/SelectBeneficiaryCategoryScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/ko/SvCheckIncomeKoScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/ko/SvCheckResidenceKoScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/ko/SvGeneratedVoucherTimeoutScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/ko/SvSelectBeneficiaryCategoryKoScreen.tsx
Labels: Sicilia Vola

#3278 chore(Sicilia Vola): [IASV-41] Add check income component
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/siciliaVola/components/CheckIncomeComponent.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/SickCheckIncomeScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/WorkerCheckIncomeScreen.tsx
Labels: Sicilia Vola

#3279 feat(Sicilia Vola): [IASV-24] Check income worker screen
  ts/features/bonus/siciliaVola/screens/voucherGeneration/WorkerCheckIncomeScreen.tsx
Labels: Sicilia Vola

#3280 feat(Sicilia Vola): [IASV-28] Add check income sick screen
  ts/features/bonus/siciliaVola/screens/voucherGeneration/SickCheckIncomeScreen.tsx
Labels: Sicilia Vola

#3276 feat(Sicilia Vola): [IASV-30] Additional information screen for disabled
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/siciliaVola/screens/voucherGeneration/DisabledAdditionalInfoScreen.tsx
Labels: Sicilia Vola

#3284 feat(Sicilia Vola): [IASV-31] Select flights date screen
  android/app/build.gradle
  android/app/src/main/java/it/pagopa/io/app/MainApplication.java
  android/settings.gradle
  ios/Podfile.lock
  jest.config.js
  locales/en/index.yml
  locales/it/index.yml
  package.json
  ts/components/ui/DateTimePicker.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/SelectFlightsDateScreen.tsx
  yarn.lock
Labels: Sicilia Vola

#3288 feat(Sicilia Vola): [IASV-34] Select region screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/siciliaVola/components/CheckResidenceComponent.tsx
  ts/features/bonus/siciliaVola/components/__tests__/CheckResidenceComponent.test.tsx
Labels: Sicilia Vola

#3123 feat(Carta Giovani Nazionale): [#178358407,#178358013] Integrates merchants search API for CGN
  package.json
  ts/components/ui/Markdown/index.tsx
  ts/features/bonus/cgn/__mock__/availableMerchants.ts
  ts/features/bonus/cgn/api/backendCgnMerchants.ts
  ts/features/bonus/cgn/components/merchants/CgnDiscountDetail.tsx
  ts/features/bonus/cgn/components/merchants/CgnMerchantListItem.tsx
  ts/features/bonus/cgn/components/merchants/CgnMerchantsDiscountItem.tsx
  ts/features/bonus/cgn/components/merchants/CgnMerchantsFilters.tsx
  ts/features/bonus/cgn/components/merchants/CgnMerchantsListView.tsx
  ts/features/bonus/cgn/navigation/actions.ts
  ts/features/bonus/cgn/saga/index.ts
  ts/features/bonus/cgn/saga/networking/merchants/cgnMerchantsSaga.ts
  ts/features/bonus/cgn/screens/merchants/CgnMerchantDetailScreen.tsx
  ts/features/bonus/cgn/screens/merchants/CgnMerchantsListScreen.tsx
  ts/features/bonus/cgn/screens/merchants/CgnMerchantsTabsScreen.tsx
  ts/features/bonus/cgn/store/actions/merchants.ts
  ts/features/bonus/cgn/store/reducers/merchants.ts
  ts/features/bonus/cgn/utils/filters.ts
  ts/features/euCovidCert/screens/ko/EuCovidCertNotFoundKoScreen.tsx
  ts/features/euCovidCert/screens/ko/EuCovidCertWrongFormatKoScreen.tsx
Labels: Carta Giovani Nazionale

#3305 chore(Carta Giovani Nazionale): [#179247891] Sync cgn updated specs
  package.json
  ts/features/bonus/cgn/components/merchants/CgnDiscountDetail.tsx
  ts/features/bonus/cgn/components/merchants/CgnMerchantsDiscountItem.tsx
  ts/features/bonus/cgn/screens/merchants/CgnMerchantDetailScreen.tsx
  ts/features/bonus/cgn/utils/filters.ts
Labels: Carta Giovani Nazionale

#3316 feat(Carta Giovani Nazionale): [#179282600] Integrates CGN Merchant Landing page discount option
  locales/en/index.yml
  locales/it/index.yml
  ts/components/WebviewComponent.tsx
  ts/components/__tests__/WebviewComponent.test.tsx
  ts/components/__tests__/__snapshots__/WebviewComponent.test.tsx.snap
  ts/features/bonus/cgn/components/merchants/CgnDiscountDetail.tsx
  ts/features/bonus/cgn/components/merchants/CgnMerchantsDiscountItem.tsx
  ts/features/bonus/cgn/navigation/actions.ts
  ts/features/bonus/cgn/navigation/navigator.ts
  ts/features/bonus/cgn/navigation/routes.ts
  ts/features/bonus/cgn/screens/merchants/CgnMerchantLandingWebview.tsx
  ts/utils/bottomSheet.ts
Labels: Carta Giovani Nazionale

#3267 feat(Sicilia Vola): [IASV-12] SiciliaVola api integration
  assets/SiciliaVola.yml
  package.json
  ts/features/bonus/siciliaVola/api/backendSiciliaVola.ts
  ts/features/bonus/siciliaVola/saga/index.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetAeroportiBeneficiario.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetDettaglioVoucher.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetListaComuniBySiglaProvincia.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetListaProvinceByIdRegione.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetListaRegioni.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetStatiUE.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetVoucherBeneficiario.ts
  ts/features/bonus/siciliaVola/saga/networking/handlePostAggiungiVoucher.ts
  ts/features/bonus/siciliaVola/saga/networking/handleSvAcceptTos.ts
  ts/features/bonus/siciliaVola/saga/networking/handleSvServiceAlive.ts
  ts/features/bonus/siciliaVola/saga/networking/handleSvTosAccepted.ts
  ts/features/bonus/siciliaVola/saga/networking/handleVoucherRevocation.ts
  ts/features/bonus/siciliaVola/screens/voucherGeneration/SummaryScreen.tsx
  ts/features/bonus/siciliaVola/store/actions/activation.ts
  ts/features/bonus/siciliaVola/store/actions/voucherGeneration.ts
  ts/features/bonus/siciliaVola/store/actions/voucherList.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/availableDestinations.test.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/availableMunicipalities.test.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/availableProvinces.test.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/availableRegions.test.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/voucherGenerated.test.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/voucherList.test.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/voucherRequest.test.ts
  ts/features/bonus/siciliaVola/store/reducers/activation.ts
  ts/features/bonus/siciliaVola/store/reducers/availableDestinations.ts
  ts/features/bonus/siciliaVola/store/reducers/index.ts
  ts/features/bonus/siciliaVola/store/reducers/selectedVoucher.ts
  ts/features/bonus/siciliaVola/store/reducers/voucherGenerated.ts
  ts/features/bonus/siciliaVola/store/reducers/voucherList.ts
  ts/features/bonus/siciliaVola/types/SvVoucher.ts
  ts/features/bonus/siciliaVola/types/SvVoucherRequest.ts
  ts/features/bonus/siciliaVola/types/SvVoucherResponse.ts
  ts/features/bonus/siciliaVola/types/svVoucherResponse.ts
  ts/sagas/startup.ts
  tsconfig.json
Labels: Sicilia Vola
