Repository pagopa/io-app, pull requests merged in 2021-11, with the labels that each got.

#3439 chore(Sicilia Vola): [IASV-46] Download voucher pdf
  assets/SiciliaVola.yml
  ios/ItaliaApp.xcodeproj/project.pbxproj
  ios/ItaliaApp/Info.plist
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/siciliaVola/api/backendSiciliaVola.ts
  ts/features/bonus/siciliaVola/components/VoucherDetailBottomsheet.tsx
  ts/features/bonus/siciliaVola/saga/index.ts
  ts/features/bonus/siciliaVola/saga/networking/handleGetStampaVoucher.ts
  ts/features/bonus/siciliaVola/screens/voucherGeneration/VoucherGeneratedScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherList/VoucherDetailsScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherList/VoucherListScreen.tsx
  ts/features/bonus/siciliaVola/store/actions/voucherGeneration.ts
  ts/features/bonus/siciliaVola/store/reducers/selectedVoucher.ts
  ts/store/reducers/backoffError.ts
Labels: Sicilia Vola

#3461 chore: [IA-408] Remove close button in PayPal onboarding success screen
  ts/features/wallet/onboarding/paypal/screen/PayPalOnboardingCompletedSuccessScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/PayPalOnboardingCompletedSuccessScreen.test.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/__snapshots__/PayPalOnboardingCompletedSuccessScreen.test.tsx.snap
Labels: paypal

#3464 chore(Zendesk): [ASZ-115] Add Zendesk Id for title generation and changelog
  scripts/ts/danger/utils/changelog.ts
Labels: Zendesk

#3463 fix: [IA-414,IA-415] PTT_PAGAMENTO_DUPLICATO error code is not handled
  ts/screens/wallet/payment/__tests__/TransactionErrorScreen.test.tsx
  ts/utils/__tests__/payment.test.ts
  ts/utils/payment.ts
Labels: Payments

#3469 feat: [IA-304] Add "what is a psp" bottom sheet info
  locales/en/index.yml
  locales/it/index.yml
  ts/features/wallet/onboarding/paypal/screen/PayPalPspSelectionScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/PayPalPpsSelectionScreen.test.tsx
Labels: paypal

#3462 chore(Zendesk): [ASZ-104] Add zendesk package
  android/build.gradle
  ios/ItaliaApp.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Zendesk

#3477 feat: [IA-382] Added a label read by screen reader
  locales/en/index.yml
  locales/it/index.yml
  ts/components/core/selection/__test__/__snapshots__/RemoteSwitch.test.tsx.snap
  ts/components/services/ContactPreferencesToggles/__test__/__snapshots__/PreferenceToggleRow.test.tsx.snap
  ts/components/ui/Switch.tsx
Labels: enhancement, accessibility

#3465 chore: [IA-407] Refactoring the list of available payment method to add
  img/wallet/payment-methods/bancomat_pay.svg
  img/wallet/payment-methods/creditcard.svg
  img/wallet/payment-methods/satispay-logo.svg
  img/wallet/unknown-gdo-primary.svg
  locales/en/index.yml
  locales/it/index.yml
  ts/components/wallet/PaymentMethodsList.tsx
  ts/features/wallet/onboarding/AddDigitalMethodScreen.tsx
  ts/features/wallet/onboarding/bancomatPay/saga/orchestration/addBPayToWallet.ts
  ts/features/wallet/onboarding/satispay/saga/orchestration/addSatispayToWallet.ts
  ts/navigation/WalletNavigator.ts
  ts/navigation/routes.ts
  ts/screens/wallet/AddPaymentMethodScreen.tsx
  ts/store/actions/navigation.ts
Labels: paypal

#3491 feat: [IA-445] Add PayPal payment method type
  assets/paymentManager/README.MD
  assets/paymentManager/spec.json
  ts/api/pagopa.ts
  ts/components/wallet/payment/PickAvailablePaymentMethodListItem.tsx
  ts/components/wallet/payment/PickNotAvailablePaymentMethodListItem.tsx
  ts/features/bonus/bpd/store/reducers/__mock__/bancomat.ts
  ts/features/wallet/component/card/WalletV2PreviewCards.tsx
  ts/features/wallet/creditCard/screen/__tests__/CreditCardDetailScreen.test.tsx
  ts/features/wallet/paypal/PayPalWalletPreview.tsx
  ts/screens/wallet/payment/__tests__/PickPaymentMethodScreen.test.tsx
  ts/store/reducers/wallet/wallets.ts
  ts/types/pagopa.ts
  ts/utils/paymentMethod.ts
  ts/utils/walletv2.ts
Labels: paypal

#3487 chore(Redesign Servizi): [IARS-47] Load service detail when navigating to service detail screen
  ts/screens/services/ServiceDetailsScreen.tsx
  ts/screens/services/__tests__/ServiceDetailsScreen.test.tsx
Labels: Redesign Servizi

#3509 feat: [IA-457] Show Paypal as method that can pay
  ts/components/wallet/payment/PickAvailablePaymentMethodListItem.tsx
  ts/screens/wallet/payment/ConfirmPaymentMethodScreen.tsx
  ts/screens/wallet/payment/PickPaymentMethodScreen.tsx
  ts/store/reducers/wallet/wallets.ts
Labels: paypal

#3513 feat: [IA-470] Paypal onboarding flow - part 1 of 2
  locales/it/index.yml
  ts/features/wallet/onboarding/paypal/navigation/navigator.ts
  ts/features/wallet/onboarding/paypal/navigation/routes.ts
  ts/features/wallet/onboarding/paypal/saga/index.ts
  ts/features/wallet/onboarding/paypal/saga/networking/index.ts
  ts/features/wallet/onboarding/paypal/saga/orchestration/index.ts
  ts/features/wallet/onboarding/paypal/screen/PayPalPspSelectionScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/PayPalStartOnboardingScreen.tsx
  ts/features/wallet/onboarding/paypal/store/actions/index.ts
  ts/features/wallet/onboarding/paypal/store/actions/navigation.ts
  ts/features/wallet/onboarding/paypal/store/reducers/index.ts
  ts/features/wallet/onboarding/paypal/store/reducers/selectedPsp.ts
  ts/navigation/WalletNavigator.ts
  ts/screens/wallet/AddPaymentMethodScreen.tsx
Labels: paypal

#3521 feat: [IA-497] Add screen to update paypal psp
  locales/en/index.yml
  locales/it/index.yml
  ts/features/wallet/onboarding/paypal/components/PspRadioItem.tsx
  ts/features/wallet/onboarding/paypal/screen/PayPalPspUpdateScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/PayPalPspUpdateScreen.test.tsx
Labels: paypal

#3528 chore(Zendesk): [ASZ-124] Update io-react-native-zendesk
  android/app/build.gradle
  ios/ItaliaApp.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Labels: Zendesk

#3452 chore(Sicilia Vola): [IASV-26] Select destination component
  locales/en/index.yml
  locales/it/index.yml
  ts/components/ui/TextboxWithSuggestion.tsx
  ts/features/bonus/siciliaVola/components/DestinationSelector.tsx
  ts/features/bonus/siciliaVola/components/WrappedMunicipalityFlatList.tsx
  ts/features/bonus/siciliaVola/store/actions/voucherGeneration.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/availableMunicipalities.test.ts
  ts/features/bonus/siciliaVola/store/reducers/__test__/availableStates.test.ts
  ts/features/bonus/siciliaVola/store/reducers/voucherGeneration/availableMunicipalities.ts
  ts/features/bonus/siciliaVola/store/reducers/voucherGeneration/availableStates.ts
Labels: Sicilia Vola

#3529 feat: [IA-436] Paypal psp: change privacy and ToS url in the info bottom sheet
  img/wallet/payment-methods/paypal/edit.svg
  locales/en/index.yml
  locales/it/index.yml
  ts/features/wallet/onboarding/paypal/components/PspInfoBottomSheet.tsx
  ts/features/wallet/onboarding/paypal/components/PspRadioItem.tsx
  ts/features/wallet/onboarding/paypal/saga/networking/index.ts
  ts/features/wallet/onboarding/paypal/screen/__mocks__/psp.ts
  ts/features/wallet/onboarding/paypal/screen/__tests__/PspRadioItem.test.tsx
  ts/features/wallet/onboarding/paypal/types/index.ts
Labels: paypal

#3515 feat: [IA-471] Paypal onboarding flow - part 2 of 2
  ts/components/wallet/PayWebViewModal.tsx
  ts/features/wallet/onboarding/paypal/navigation/navigator.ts
  ts/features/wallet/onboarding/paypal/navigation/routes.ts
  ts/features/wallet/onboarding/paypal/saga/index.ts
  ts/features/wallet/onboarding/paypal/saga/networking/index.ts
  ts/features/wallet/onboarding/paypal/saga/orchestration/index.ts
  ts/features/wallet/onboarding/paypal/screen/PayPalOnboardingCheckoutCompletedScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/PayPalOnboardingCheckoutScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/PayPalOnboardingCompletedSuccessComponent.tsx
  ts/features/wallet/onboarding/paypal/screen/PayPalOnboardingCompletedSuccessScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/PayPalPspSelectionScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/PayPalOnboardingCheckoutScreen.test.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/PayPalOnboardingCompletedSuccessComponent.test.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/__snapshots__/PayPalOnboardingCompletedSuccessComponent.test.tsx.snap
  ts/features/wallet/onboarding/paypal/screen/__tests__/__snapshots__/PayPalOnboardingCompletedSuccessScreen.test.tsx.snap
  ts/features/wallet/onboarding/paypal/store/actions/index.ts
  ts/features/wallet/onboarding/paypal/store/actions/navigation.ts
  ts/features/wallet/onboarding/paypal/store/reducers/index.ts
  ts/features/wallet/onboarding/paypal/store/reducers/outcomeCode.ts
  ts/features/wallet/onboarding/paypal/store/reducers/selectedPsp.ts
  ts/features/wallet/paypal/PayPalWalletPreview.tsx
  ts/features/wallet/paypal/screen/PaypalDetailScreen.tsx
  ts/navigation/WalletNavigator.ts
  ts/store/actions/navigation.ts
  ts/store/reducers/wallet/outcomeCode.ts
  ts/store/reducers/wallet/payment.ts
  ts/store/reducers/wallet/wallets.ts
Labels: paypal
