Repository pagopa/io-app, pull requests merged in 2022-11, with the labels that each got.

#4076 chore: [IAI-228] Remove/Update references to gradient values
  ts/components/core/variables/IOColors.ts
  ts/components/screens/DarkLayout.tsx
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/bonus/cgn/screens/merchants/CgnMerchantsCategoriesSelectionScreen.tsx
  ts/features/bonus/cgn/utils/filters.ts
Labels: Design System

#4159 feat(IDPay): [IODPAY-36] State machine accept ToS steps
  ts/features/idpay/onboarding/screens/InitiativeDetailScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/services.ts
Labels: IDPay

#4161 feat(IDPay): [IODPAY-38] Retrieve required criteria machine steps
  ts/features/idpay/onboarding/screens/InitiativeDetailScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/services.ts
  ts/screens/profile/playgrounds/IDPayOnboardingPlayground.tsx
Labels: IDPay

#4138 chore(Firma con IO): [SFEQS-1072] Add remote firma con io feature flag
  .env.local
  .env.production
  ts/store/reducers/backendStatus.ts
Labels: Firma con IO

#4163 feat(IDPay): [IODPAY-40] Add consent steps to machine
  ts/features/idpay/onboarding/screens/InitiativeDetailScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/services.ts
  ts/screens/profile/playgrounds/IDPayOnboardingPlayground.tsx
Labels: IDPay

#4153 feat(IDPay): [IODPAY-27] Add IDPay initiative details screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/screens/InitiativeDetailScreen.tsx
  ts/features/idpay/onboarding/screens/InitiativeDetailsScreen.tsx
Labels: IDPay

#4149 feat(IDPay): [IODPAY-28] PDND prerequisite screen skeleton
  locales/de/index.yml
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/screens/PDNDPrerequisites.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/actions.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/provider.tsx
  ts/features/idpay/onboarding/xstate/services.ts
Labels: IDPay

#4162 feat(IDPay): [IODPAY-39] Add Self Declarations screen
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/screens/InitiativeSelfDeclarationsScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/actions.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/screens/profile/playgrounds/IDPayOnboardingPlayground.tsx
Labels: IDPay

#4171 feat(IDPay): [IODPAY-4] Onboarding completion steps
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/screens/CompletionScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/actions.ts
  ts/features/idpay/onboarding/xstate/machine.ts
Labels: IDPay

#4165 feat(Firma con IO): [SFEQS-1073] Actions and reducers
  package.json
  ts/features/common/store/reducers/index.ts
  ts/features/fci/store/actions/index.ts
  ts/features/fci/store/reducers/__tests__/fciQtspClauses.test.ts
  ts/features/fci/store/reducers/__tests__/fciQtspFilledDocument.test.ts
  ts/features/fci/store/reducers/__tests__/fciSignature.test.ts
  ts/features/fci/store/reducers/__tests__/fciSignatureRequest.test.ts
  ts/features/fci/store/reducers/fciQtspClauses.ts
  ts/features/fci/store/reducers/fciQtspFilledDocument.ts
  ts/features/fci/store/reducers/fciSignature.ts
  ts/features/fci/store/reducers/fciSignatureRequest.ts
  ts/features/fci/store/reducers/index.ts
  ts/features/fci/types/__mocks__/CreateFilledDocumentBody.mock.ts
  ts/features/fci/types/__mocks__/CreateSignatureBody.mock.ts
  ts/features/fci/types/__mocks__/QtspClausesMetadata.mock.ts
  ts/features/fci/types/__mocks__/SignatureRequestDetailView.mock.ts
  ts/store/actions/types.ts
  yarn.lock
Labels: Firma con IO

#4177 chore(IDPay): [IODPAY-51] Avoid XState machine recreation on provider rerendering
  ts/features/idpay/onboarding/xstate/provider.tsx
  ts/hooks/useXStateMachine.tsx
Labels: IDPay

#4166 feat(Firma con IO): [SFEQS-1097] Router screen for signature request
  locales/en/index.yml
  locales/it/index.yml
  ts/components/ui/Markdown/handlers/internalLink.ts
  ts/features/fci/api/backendFci.ts
  ts/features/fci/components/ErrorComponent.tsx
  ts/features/fci/components/GenericErrorComponent.tsx
  ts/features/fci/components/SuccessComponent.tsx
  ts/features/fci/components/__tests__/ErrorComponent.test.tsx
  ts/features/fci/components/__tests__/SuccessComponent.test.tsx
  ts/features/fci/navigation/FciStackNavigator.tsx
  ts/features/fci/navigation/params.ts
  ts/features/fci/navigation/routes.ts
  ts/features/fci/saga/index.ts
  ts/features/fci/saga/networking/__tests__/handleGetSignatureRequestById.test.ts
  ts/features/fci/saga/networking/handleGetSignatureRequestById.ts
  ts/features/fci/screens/FciRouterScreen.tsx
  ts/features/fci/screens/__tests__/FciRouterScreen.test.tsx
  ts/features/fci/screens/valid/FciDocumentsScreen.tsx
  ts/navigation/AppStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
  ts/sagas/startup.ts
Labels: Firma con IO

#4174 feat(IDPay): [IODPAY-50] Implemented BottomSheetModal in PDNDPrerequisitesPage
  ts/features/idpay/onboarding/screens/PDNDPrerequisites.tsx
Labels: IDPay

#4179 chore(IDPay): [IODPAY-52] Add IDPay wallet API client
  package.json
  ts/features/idpay/wallet/api/client.ts
Labels: IDPay

#4187 feat(IDPay): [IODPAY-57] Create machine steps to start the initiative configuration
  ts/features/idpay/initiative/configuration/xstate/machine.ts
Labels: IDPay

#4186 fix: [IABT-1409] Remove bank reference from Bancomat Pay cards
  ts/components/core/variables/IOStyles.ts
  ts/features/wallet/bancomatpay/component/BPayCard.tsx
  ts/features/wallet/bancomatpay/component/BPayWalletPreview.tsx
  ts/features/wallet/bancomatpay/component/__test__/BPayCard.test.tsx
  ts/features/wallet/bancomatpay/component/__test__/BPayWalletPreview.test.tsx
  ts/features/wallet/bancomatpay/screen/BPayDetailScreen.tsx
  ts/features/wallet/creditCard/component/CreditCardComponent.tsx
  ts/features/wallet/onboarding/bancomatPay/screens/add-account/AddBPayComponent.tsx
  ts/features/wallet/paypal/PaypalCard.tsx
Labels: bancomatPay

#4191 feat(IDPay): [IODPAY-59] Add initiative configuration intro screen
  img/features/idpay/creditcard.svg
  img/features/idpay/institution.svg
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/configuration/navigation/navigator.tsx
  ts/features/idpay/initiative/configuration/screens/InitiativeConfigurationIntroScreen.tsx
  ts/features/idpay/initiative/configuration/xstate/actions.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
  ts/features/idpay/initiative/configuration/xstate/provider.tsx
  ts/features/idpay/initiative/configuration/xstate/services.ts
  ts/features/idpay/onboarding/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/wallet/components/IDPayCardPreviewComponent.tsx
  ts/features/idpay/wallet/components/IDPayCardsInWalletContainer.tsx
  ts/navigation/AppStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
Labels: IDPay

#4192 feat(IDPay): [IODPAY-45] Added BonusCardScreen
  img/features/idpay/bonus_bg_svg.svg
  img/features/idpay/empty_initiative.svg
  locales/en/index.yml
  locales/it/index.yml
  ts/features/common/store/reducers/index.ts
  ts/features/idpay/common/actions/index.ts
  ts/features/idpay/common/store/reducers/index.ts
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
  ts/features/idpay/initiative/details/saga/__test__/handleGetInitiativeDetails.test.ts
  ts/features/idpay/initiative/details/saga/handleGetInitiativeDetails.ts
  ts/features/idpay/initiative/details/saga/index.ts
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/initiative/details/store/__test__/store.test.ts
  ts/features/idpay/initiative/details/store/index.ts
  ts/features/idpay/wallet/components/IDPayCardsInWalletContainer.tsx
  ts/features/idpay/wallet/saga/index.ts
  ts/features/idpay/wallet/store/reducers/index.ts
  ts/navigation/AppStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
  ts/navigation/routes.ts
  ts/sagas/startup.ts
  ts/store/actions/types.ts
Labels: IDPay

#4205 feat(IDPay): [IODPAY-62] Refactor i18n to follow new naming conventions
  locales/de/index.yml
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
Labels: IDPay

#4207 fix: [IABT-1338] Fix missing separator in the `Add Payment Method` screen
  ts/components/wallet/PaymentMethodsList.tsx
Labels: Bug 🐞

#4198 feat(IDPay): [IODPAY-48] Add payment method association success screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/configuration/navigation/navigator.tsx
  ts/features/idpay/initiative/configuration/screens/AssociationSuccessScreen.tsx
Labels: IDPay

#4211 feat(IDPay): [IODPAY-63] Add machine steps to configure payment instruments
  ts/features/idpay/initiative/configuration/navigation/navigator.tsx
  ts/features/idpay/initiative/configuration/screens/ConfigurationSuccessScreen.tsx
  ts/features/idpay/initiative/configuration/screens/InitiativeConfigurationIntroScreen.tsx
  ts/features/idpay/initiative/configuration/xstate/actions.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
  ts/features/idpay/initiative/configuration/xstate/provider.tsx
  ts/features/idpay/initiative/configuration/xstate/services.ts
Labels: IDPay

#4199 feat(Firma con IO): [SFEQS-1053] Add signature fields screen with clause selection and box drawing
  locales/en/index.yml
  locales/it/index.yml
  package.json
  ts/features/fci/components/DocumentsNavigationBar.tsx
  ts/features/fci/components/SignatureFieldItem.tsx
  ts/features/fci/components/SuccessComponent.tsx
  ts/features/fci/components/__tests__/DocumentsNavigationBar.test.tsx
  ts/features/fci/components/__tests__/SignatureFieldItem.test.tsx
  ts/features/fci/components/__tests__/SuccessComponent.test.tsx
  ts/features/fci/components/__tests__/__snapshots__/SignatureFieldItem.test.tsx.snap
  ts/features/fci/hooks/useFciAbortSignatureFlow.tsx
  ts/features/fci/navigation/FciStackNavigator.tsx
  ts/features/fci/navigation/params.ts
  ts/features/fci/navigation/routes.ts
  ts/features/fci/saga/index.ts
  ts/features/fci/screens/__tests__/FciRouterScreen.test.tsx
  ts/features/fci/screens/__tests__/FciSignatureFieldsScreen.test.tsx
  ts/features/fci/screens/valid/FciDocumentsScreen.tsx
  ts/features/fci/screens/valid/FciSignatureFieldsScreen.tsx
  ts/features/fci/store/actions/index.ts
  ts/features/fci/store/reducers/__tests__/fciDocumentSignatures.test.ts
  ts/features/fci/store/reducers/__tests__/fciQtspClauses.test.ts
  ts/features/fci/store/reducers/__tests__/fciQtspFilledDocument.test.ts
  ts/features/fci/store/reducers/__tests__/fciSignature.test.ts
  ts/features/fci/store/reducers/__tests__/fciSignatureRequest.test.ts
  ts/features/fci/store/reducers/fciDocumentSignatures.ts
  ts/features/fci/store/reducers/fciQtspClauses.ts
  ts/features/fci/store/reducers/fciQtspFilledDocument.ts
  ts/features/fci/store/reducers/fciSignature.ts
  ts/features/fci/store/reducers/fciSignatureRequest.ts
  ts/features/fci/store/reducers/index.ts
  ts/features/fci/types/__mocks__/SignatureRequestDetailView.mock.ts
  ts/features/fci/utils/__tests__/signatureFields.test.ts
  ts/features/fci/utils/signatureFields.ts
  yarn.lock
Labels: Firma con IO
