Repository pagopa/io-app, pull requests merged in 2023-03, with the labels that each got.

#4421 chore(IDPay): [IODPAY-163] Copy changes
  locales/en/index.yml
  locales/it/index.yml
Labels: IDPay

#4426 chore(IDPay): [IODPAY-167] Show amount on PAID_REFUND operation
  package.json
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
Labels: IDPay

#4424 fix: [IABT-1436] Change the background activity timeout
  .env.local
  .env.production
Labels: legal-approved ⚖️ ✅

#4408 chore: [IOAPPFD0-39] Add temporary dark mode color palette
  ts/components/SectionStatus/StatusContent.tsx
  ts/components/SectionStatus/index.tsx
  ts/components/core/IOBadge.tsx
  ts/components/core/icons/Icon.tsx
  ts/components/core/icons/IconBiometric.tsx
  ts/components/core/icons/IconCategory.tsx
  ts/components/core/icons/IconNav.tsx
  ts/components/core/icons/IconProduct.tsx
  ts/components/core/pictograms/Pictogram.tsx
  ts/components/core/pictograms/PictogramSection.tsx
  ts/components/core/pictograms/SectionPictogram.tsx
  ts/components/core/typography/BaseTypography.tsx
  ts/components/core/typography/Body.tsx
  ts/components/core/typography/Factory.tsx
  ts/components/core/typography/H1.tsx
  ts/components/core/typography/H2.tsx
  ts/components/core/typography/H3.tsx
  ts/components/core/typography/H4.tsx
  ts/components/core/typography/H5.tsx
  ts/components/core/typography/Label.tsx
  ts/components/core/typography/LabelSmall.tsx
  ts/components/core/typography/Link.tsx
  ts/components/core/typography/Monospace.tsx
  ts/components/core/typography/__test__/typography.test.tsx
  ts/components/core/typography/common.tsx
  ts/components/core/variables/IOColors.ts
  ts/components/screens/BaseHeader.tsx
  ts/components/screens/TopScreenComponent.tsx
  ts/components/ui/ButtonSolid.tsx
  ts/features/bonus/cgn/components/detail/DepartmentLabel.tsx
  ts/features/design-system/core/DSColors.tsx
  ts/features/design-system/core/DSIcons.tsx
Labels: Design System, Dark mode 🌝

#4425 chore: [IAI-271] Delete separate Icon sets
  ts/components/Alert/index.tsx
  ts/components/core/icons/Icon.tsx
  ts/components/core/icons/IconBiometric.tsx
  ts/components/core/icons/IconCategory.tsx
  ts/components/core/icons/IconNav.tsx
  ts/components/core/icons/IconProduct.tsx
  ts/components/core/icons/README.md
  ts/components/core/icons/index.tsx
  ts/components/ui/ButtonExtendedOutline.tsx
  ts/components/ui/IconButton.tsx
  ts/components/ui/IconButtonSolid.tsx
  ts/features/design-system/components/DSIconViewerBox.tsx
  ts/features/design-system/core/DSButtons.tsx
  ts/features/design-system/core/DSIcons.tsx
  ts/features/idpay/initiative/configuration/screens/InstrumentsEnrollmentScreen.tsx
Labels: enhancement, Design System

#4405 feat: [LLK-49] Add section status banner for unsupported devices
  .env.local
  .env.production
  locales/en/index.yml
  locales/it/index.yml
  ts/components/SectionStatus/index.tsx
  ts/config.ts
  ts/features/lollipop/hooks/useLollipopLoginSource.tsx
  ts/features/lollipop/hooks/usePublicKeyState.tsx
  ts/features/lollipop/saga/index.ts
  ts/sagas/__tests__/initializeApplicationSaga.test.ts
  ts/screens/messages/MessagesHomeScreen.tsx
  ts/utils/crypto.ts
Labels: legal-approved ⚖️ ✅

#4419 fix(Firma con IO): [SFEQS-1293] Update main title style for all screens
  ts/features/fci/components/SignatureFieldItem.tsx
  ts/features/fci/components/__tests__/__snapshots__/SignatureFieldItem.test.tsx.snap
  ts/features/fci/screens/valid/FciDataSharingScreen.tsx
  ts/features/fci/screens/valid/FciQtspClausesScreen.tsx
  ts/features/fci/screens/valid/FciSignatureFieldsScreen.tsx
Labels: Firma con IO

#4427 chore: [IOAPPFD0-43] Add new toggle to enable preview of new design system
  locales/en/index.yml
  locales/it/index.yml
  ts/boot/__tests__/__snapshots__/persistedStore.test.ts.snap
  ts/components/Alert/index.tsx
  ts/components/core/typography/H1.tsx
  ts/screens/profile/ProfileMainScreen.tsx
  ts/store/actions/persistedPreferences.ts
  ts/store/reducers/persistedPreferences.ts
Labels: Design System

#4379 chore(IDPay): [IODPAY-152] IDPay client refactoring with merged API definitions
  package.json
  ts/features/design-system/core/DSListItems.tsx
  ts/features/idpay/common/api/__mocks__/client.ts
  ts/features/idpay/common/api/client.ts
  ts/features/idpay/common/labels.ts
  ts/features/idpay/common/saga/index.ts
  ts/features/idpay/initiative/configuration/components/InstrumentEnrollmentSwitch.tsx
  ts/features/idpay/initiative/configuration/iban/api/client.ts
  ts/features/idpay/initiative/configuration/navigation/navigator.tsx
  ts/features/idpay/initiative/configuration/screens/IbanConfigurationLandingScreen.tsx
  ts/features/idpay/initiative/configuration/screens/IbanEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/screens/IbanOnboardingScreen.tsx
  ts/features/idpay/initiative/configuration/screens/__test__/IbanEnrollmentScreen.test.tsx
  ts/features/idpay/initiative/configuration/xstate/__mocks__/services.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machine.test.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/transitions.test.ts
  ts/features/idpay/initiative/configuration/xstate/context.ts
  ts/features/idpay/initiative/configuration/xstate/events.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
  ts/features/idpay/initiative/configuration/xstate/provider.tsx
  ts/features/idpay/initiative/configuration/xstate/selectors.ts
  ts/features/idpay/initiative/configuration/xstate/services.ts
  ts/features/idpay/initiative/details/api/client.ts
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
  ts/features/idpay/initiative/details/components/InitiativeSettingsComponent.tsx
  ts/features/idpay/initiative/details/components/InitiativeTimelineComponent.tsx
  ts/features/idpay/initiative/details/components/TimelineDetailsBottomSheet.tsx
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
  ts/features/idpay/initiative/details/saga/__test__/handleGetInitiativeDetails.test.ts
  ts/features/idpay/initiative/details/saga/__test__/handleGetTimelineDetails.test.ts
  ts/features/idpay/initiative/details/saga/__test__/handleGetTimelinePage.test.ts
  ts/features/idpay/initiative/details/saga/handleGetInitiativeDetails.ts
  ts/features/idpay/initiative/details/saga/handleGetTimelineDetails.ts
  ts/features/idpay/initiative/details/saga/handleGetTimelinePage.ts
  ts/features/idpay/initiative/details/saga/index.ts
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/initiative/details/screens/OperationsListScreen.tsx
  ts/features/idpay/initiative/details/store/__test__/store.test.ts
  ts/features/idpay/initiative/details/store/actions/index.ts
  ts/features/idpay/initiative/details/store/index.ts
  ts/features/idpay/onboarding/api/client.ts
  ts/features/idpay/onboarding/screens/BoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/__tests__/services.test.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/provider.tsx
  ts/features/idpay/onboarding/xstate/selectors.ts
  ts/features/idpay/onboarding/xstate/services.ts
  ts/features/idpay/wallet/api/client.ts
  ts/features/idpay/wallet/components/IDPayCardsInWalletContainer.tsx
  ts/features/idpay/wallet/saga/__test__/handleGetIDPayWallet.test.ts
  ts/features/idpay/wallet/saga/handleGetIDPayWallet.ts
  ts/features/idpay/wallet/saga/index.ts
  ts/features/idpay/wallet/store/actions/index.ts
  ts/features/idpay/wallet/store/reducers/__test__/reducer.test.ts
  ts/features/idpay/wallet/store/reducers/index.ts
  ts/sagas/startup.ts
Labels: IDPay

#4399 feat(IDPay): Replace local IDPay feature flag with switch control
  locales/en/index.yml
  locales/it/index.yml
  ts/boot/__tests__/__snapshots__/persistedStore.test.ts.snap
  ts/config.ts
  ts/sagas/startup.ts
  ts/screens/profile/ProfileMainScreen.tsx
  ts/screens/wallet/WalletHomeScreen.tsx
  ts/store/actions/persistedPreferences.ts
  ts/store/reducers/backendStatus.ts
  ts/store/reducers/persistedPreferences.ts
Labels: IDPay

#4433 fix(Firma con IO): [SFEQS-1489] Update footer on document preview component with right label
  ts/features/fci/components/DocumentViewer.tsx
Labels: Firma con IO

#4410 chore(Firma con IO): [SFEQS-1452] Update signing saga to use Lollipop
  ts/features/fci/api/backendFci.ts
  ts/features/fci/saga/index.ts
  ts/features/fci/saga/networking/handleCreateSignature.ts
  ts/features/fci/store/reducers/fciSignatureRequest.ts
  ts/features/fci/utils/signature.ts
Labels: Firma con IO

#4432 chore: [IOAPPFD0-44] Add the new basic theme variables
  ts/components/Alert/index.tsx
  ts/components/core/typography/LabelSmall.tsx
  ts/components/core/variables/IOColors.ts
  ts/components/ui/ButtonSolid.tsx
  ts/components/ui/IconButtonSolid.tsx
  ts/features/design-system/components/DSIconViewerBox.tsx
  ts/features/design-system/components/DSSpacerViewerBox.tsx
  ts/features/design-system/core/DSColors.tsx
  ts/features/design-system/core/DSSpacing.tsx
  ts/features/fci/components/__tests__/__snapshots__/DocumentsNavigationBar.test.tsx.snap
  ts/features/idpay/initiative/configuration/screens/IbanEnrollmentScreen.tsx
  ts/features/wallet/onboarding/paypal/screen/__tests__/__snapshots__/PayPalOnboardingCompletedSuccessComponent.test.tsx.snap
Labels: Design System, Dark mode 🌝

#4428 feat(IDPay): [IODPAY-168] Prerequisites check error mapping in onboarding flow
  ts/features/idpay/onboarding/xstate/services.ts
Labels: IDPay

#4423 feat(Firma con IO): [SFEQS-1253] Update signature fields with accessibility
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/components/SignatureFieldItem.tsx
  ts/features/fci/components/__tests__/__snapshots__/SignatureFieldItem.test.tsx.snap
Labels: Firma con IO

#4445 fix(Firma con IO): [SFEQS-1437] Fix empty attributes when document to sign not has signature fields or coordinates
  ts/features/fci/utils/signature.ts
Labels: Firma con IO

#4447 fix: [IOAPPFD0-47] Remove extra properties from new buttons
  ts/components/core/variables/IOStyles.ts
  ts/components/ui/ButtonOutline.tsx
  ts/components/ui/ButtonSolid.tsx
  ts/features/design-system/core/DSButtons.tsx
Labels: Design System

#4449 chore(Firma con IO): [SFEQS-1508] Update fci definitions
  package.json
  ts/features/fci/api/backendFci.ts
  ts/features/fci/saga/networking/__tests__/handleCreateFilledDocument.test.ts
  ts/features/fci/saga/networking/handleCreateFilledDocument.ts
  ts/features/fci/saga/networking/handleCreateSignature.ts
  ts/features/fci/types/__mocks__/SignatureRequestDetailView.mock.ts
  yarn.lock
Labels: Firma con IO

#4450 fix(Firma con IO): [SFEQS-1511] Fix body on create signature request
  ts/features/fci/saga/networking/handleCreateSignature.ts
Labels: Firma con IO

#4431 fix: [IABT-1438] Implements zendesk Custom fields for payment log
  ts/screens/wallet/PaymentHistoryDetailsScreen.tsx
  ts/screens/wallet/payment/NewTransactionSummaryScreen.tsx
  ts/screens/wallet/payment/TransactionErrorScreen.tsx
  ts/utils/supportAssistance.ts
Labels: legal-approved ⚖️ ✅

#4454 fix(Firma con IO): [SFEQS-1512] Update file digest to use array buffer
  ts/features/fci/utils/signature.ts
Labels: Firma con IO

#4455 chore: [IOAPPFD0-49] Add dark mode support to the `Design System` section
  ios/ItaliaApp/Info.plist
  ts/components/core/typography/Body.tsx
  ts/components/core/typography/H2.tsx
  ts/components/core/typography/H3.tsx
  ts/components/core/typography/LabelSmall.tsx
  ts/components/core/variables/IOColors.ts
  ts/features/design-system/components/DSIconViewerBox.tsx
  ts/features/design-system/components/DSSpacerViewerBox.tsx
  ts/features/design-system/components/DesignSystemScreen.tsx
  ts/features/design-system/core/DSColors.tsx
  ts/features/design-system/core/DSIcons.tsx
  ts/features/design-system/core/DSSpacing.tsx
  ts/features/design-system/navigation/navigator.tsx
Labels: Design System, Dark mode 🌝

#4416 feat(IDPay): [IODPAY-162] Add instruments status polling in initiative configuration steps
  ts/features/idpay/initiative/configuration/xstate/__tests__/machine.test.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machineInstruments.test.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
Labels: IDPay

#4352 feat(IDPay): [IODPAY-129] Enable initiatives from instrument detail
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/bpd/components/BpdPaymentMethodCapability.tsx
  ts/features/idpay/wallet/components/IDPayInitiativesListComponents.tsx
  ts/features/idpay/wallet/saga/handleGetIDPayInitiativesFromInstrument.ts
  ts/features/idpay/wallet/saga/handleInitiativeInstrumentEnrollment.ts
  ts/features/idpay/wallet/saga/index.ts
  ts/features/idpay/wallet/screens/AvailableInitiativesList.tsx
  ts/features/idpay/wallet/store/actions/index.ts
  ts/features/idpay/wallet/store/reducers/__test__/reducer.test.ts
  ts/features/idpay/wallet/store/reducers/index.ts
  ts/features/wallet/component/__test__/PaymentMethodCapability.test.tsx
  ts/features/wallet/component/features/PaymentMethodInitiatives.tsx
  ts/features/wallet/creditCard/screen/CreditCardDetailScreen.tsx
  ts/features/wallet/creditCard/screen/__tests__/CreditCardDetailScreen.test.tsx
  ts/navigation/WalletNavigator.tsx
  ts/navigation/params/WalletParamsList.ts
  ts/navigation/routes.ts
Labels: IDPay

#4436 feat(IDPay): [IODPAY-110] Initiative card redesign
  img/features/idpay/card_full.png
  img/features/idpay/card_full@2x.png
  img/features/idpay/card_full@3x.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
Labels: IDPay

#4440 fix(IDPay): [IODPAY-173] Fix IDPay timeline operation amount sign
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
Labels: IDPay

#4476 chore: [IAI-272] Remove extra space at the end of the `Messages` main screen
  ts/components/messages/MessageList/index.tsx
  ts/features/design-system/core/DSLoaders.tsx
  ts/features/design-system/navigation/navigator.tsx
  ts/features/design-system/navigation/params.ts
  ts/features/design-system/navigation/routes.ts
Labels: enhancement, Design System

#4479 fix(IDPay): [IODPAY-183] Singular for payment methods i18n in initiative details page
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/details/components/InitiativeSettingsComponent.tsx
Labels: IDPay

#4389 feat(Firma con IO): [SFEQS-1402] Generic error component refactoring with copy updates
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/components/DocumentViewer.tsx
  ts/features/fci/components/ErrorComponent.tsx
  ts/features/fci/components/GenericErrorComponent.tsx
  ts/features/fci/components/InfoScreenComponent.tsx
  ts/features/fci/components/SuccessComponent.tsx
  ts/features/fci/components/__tests__/ErrorComponent.test.tsx
  ts/features/fci/components/__tests__/SuccessComponent.test.tsx
  ts/features/fci/saga/index.ts
  ts/features/fci/screens/FciRouterScreen.tsx
  ts/features/fci/screens/__tests__/FciQtspClausesScreen.test.tsx
  ts/features/fci/screens/__tests__/FciThankyouScreen.test.tsx
  ts/features/fci/screens/valid/FciDocumentPreviewScreen.tsx
  ts/features/fci/screens/valid/FciQtspClausesScreen.tsx
  ts/features/fci/screens/valid/FciThankyouScreen.tsx
Labels: Firma con IO

#4457 feat(Firma con IO): [SFEQS-1519] Add metadata reducer
  ts/features/fci/store/actions/index.ts
  ts/features/fci/store/reducers/__tests__/fciMetadata.test.ts
  ts/features/fci/store/reducers/fciMetadata.ts
  ts/features/fci/store/reducers/index.ts
  ts/features/fci/types/__mocks__/Metadata.mock.ts
Labels: Firma con IO

#4473 feat(Firma con IO): [SFEQS-1520] Update client with metadata
  ts/features/fci/api/backendFci.ts
  ts/features/fci/saga/index.ts
  ts/features/fci/saga/networking/__tests__/handleGetMetadata.test.ts
  ts/features/fci/saga/networking/handleGetMetadata.ts
Labels: Firma con IO

#4483 fix(IDPay): [IODPAY-115] New placeholder in IBAN onboarding page
  ts/components/core/pictograms/Pictogram.tsx
  ts/components/core/pictograms/svg/IBANCard.tsx
  ts/components/core/pictograms/svg/originals/IBANCard.svg
  ts/features/idpay/initiative/configuration/screens/IbanConfigurationLandingScreen.tsx
Labels: IDPay

#4490 fix: [IAI-273] Fix UI regression that occurred in the `BaseHeader` component
  ts/components/screens/BaseHeader.tsx
Labels: Bug 🐞, NativeBase dismissal 🥷🏼

#4485 chore: [IOAPPFD0-62] Add the new `Haptic Feedback` page to the Design System
  package.json
  ts/features/design-system/core/DSHapticFeedback.tsx
  ts/features/design-system/navigation/navigator.tsx
  ts/features/design-system/navigation/params.ts
  ts/features/design-system/navigation/routes.ts
  yarn.lock
Labels: a11y, Design System

#4435 chore: [IOAPPFD0-45] Add next iteration of the current buttons
  android/app/src/main/assets/fonts/ReadexPro-Regular.ttf
  android/link-assets-manifest.json
  assets/fonts/ReadexPro-OFL.txt
  assets/fonts/ReadexPro/ReadexPro-Regular.ttf
  assets/fonts/TitilliumWeb-OFL.txt
  ios/ItaliaApp.xcodeproj/project.pbxproj
  ios/ItaliaApp/Info.plist
  ios/link-assets-manifest.json
  react-native.config.js
  ts/components/Alert/index.tsx
  ts/components/core/fonts.ts
  ts/components/core/variables/IOColors.ts
  ts/components/core/variables/IOStyles.ts
  ts/components/ui/ButtonOutline.tsx
  ts/components/ui/ButtonSolid.tsx
  ts/components/ui/IconButton.tsx
  ts/components/ui/IconButtonSolid.tsx
  ts/features/design-system/core/DSButtons.tsx
  ts/features/design-system/core/DSLegacyButtons.tsx
  ts/features/design-system/navigation/navigator.tsx
  ts/features/design-system/navigation/params.ts
  ts/features/design-system/navigation/routes.ts
Labels: Design System

#4497 fix(IDPay): [IODPAY-124] Fix scroll behavior in instrument and IBAN enrollment screen
  ts/features/idpay/initiative/configuration/screens/IbanEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/screens/InstrumentsEnrollmentScreen.tsx
Labels: IDPay
