Repository pagopa/io-app, pull requests merged in 2023-10, with the labels that each got.

#4983 feat: [IOBP-224] IDPay discount initiative payment method
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/common/saga/index.ts
  ts/features/idpay/common/store/actions/index.ts
  ts/features/idpay/common/store/reducers/index.ts
  ts/features/idpay/configuration/components/IdPayDiscountInstrumentEnrollmentSwitch.tsx
  ts/features/idpay/configuration/navigation/navigator.tsx
  ts/features/idpay/configuration/saga/handleDeleteInitiativeInstrument.ts
  ts/features/idpay/configuration/saga/handleGetInitiativeInstruments.ts
  ts/features/idpay/configuration/saga/index.ts
  ts/features/idpay/configuration/screens/IbanEnrollmentScreen.tsx
  ts/features/idpay/configuration/screens/IdPayDiscountInstrumentsScreen.tsx
  ts/features/idpay/configuration/screens/InitiativeConfigurationIntroScreen.tsx
  ts/features/idpay/configuration/screens/InstrumentsEnrollmentScreen.tsx
  ts/features/idpay/configuration/store/actions/index.ts
  ts/features/idpay/configuration/store/index.ts
  ts/features/idpay/configuration/xstate/actions.ts
  ts/features/idpay/details/components/InitiativeDiscountSettingsComponent.tsx
  ts/features/idpay/details/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/details/screens/__tests__/InitiativeDetailsScreen.test.tsx
  ts/navigation/AuthenticatedStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
Labels: IDPay, IO-Bonus e pagamenti

#5042 chore(IT Wallet): [SIW-534] Add missing content screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/navigation/ItwParamsList.ts
  ts/features/it-wallet/navigation/ItwRoutes.ts
  ts/features/it-wallet/navigation/ItwStackNavigator.tsx
  ts/features/it-wallet/screens/ItwNotAvailableScreen.tsx
  ts/features/it-wallet/screens/generic/ItwMissingFeatureScreen.tsx
  ts/features/it-wallet/screens/generic/ItwResultScreen.tsx
Labels: IT Wallet

#5045 chore: [IOAPPFD0-161] Remove local `ListItem…` components
  package.json
  ts/components/ui/ListItemAction.tsx
  ts/components/ui/ListItemInfo.tsx
  ts/components/ui/ListItemInfoCopy.tsx
  ts/components/ui/ListItemNav.tsx
  ts/components/ui/ListItemNavAlert.tsx
  ts/components/ui/ListItemTransaction.tsx
  ts/components/ui/ModuleIDP.tsx
  ts/components/wallet/TransactionsList.tsx
  ts/features/barcode/hooks/useIOBarcodeFileScanner.tsx
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/design-system/DesignSystem.tsx
  ts/features/design-system/core/DSBottomSheet.tsx
  ts/features/design-system/core/DSListItems.tsx
  ts/features/idpay/details/components/InitiativeDiscountSettingsComponent.tsx
  ts/features/idpay/details/components/InitiativeSettingsComponent.tsx
  ts/features/idpay/details/components/TimelineOperationListItem.tsx
  ts/features/idpay/details/components/__tests__/__snapshots__/InitiativeSettingsComponent.test.tsx.snap
  ts/features/idpay/payment/screens/IDPayPaymentAuthorizationScreen.tsx
  ts/features/wallet/common/BasePaymentMethodScreen.tsx
  ts/features/walletV3/common/utils/index.ts
  ts/screens/onboarding/OnboardingNotificationsInfoScreenConsent.tsx
  ts/screens/profile/ProfileMainScreen.tsx
  ts/screens/profile/playgrounds/WalletPlayground.tsx
  yarn.lock
Labels: Design System, 💀 Dead code

#4726 feat: [IOBP-80] Add torch button to QRCode scan screen header
  locales/en/index.yml
  locales/it/index.yml
  ts/components/screens/BaseHeader.tsx
  ts/features/barcode/components/BarcodeScanBaseScreenComponent.tsx
  ts/features/barcode/components/__tests__/BarcodeScanBaseScreenComponent.test.tsx
  ts/features/barcode/hooks/useIOBarcodeCameraScanner.tsx
  ts/utils/url.ts
Labels: IO-Bonus e pagamenti

#5051 feat: [IOBP-279] IDPay code reset entry in profile screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/code/screens/IdPayCodeOnboardingScreen.tsx
  ts/screens/profile/SecurityScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#5053 chore(IT Wallet): [SIW-538] Update all conditions link to 404 page
  ts/features/it-wallet/screens/presentation/crossdevice/ItwRpInitScreen.tsx
Labels: IT Wallet

#5055 feat(IT Wallet): [SIW-560] Generalize loading component
  ts/features/it-wallet/components/ItwLoadingSpinner.tsx
  ts/features/it-wallet/components/ItwLoadingSpinnerOverlay.tsx
  ts/features/it-wallet/components/__tests__/ItwLoadingSpinner.test.tsx
Labels: IT Wallet

#5005 chore: [IOBP-236] Banner pay with CIE into IDPay discount initiative
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/code/components/IdPayCodeCieBanner.tsx
  ts/features/idpay/code/store/actions/index.ts
  ts/features/idpay/code/store/reducers/index.ts
  ts/features/idpay/code/store/selectors/index.ts
  ts/features/idpay/common/store/reducers/index.ts
  ts/features/idpay/details/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/details/screens/__tests__/InitiativeDetailsScreen.test.tsx
Labels: IDPay, IO-Bonus e pagamenti

#5060 fix: [IOBP-95] Fix ultra wide angle camera being used in barcode scan screen
  ts/components/BarcodeCamera.tsx
  ts/features/barcode/hooks/useIOBarcodeCameraScanner.tsx
Labels: IO-Bonus e pagamenti

#5043 chore: [IOAPPFD0-159] Remove local `Banner` component
  ts/components/Banner/index.tsx
  ts/features/design-system/core/DSAdvice.tsx
  ts/screens/wallet/payment/PaymentOutcomeCodeMessage.tsx
Labels: Design System, 💀 Dead code

#5050 chore: [IOAPPFD0-162] Remove legacy `BlockButtons` from the Design System
  ts/components/ui/BlockButtons.tsx
  ts/components/ui/FooterWithButtons.tsx
  ts/features/design-system/core/DSButtons.tsx
Labels: Design System

#5054 chore: [IOAPPFD0-163] Remove local `ButtonExtendedOutline` component
  ts/components/ui/ButtonExtendedOutline.tsx
  ts/features/design-system/core/DSModules.tsx
  ts/features/idpay/onboarding/screens/PDNDPrerequisitesScreen.tsx
Labels: Design System, 💀 Dead code

#5066 fix: [IOCOM-576] Backend specs aligned to fix failed payments decoding
  package.json
Labels: IO-Comunicazione

#5044 chore: [IOAPPFD0-160] Update CGN components to use `Icon` component, instead of local SVG file
  img/bonus/cgn/categories/culture.svg
  img/bonus/cgn/categories/financialServices.svg
  img/bonus/cgn/categories/home.svg
  img/bonus/cgn/categories/job.svg
  img/bonus/cgn/categories/learning.svg
  img/bonus/cgn/categories/sport.svg
  img/bonus/cgn/categories/sustainableMobility.svg
  img/bonus/cgn/categories/telephoneInternet.svg
  img/bonus/cgn/categories/travel.svg
  img/bonus/cgn/categories/wellness.svg
  ts/features/bonus/cgn/components/merchants/CgnDiscountDetail.tsx
  ts/features/bonus/cgn/components/merchants/CgnMerchantListItem.tsx
  ts/features/bonus/cgn/components/merchants/search/CategoryCheckbox.tsx
  ts/features/bonus/cgn/screens/merchants/CgnMerchantsCategoriesSelectionScreen.tsx
  ts/features/bonus/cgn/screens/merchants/CgnMerchantsListByCategory.tsx
  ts/features/bonus/cgn/utils/filters.ts
Labels: Carta Giovani Nazionale, Design System

#5071 chore(IT Wallet): [SIW-581] Update tests snapshots
  ts/features/idpay/details/components/__tests__/__snapshots__/InitiativeSettingsComponent.test.tsx.snap
  ts/features/it-wallet/components/__tests__/__snapshots__/ItwActionCompleted.test.tsx.snap
Labels: IT Wallet

#5075 chore: [IOCOM-579] Replace the new pictograms with the old ones in the `PreconditionBottomSheet`
  ts/features/messages/hooks/useMessageOpening.tsx
Labels: IO-Comunicazione

#5079 fix: [IOBP-286] Fix ID Pay instruments and unsubscription bottom sheets
  ts/features/idpay/configuration/screens/InstrumentsEnrollmentScreen.tsx
  ts/features/idpay/unsubscription/screens/UnsubscriptionConfirmationScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#5078 fix(Firma con IO): [FCIA-77] Update birthdate format in data sharing screen
  ts/features/fci/screens/valid/FciDataSharingScreen.tsx
Labels: Firma con IO

#5076 fix: [IOBP-288,IOBP-299] ID Pay details screen refactoring
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/configuration/components/IdPayDiscountInstrumentEnrollmentSwitch.tsx
  ts/features/idpay/configuration/screens/IdPayDiscountInstrumentsScreen.tsx
  ts/features/idpay/details/components/InitiativeRefundSettingsComponent.tsx
  ts/features/idpay/details/components/InitiativeTimelineComponent.tsx
  ts/features/idpay/details/components/__tests__/InitiativeSettingsComponent.test.tsx
  ts/features/idpay/details/components/__tests__/__snapshots__/InitiativeSettingsComponent.test.tsx.snap
  ts/features/idpay/details/screens/InitiativeDetailsScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#5039 chore(IT Wallet): [SIW-547] Update `io-react-native-wallet` to `v0.7.0`
  package.json
  ts/features/it-wallet/saga/itwRpInitializationSaga.ts
  ts/features/it-wallet/saga/itwWiaSaga.ts
  ts/features/it-wallet/store/actions/itwRpActions.ts
  ts/features/it-wallet/store/reducers/itwRpInitializationReducer.ts
  ts/features/it-wallet/utils/pid.ts
  ts/features/it-wallet/utils/wia.ts
  yarn.lock
Labels: IT Wallet

#5073 fix: [IOBP-300] Add missing bottom sheets to ID Pay CIE screens
  ts/components/screens/WizardScreen.tsx
  ts/features/idpay/code/screens/IdPayCodeDisplayScreen.tsx
  ts/features/idpay/code/screens/IdPayCodeRenewScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#5081 feat(IT Wallet): [SIW-583] Update design system dependency to 1.12.0
  package.json
  ts/components/screens/__tests__/__snapshots__/OperationResultScreenContent.test.tsx.snap
  ts/features/idpay/details/components/__tests__/__snapshots__/InitiativeSettingsComponent.test.tsx.snap
  yarn.lock
Labels: IT Wallet

#5072 feat(IT Wallet): [SIW-443] Select credential from catalog
  locales/en/index.yml
  locales/it/index.yml
  ts/App.tsx
  ts/features/design-system/core/DSListItems.tsx
  ts/features/it-wallet/components/ItwResultComponent.tsx
  ts/features/it-wallet/components/ListItems/ListItemItw.tsx
  ts/features/it-wallet/components/ListItems/ListItemLoadingItw.tsx
  ts/features/it-wallet/navigation/ItwParamsList.ts
  ts/features/it-wallet/navigation/ItwRoutes.ts
  ts/features/it-wallet/navigation/ItwStackNavigator.tsx
  ts/features/it-wallet/saga/itwCredentialsSaga.ts
  ts/features/it-wallet/screens/credentials/ItwAddCredentialsCheckScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwCredentialsCatalogScreen.tsx
  ts/features/it-wallet/store/actions/itwCredentialsActions.ts
  ts/features/it-wallet/store/reducers/index.ts
  ts/features/it-wallet/store/reducers/itwCredentialsChecksReducer.ts
Labels: IT Wallet

#5065 chore: [IOBP-281] Add unit tests for IdPay Code feature
  ts/components/screens/OperationResultScreenContent.tsx
  ts/components/screens/WizardScreen.tsx
  ts/components/screens/__tests__/WizardScreen.test.tsx
  ts/features/design-system/core/DSWizardScreen.tsx
  ts/features/idpay/code/saga/__tests__/handleIdPayEnrollCode.test.ts
  ts/features/idpay/code/saga/__tests__/handleIdPayGenerateCode.test.ts
  ts/features/idpay/code/saga/__tests__/handleIdPayGetCodeStatus.test.ts
  ts/features/idpay/code/saga/handleIdPayEnrollCode.ts
  ts/features/idpay/code/screens/IdPayCodeDisplayScreen.tsx
  ts/features/idpay/code/screens/IdPayCodeOnboardingScreen.tsx
  ts/features/idpay/code/screens/IdPayCodeResultScreen.tsx
  ts/features/idpay/code/screens/__tests__/IdPayCodeDisplayScreen.test.tsx
  ts/features/idpay/code/screens/__tests__/IdPayCodeOnboardingScreen.tsx
  ts/features/idpay/code/screens/__tests__/IdPayCodeResultScreen.test.tsx
  ts/features/idpay/code/store/__tests__/store.test.ts
  ts/features/idpay/code/store/selectors/index.ts
Labels: IDPay, IO-Bonus e pagamenti

#5083 feat(IT Wallet): [SIW-587] Add credential to the check store
  ts/features/it-wallet/saga/itwCredentialsSaga.ts
  ts/features/it-wallet/store/actions/itwCredentialsActions.ts
  ts/features/it-wallet/store/reducers/itwCredentialsChecksReducer.ts
Labels: IT Wallet

#5086 chore(IT Wallet): [SIW-535] Refactor card component
  locales/it/index.yml
  ts/features/it-wallet/assets/img/pidCredentialCard.png
  ts/features/it-wallet/components/ItwCredentialCard.tsx
  ts/features/it-wallet/components/PidCredential.tsx
  ts/features/it-wallet/screens/ItwHomeScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwPidDetails.tsx
  ts/features/it-wallet/screens/issuing/ItwPidPreviewScreen.tsx
Labels: IT Wallet

#5056 chore: [IOAPPFD0-164] Remove local `Selection` components
  package.json
  ts/components/core/selection/AnimatedTick.tsx
  ts/components/core/selection/RadioButtonList.tsx
  ts/components/core/selection/RadioGroup.tsx
  ts/components/core/selection/RemoteSwitch.tsx
  ts/components/core/selection/checkbox/AnimatedCheckbox.tsx
  ts/components/core/selection/checkbox/AnimatedMessageCheckbox.tsx
  ts/components/core/selection/checkbox/AnimatedRadio.tsx
  ts/components/core/selection/checkbox/AnimatedSwitch.tsx
  ts/components/core/selection/checkbox/CheckBox.tsx
  ts/components/core/selection/checkbox/CheckboxLabel.tsx
  ts/components/core/selection/checkbox/NativeSwitch.tsx
  ts/components/core/selection/checkbox/SwitchLabel.tsx
  ts/components/screens/__tests__/__snapshots__/OperationResultScreenContent.test.tsx.snap
  ts/components/ui/CheckboxListItem.tsx
  ts/components/ui/RadioListItem.tsx
  ts/components/ui/Switch.tsx
  ts/components/ui/SwitchListItem.tsx
  ts/features/cieLogin/components/screens/CieLoginConfigScreenContent.tsx
  ts/features/design-system/core/DSSelection.tsx
  ts/screens/profile/ProfileMainScreen.tsx
  yarn.lock
Labels: Design System, 💀 Dead code

#5058 chore: [IOAPPFD0-165] Remove local `Avatar` component
  ts/components/ui/Avatar.tsx
  ts/features/design-system/core/DSLogos.tsx
Labels: Design System, 💀 Dead code

#5059 chore: [IOAPPFD0-166] Remove local `Alert` component
  ts/components/Alert/index.tsx
  ts/features/design-system/core/DSAlert.tsx
  ts/features/idpay/details/components/MissingConfigurationAlert.tsx
  ts/features/idpay/timeline/components/TimelineDiscountTransactionDetailsComponent.tsx
  ts/features/idpay/timeline/components/TimelineRefundDetailsComponent.tsx
  ts/features/idpay/timeline/components/TimelineTransactionDetailsComponent.tsx
  ts/features/lollipop/playgrounds/LollipopPlaygroundContent.tsx
  ts/screens/authentication/TestAuthenticationScreen.tsx
  ts/screens/onboarding/NewOnboardingEmailInsertScreen.tsx
Labels: Design System, 💀 Dead code

#5014 feat: [IOPID-742] New email validation screens added
  .env.local
  .env.production
  locales/de/index.yml
  locales/en/index.yml
  locales/it/index.yml
  ts/components/NewRemindEmailValidationOverlay.tsx
  ts/components/__tests__/NewRemindEmailValidationOverlay.test.tsx
  ts/components/helpers/withValidatedEmail.tsx
  ts/config.ts
  ts/hooks/useValidateEmailModal.tsx
  ts/sagas/profile.ts
Labels: IO-A&I

#5087 chore(IT Wallet): [SIW-591] Update `io-react-native-wallet` package to `0.7.4`
  package.json
  yarn.lock
Labels: IT Wallet

#5090 feat: [IOCOM-570] Remove `newPnMessageDetailsEnabled` feature flag
  .env.local
  .env.production
  ts/config.ts
  ts/features/pn/components/LegacyPnMessageDetails.tsx
  ts/features/pn/navigation/navigator.tsx
  ts/features/pn/screens/LegacyPnMessageDetailsScreen.tsx
Labels: IO-Comunicazione

#5046 chore: [IOPID-894] Fast login opt-in BL
  .env.local
  .env.production
  package.json
  ts/config.ts
  ts/features/common/store/reducers/index.ts
  ts/features/fastLogin/saga/optInSaga.ts
  ts/features/fastLogin/saga/pendingActionsSaga.ts
  ts/features/fastLogin/saga/tokenRefreshSaga.ts
  ts/features/fastLogin/saga/utils/index.ts
  ts/features/fastLogin/screens/FastLoginModals.tsx
  ts/features/fastLogin/store/actions/index.ts
  ts/features/fastLogin/store/actions/optInActions.ts
  ts/features/fastLogin/store/actions/tokenRefreshActions.ts
  ts/features/fastLogin/store/reducers/index.ts
  ts/features/fastLogin/store/reducers/optInReducer.ts
  ts/features/fastLogin/store/reducers/tokenRefreshReducer.ts
  ts/features/fastLogin/store/selectors/__tests__/fastLogin.test.ts
  ts/features/fastLogin/store/selectors/index.ts
  ts/features/idpay/configuration/xstate/__tests__/actions.test.ts
  ts/features/idpay/configuration/xstate/actions.ts
  ts/features/idpay/onboarding/xstate/__tests__/actions.test.ts
  ts/features/idpay/onboarding/xstate/actions.ts
  ts/features/idpay/payment/xstate/actions.ts
  ts/features/idpay/unsubscription/xstate/actions.ts
  ts/features/nativeLogin/store/selectors/index.ts
  ts/sagas/__tests__/initializeApplicationSaga.test.ts
  ts/sagas/startup.ts
  ts/store/actions/types.ts
  ts/store/reducers/__tests__/featureFlagWithMinAppVersionStatus.test.ts
  ts/store/reducers/authentication.ts
  ts/store/reducers/backendStatus.ts
  ts/store/reducers/featureFlagWithMinAppVersionStatus.ts
  ts/store/reducers/index.ts
Labels: IO-A&I

#5091 feat: [IOCOM-572] Add `pnNoticesF24Enabled` feature flag
  .env.local
  .env.production
  ts/config.ts
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/navigation/navigator.tsx
  ts/features/pn/screens/MessageDetailsScreen.tsx
Labels: IO-Comunicazione

#5095 feat(IT Wallet): [SIW-595] Update `io-app-design-system` package to `1.13.0`
  package.json
  ts/components/screens/__tests__/__snapshots__/OperationResultScreenContent.test.tsx.snap
  yarn.lock
Labels: IT Wallet

#5093 chore(IT Wallet): [SIW-535] Refactor title card component
  ts/features/it-wallet/components/ItwCredentialCard.tsx
  ts/features/it-wallet/screens/ItwHomeScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwPidDetails.tsx
  ts/features/it-wallet/screens/issuing/ItwPidPreviewScreen.tsx
Labels: IT Wallet

#5085 feat(IT Wallet): [SIW-447] Add credentials issuing info screen
  img/features/it-wallet/interno.png
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/components/ItwBulletList.tsx
  ts/features/it-wallet/components/ItwFooterInfoBox.tsx
  ts/features/it-wallet/hooks/useItwDataProcessing.tsx
  ts/features/it-wallet/navigation/ItwParamsList.ts
  ts/features/it-wallet/navigation/ItwRoutes.ts
  ts/features/it-wallet/navigation/ItwStackNavigator.tsx
  ts/features/it-wallet/screens/credentials/ItwAddCredentialsCheckScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwCredentialIssuingInfoScreen.tsx
  ts/features/it-wallet/utils/mocks.ts
Labels: IT Wallet

#5097 chore(IT Wallet): [SIW-535] Add text color prop to card component
  ts/features/it-wallet/components/ItwCredentialCard.tsx
  ts/features/it-wallet/screens/ItwHomeScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwPidDetails.tsx
  ts/features/it-wallet/screens/issuing/ItwPidPreviewScreen.tsx
Labels: IT Wallet

#4771 feat: [IOBP-66] Add scan button in home bottom navigation
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/navigation/AuthenticatedStackNavigator.tsx
  ts/navigation/TabNavigator.tsx
  ts/navigation/params/MainTabParamsList.ts
Labels: IDPay, IO-Bonus e pagamenti, pagoPA

#4856 feat: [IOBP-124] Add new layout in pagoPA barcode scan screen
  ts/features/barcode/components/BarcodeScanBaseScreenComponent.tsx
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/idpay/payment/screens/IDPayPaymentCodeScanScreen.tsx
  ts/features/walletV3/payment/navigation/navigator.tsx
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeScanScreen.tsx
  ts/navigation/AuthenticatedStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
  ts/screens/wallet/WalletHomeScreen.tsx
  ts/screens/wallet/payment/ScanQrCodeScreen.tsx
Labels: IO-Bonus e pagamenti, pagoPA

#4915 feat: [IOBP-170] Add multiple pagoPA barcode choice screen
  ts/features/barcode/hooks/useIOBarcodeFileScanner.tsx
  ts/features/barcode/index.ts
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/barcode/types/IOBarcode.ts
  ts/features/barcode/types/decoders.ts
  ts/features/barcode/utils/__tests__/imageDecodingTask.ts
  ts/features/barcode/utils/getBarcodesByType.ts
  ts/features/barcode/utils/getUniqueBarcodes.ts
  ts/features/barcode/utils/imageDecodingTask.ts
  ts/features/walletV3/payment/components/PaymentNoticeListItem.tsx
  ts/features/walletV3/payment/navigation/navigator.tsx
  ts/features/walletV3/payment/navigation/params.ts
  ts/features/walletV3/payment/navigation/routes.ts
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeChoiceScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeScanScreen.tsx
  ts/navigation/AuthenticatedStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
  ts/screens/wallet/WalletHomeScreen.tsx
  ts/screens/wallet/payment/NewTransactionSummaryScreen.tsx
Labels: IO-Bonus e pagamenti, pagoPA

#5069 chore: [IOBP-282,IOBP-287,IOBP-303] Restyling transaction summary screen
  .env.local
  .env.production
  img/features/payments/Institution.png
  img/features/payments/Institution@2x.png
  img/features/payments/Institution@3x.png
  locales/en/index.yml
  locales/it/index.yml
  package.json
  ts/components/screens/__tests__/__snapshots__/OperationResultScreenContent.test.tsx.snap
  ts/config.ts
  ts/features/pn/analytics/index.ts
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/components/PnMessageDetails.tsx
  ts/features/pn/components/PnMessagePayment.tsx
  ts/features/pn/screens/PnPaidPaymentScreen.tsx
  ts/features/pn/screens/__test__/__snapshots__/PnPaidPaymentScreen.test.tsx.snap
  ts/navigation/WalletNavigator.tsx
  ts/screens/wallet/payment/NewTransactionSummaryScreen.tsx
  ts/screens/wallet/payment/TransactionSummaryScreen.tsx
  ts/screens/wallet/payment/components/TransactionSummary.tsx
  ts/screens/wallet/payment/components/TransactionSummaryButtonConfigurations.ts
  ts/screens/wallet/payment/components/TransactionSummaryErrorDetails.tsx
  ts/screens/wallet/payment/components/TransactionSummaryStatus.tsx
  ts/screens/wallet/payment/hooks/usePaymentAmountInfoBottomSheet.tsx
  yarn.lock
Labels: IO-Bonus e pagamenti

#5100 chore: [IOAPPFD0-171] Add the new `LoadingSpinner` to the Design System
  package.json
  ts/features/design-system/core/DSLoaders.tsx
  yarn.lock
Labels: Design System

#5094 feat(IT Wallet): [SIW-448] Add credential preview
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/components/ItwCredentialClaimsList.tsx
  ts/features/it-wallet/hooks/useItwInfoFlow.tsx
  ts/features/it-wallet/navigation/ItwParamsList.ts
  ts/features/it-wallet/navigation/ItwRoutes.ts
  ts/features/it-wallet/navigation/ItwStackNavigator.tsx
  ts/features/it-wallet/screens/credentials/ItwAddCredentialsCheckScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwCredentialIssuingInfoScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwCredentialPreviewScreen.tsx
  ts/features/it-wallet/utils/alert.ts
  ts/features/it-wallet/utils/mocks.ts
Labels: IT Wallet

#5102 chore: [IOAPPFD0-172] Add `loading` state to the `ButtonSolid` component
  ts/features/design-system/core/DSButtons.tsx
Labels: Design System

#5104 fix: [IOCOM-611] Fix properties on `OPEN_MESSAGE` mixpanel event
  ts/screens/messages/MessageRouterScreen.tsx
Labels: IO-Comunicazione

#5101 feat: [IOCOM-610] Add the new `ModuleAttachment` component
  ts/components/ModuleAttachment.tsx
  ts/features/design-system/core/DSModules.tsx
Labels: Design System, IO-Comunicazione

#5111 chore: [IOAPPFD0-174] Add the new `LoadingIndicator` component
  package.json
  ts/components/ui/LoadingIndicator.tsx
  ts/features/design-system/core/DSLoaders.tsx
  yarn.lock
Labels: Design System

#5107 fix: [IOBP-331] Remove torch button in Barcode Scan screen if camera permission is not granted
  ts/features/barcode/components/BarcodeScanBaseScreenComponent.tsx
Labels: IO-Bonus e pagamenti

#5118 chore: [IOPID-999] Enable FL in production
  CHANGELOG.md
  android/app/build.gradle
  ios/ItaliaApp.xcodeproj/project.pbxproj
  ios/ItaliaApp/Info.plist
  ios/ItaliaAppTests/Info.plist
  package.json
  publiccode.yml
Labels: IO-A&I

#5114 chore(IT Wallet): [SIW-579] Refactor componente `ItwResultScreen`
  ts/features/it-wallet/components/ItwKoView.tsx
  ts/features/it-wallet/screens/generic/ItwMissingFeatureScreen.tsx
  ts/features/it-wallet/screens/generic/ItwResultScreen.tsx
Labels: IT Wallet

#5106 fix: [IOBP-330] Fix manual input modal in Barcode Scan screen
  ts/features/barcode/screens/BarcodeScanScreen.tsx
Labels: IO-Bonus e pagamenti

#5077 chore: [IOAPPFD0-167] Add the new `LogoPaymentCard` component to the Design System
  ts/features/design-system/components/DSComponentViewerBox.tsx
  ts/features/design-system/components/DSLogoPaymentViewerBox.tsx
  ts/features/design-system/core/DSLogos.tsx
Labels: Design System

#5125 fix: [IOCOM-622] Fix padding around the `StatusContent` component on Android
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/components/PnMessageDetails.tsx
Labels: IO-Comunicazione

#5127 fix: [IOBP-296] A11y reading acronyms in idpay code onboarding screen
  locales/en/index.yml
  locales/it/index.yml
Labels: IO-Bonus e pagamenti

#5089 chore: [PE-479] New CGN logo
  img/bonus/cgn/cgn_logo.png
  img/bonus/cgn/cgn_logo@2x.png
  img/bonus/cgn/cgn_logo@3x.png
Labels: Carta Giovani Nazionale

#5112 feat: [IOCOM-429,IOCOM-433] PN Multiple Payments: actions, reducer and sagas
  ts/features/pn/store/actions/index.ts
  ts/features/pn/store/reducers/__tests__/payments.test.ts
  ts/features/pn/store/reducers/index.ts
  ts/features/pn/store/reducers/payments.ts
  ts/features/pn/store/sagas/watchPaymentUpdateRequests.ts
  ts/features/pn/store/sagas/watchPnSaga.ts
  ts/sagas/startup.ts
  ts/sagas/wallet/pagopaApis.ts
Labels: IO-Comunicazione

#5096 chore: [IOPID-938] Opt-in screen
  locales/de/index.yml
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fastLogin/saga/optInSaga.ts
  ts/features/fastLogin/store/selectors/index.ts
  ts/navigation/AuthenticationNavigator.tsx
  ts/navigation/params/AuthenticationParamsList.ts
  ts/navigation/routes.ts
  ts/screens/authentication/IdpSelectionScreen.tsx
  ts/screens/authentication/LandingScreen.tsx
  ts/screens/authentication/NewOptInScreen.tsx
  ts/screens/authentication/__tests__/NewOptInScreen.test.tsx
Labels: IO-A&I

#4969 feat(IT Wallet): [SIW-362] Adds a component to parse a markdown string and get a collection of ReactNode elements
  ts/features/it-wallet/components/ItwTextInfo.tsx
Labels: IT Wallet

#5126 feat(IT Wallet): [SIW-463] Credential presentation checks
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/navigation/ItwParamsList.ts
  ts/features/it-wallet/navigation/ItwRoutes.ts
  ts/features/it-wallet/navigation/ItwStackNavigator.tsx
  ts/features/it-wallet/saga/index.ts
  ts/features/it-wallet/saga/new/itwPresentationSaga.ts
  ts/features/it-wallet/screens/ItwHomeScreen.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationChecksScreen.tsx
  ts/features/it-wallet/store/actions/index.ts
  ts/features/it-wallet/store/actions/new/itwPresentationActions.ts
  ts/features/it-wallet/store/reducers/index.ts
  ts/features/it-wallet/store/reducers/new/itwPresentationReducer.ts
  ts/features/it-wallet/utils/mocks.ts
Labels: IT Wallet

#5123 fix: [IOBP-336] Fix file upload modal in barcodes scan screen
  ts/features/barcode/components/BarcodeScanBaseScreenComponent.tsx
  ts/features/barcode/components/__tests__/BarcodeScanBaseScreenComponent.test.tsx
  ts/features/barcode/hooks/useIOBarcodeFileReader.tsx
  ts/features/barcode/index.ts
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/idpay/payment/screens/IDPayPaymentCodeScanScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeScanScreen.tsx
Labels: IO-Bonus e pagamenti

#5131 feat(IT Wallet): [SIW-467] Add presentation data screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/components/ItwBulletList.tsx
  ts/features/it-wallet/navigation/ItwParamsList.ts
  ts/features/it-wallet/navigation/ItwRoutes.ts
  ts/features/it-wallet/navigation/ItwStackNavigator.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationChecksScreen.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationDataScreen.tsx
  ts/features/it-wallet/utils/mocks.ts
Labels: IT Wallet

#5145 chore: [IOCOM-626] Update API definitions
  package.json
  ts/sagas/services/servicePreference/handleUpsertServicePreferenceSaga.ts
  ts/sagas/startup/loadServiceDetailRequestHandler.ts
Labels: IO-Comunicazione

#5140 chore: [IOAPPFD0-178] Partially remove local properties from `IOStyles`
  ts/components/IdpsGridRevamp.tsx
  ts/components/bottomSheet/BottomSheetHeader.tsx
  ts/components/core/variables/IOStyles.ts
  ts/components/ui/GradientBottomActions.tsx
  ts/components/ui/GradientScrollView.tsx
  ts/components/ui/HeaderFirstLevel.tsx
  ts/components/ui/HeaderSecondLevel.tsx
  ts/components/ui/cards/payment/PaymentCardsCarousel.tsx
  ts/components/ui/utils/components/PressableListItemBase.tsx
  ts/components/wallet/TransactionsList.tsx
  ts/features/design-system/DesignSystem.tsx
  ts/features/design-system/components/DesignSystemScreen.tsx
  ts/features/design-system/core/DSEdgeToEdgeArea.tsx
  ts/features/design-system/core/DSFullScreenModal.tsx
  ts/features/design-system/core/DSHeaderFirstLevel.tsx
  ts/features/design-system/core/DSHeaderSecondLevel.tsx
  ts/features/design-system/core/DSHeaderSecondLevelWithSectionTitle.tsx
  ts/features/design-system/core/DSSafeArea.tsx
  ts/features/design-system/core/DSSafeAreaCentered.tsx
  ts/features/design-system/navigation/navigator.tsx
  ts/features/idpay/payment/screens/IDPayPaymentCodeInputScreen.tsx
  ts/screens/onboarding/OnboardingNotificationsInfoScreenConsent.tsx
  ts/screens/onboarding/OnboardingNotificationsPreferencesScreen.tsx
  ts/screens/onboarding/biometric&securityChecks/FingerprintScreen.tsx
  ts/screens/onboarding/biometric&securityChecks/MissingDeviceBiometricScreen.tsx
  ts/screens/onboarding/biometric&securityChecks/MissingDevicePinScreen.tsx
  ts/screens/onboarding/components/NotificationPreviewSample.tsx
  ts/theme/components/Header.ts
  ts/utils/hooks/bottomSheet.tsx
Labels: Design System, 💀 Dead code

#5121 feat: [IOCOM-428] Add category field in `UIAttachment`
  ts/__mocks__/attachment.ts
  ts/components/messages/MessageDetail/index.tsx
  ts/features/messages/components/MessageAttachmentPreview.tsx
  ts/features/messages/components/MessageAttachments.tsx
  ts/features/messages/hooks/useAttachmentDownload.tsx
  ts/features/messages/saga/__test__/attachments.test.ts
  ts/features/messages/saga/networking/downloadAttachment.ts
  ts/features/messages/types/attachmentCategory.ts
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/components/PnMessageDetails.tsx
  ts/features/pn/components/__test__/PnMessageDetails.test.tsx
  ts/features/pn/screens/PnAttachmentPreview.tsx
  ts/features/pn/store/types/transformers.ts
  ts/screens/messages/MessageAttachment.tsx
  ts/store/actions/messages.ts
  ts/store/reducers/entities/messages/__tests__/downloads.test.ts
  ts/store/reducers/entities/messages/thirdPartyById.ts
  ts/store/reducers/entities/messages/transformers.ts
  ts/store/reducers/entities/messages/types.ts
Labels: IO-Comunicazione

#5144 chore(IT Wallet): [SIW-580] Update loading screen typography
  ts/features/it-wallet/components/ItwLoadingSpinnerOverlay.tsx
Labels: IT Wallet

#5147 chore(IT Wallet): [SIW-603] Autoresizable info bottom sheet
  ts/features/it-wallet/hooks/useItwDataProcessing.tsx
  ts/features/it-wallet/hooks/useItwInfoBottomSheet.tsx
  ts/features/it-wallet/screens/credentials/ItwCredentialPreviewScreen.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationDataScreen.tsx
Labels: IT Wallet

#5139 feat: [IOCOM-624] Multiple paid payments on cancelled PN message
  ts/features/pn/analytics/index.ts
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/components/MessagePayment.tsx
  ts/features/pn/components/PnMessageDetails.tsx
  ts/features/pn/screens/MessageDetailsScreen.tsx
  ts/features/pn/screens/PnMessageDetailsScreen.tsx
  ts/features/pn/utils/index.ts
  ts/utils/analytics.ts
Labels: IO-Comunicazione

#5138 feat(IT Wallet): [SIW-468] Presentation optional claims selection
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/components/ItwOptionalClaimsList.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationDataScreen.tsx
  ts/features/it-wallet/utils/mocks.ts
Labels: IT Wallet

#5142 feat(IT Wallet): [SIW-469] Add credential presentation result screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/navigation/ItwParamsList.ts
  ts/features/it-wallet/navigation/ItwRoutes.ts
  ts/features/it-wallet/navigation/ItwStackNavigator.tsx
  ts/features/it-wallet/saga/new/itwPresentationSaga.ts
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationDataScreen.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationResultScreen.tsx
  ts/features/it-wallet/store/actions/new/itwPresentationActions.ts
  ts/features/it-wallet/store/reducers/new/itwPresentationReducer.ts
  ts/features/it-wallet/utils/mocks.ts
Labels: IT Wallet

#5149 feat: [IOCOM-435] Add polling for download F24 attachments
  ts/features/messages/saga/__test__/handleDownloadAttachment.test.ts
  ts/features/messages/saga/__test__/handleRequestInit.test.ts
  ts/features/messages/saga/attachments.ts
  ts/features/messages/saga/handleClearAttachments.ts
  ts/features/messages/saga/handleDownloadAttachment.ts
  ts/features/messages/saga/handleRequestInit.ts
  ts/features/messages/saga/index.ts
  ts/features/messages/saga/networking/downloadAttachment.ts
  ts/features/messages/utils/strings.ts
  ts/sagas/startup.ts
Labels: IO-Comunicazione

#5152 feat: [IOCOM-505] Multiple payments on SEND message screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/bonus/bpd/model/RemoteValue.ts
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/components/MessageDetailsSection.tsx
  ts/features/pn/components/MessageFooter.tsx
  ts/features/pn/components/MessagePaymentItem.tsx
  ts/features/pn/components/MessagePayments.tsx
  ts/features/pn/components/PnMessagePayment.tsx
  ts/features/pn/store/reducers/payments.ts
  ts/features/pn/utils/rptId.ts
Labels: IO-Comunicazione

#5163 chore(IT Wallet): [SIW-632] Update package `io-react-native-wallet` from `v0.7.4` to `v0.9.2`
  package.json
  ts/features/barcode/types/decoders.ts
  ts/features/it-wallet/saga/itwRpInitializationSaga.ts
  ts/features/it-wallet/saga/itwRpPresentationSaga.ts
  ts/features/it-wallet/saga/itwWiaSaga.ts
  ts/features/it-wallet/store/actions/itwCredentialsActions.ts
  ts/features/it-wallet/store/actions/itwRpActions.ts
  ts/features/it-wallet/store/reducers/itwCredentialsReducer.ts
  ts/features/it-wallet/store/reducers/itwPidReducer.ts
  ts/features/it-wallet/store/reducers/itwRpInitializationReducer.ts
  ts/features/it-wallet/store/reducers/itwRpPresentationReducer.ts
  ts/features/it-wallet/utils/pid.ts
  ts/features/it-wallet/utils/types.ts
  ts/features/it-wallet/utils/wia.ts
  yarn.lock
Labels: IT Wallet

#5122 feat: [IOPID-971,IOPID-1074] Add IntesiGroup IdP local reference
  .env.local
  .env.production
  img/spid-idp-arubaid.png
  img/spid-idp-etnaid.png
  img/spid-idp-infocamereid.png
  img/spid-idp-infocertid.png
  img/spid-idp-intesigroupspid.png
  img/spid-idp-lepidaid.png
  img/spid-idp-namirialid.png
  img/spid-idp-posteid.png
  img/spid-idp-sielteid.png
  img/spid-idp-spiditalia.png
  img/spid-idp-teamsystemid.png
  img/spid-idp-timid.png
  ts/api/content.ts
  ts/config.ts
  ts/utils/idps.ts
  ts/utils/login.ts
Labels: IO-A&I

#5165 chore(IT Wallet): [SIW-614] Update error screens DS in credential issuing and presentation
  locales/en/index.yml
  locales/it/index.yml
  ts/features/it-wallet/components/ItwKoView.tsx
  ts/features/it-wallet/screens/credentials/ItwAddCredentialsCheckScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwCredentialIssuingInfoScreen.tsx
  ts/features/it-wallet/screens/credentials/ItwCredentialPreviewScreen.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationChecksScreen.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationDataScreen.tsx
  ts/features/it-wallet/screens/presentation/crossdevice/new/ItwPresentationResultScreen.tsx
  ts/features/it-wallet/utils/errors/itwErrors.ts
  ts/features/it-wallet/utils/errors/itwErrorsMapping.ts
Labels: IT Wallet

#5161 feat: [IOCOM-455] Add bottom sheet for multiple F24
  locales/en/index.yml
  locales/it/index.yml
  ts/features/messages/components/MessageAttachments.tsx
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/components/MessageF24.tsx
  ts/features/pn/components/__test__/MessageF24.test.tsx
  ts/features/pn/hooks/useF24BottomSheet.tsx
Labels: IO-Comunicazione

#5166 chore: [IOBP-340] Add loading state to `BarcodeScanBaseScreenComponent`
  ts/features/barcode/components/AnimatedCameraMarker.tsx
  ts/features/barcode/components/BarcodeScanBaseScreenComponent.tsx
  ts/features/barcode/hooks/useIOBarcodeCameraScanner.tsx
  ts/features/barcode/hooks/useIOBarcodeFileReader.tsx
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/idpay/payment/screens/IDPayPaymentCodeScanScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeChoiceScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeScanScreen.tsx
Labels: IO-Bonus e pagamenti

#5148 chore: [IOPID-966] L2 Locked Access
  locales/en/index.yml
  locales/it/index.yml
  ts/screens/authentication/IdpLoginScreen.tsx
  ts/screens/authentication/cie/CieConsentDataUsageScreen.tsx
  ts/screens/onboarding/UnlockAccessScreen.tsx
  ts/screens/onboarding/__tests__/UnlockAccessScreen.test.tsx
  ts/utils/spidErrorCode.ts
Labels: IO-A&I

#5162 fix: [IOBP-360] Fix dates format in ID Pay benificiary details screen
  ts/features/idpay/details/components/BeneficiaryDetailsContent.tsx
  ts/features/idpay/details/components/__tests__/__snapshots__/BeneficiaryDetailsContent.test.tsx.snap
Labels: IDPay, IO-Bonus e pagamenti

#5068 chore: [IOBP-269] Removal of residue nativeBase imports from wallet flows
  ts/features/design-system/core/DSListItems.tsx
  ts/features/wallet/onboarding/bancomat/components/BankPreviewItem.tsx
  ts/features/wallet/onboarding/cobadge/screens/CoBadgeChooseType.tsx
  ts/features/wallet/onboarding/common/searchBank/SearchBankComponent.tsx
  ts/features/wallet/onboarding/common/searchBank/SearchBankScreen.tsx
  ts/features/wallet/onboarding/common/searchBank/SearchStartScreen.tsx
  ts/features/wallet/paypal/screen/PayPalPspUpdateScreen.tsx
Labels: NativeBase dismissal 🥷🏼, IO-Bonus e pagamenti

#5099 chore: [IOBP-147] Add QR Code Mixpanel analytics events
  ts/features/barcode/analytics/index.ts
  ts/features/barcode/components/BarcodeScanBaseScreenComponent.tsx
  ts/features/barcode/components/__tests__/BarcodeScanBaseScreenComponent.test.tsx
  ts/features/barcode/hooks/useIOBarcodeCameraScanner.tsx
  ts/features/barcode/hooks/useIOBarcodeFileReader.tsx
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/barcode/types/IOBarcode.ts
  ts/features/idpay/payment/screens/IDPayPaymentCodeScanScreen.tsx
  ts/features/walletV3/payment/components/PaymentNoticeListItem.tsx
  ts/features/walletV3/payment/navigation/routes.ts
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeChoiceScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeScanScreen.tsx
  ts/navigation/AuthenticatedStackNavigator.tsx
  ts/screens/wallet/WalletHomeScreen.tsx
Labels: IO-Bonus e pagamenti

#5130 [IOBP-307, IOBP-308] Add payment notice number and fiscal code new input screens
  locales/en/index.yml
  locales/it/index.yml
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/walletV3/common/utils/validation.ts
  ts/features/walletV3/payment/navigation/navigator.tsx
  ts/features/walletV3/payment/navigation/params.ts
  ts/features/walletV3/payment/navigation/routes.ts
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeChoiceScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentBarcodeScanScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentInputFiscalCodeScreen.tsx
  ts/features/walletV3/payment/screens/WalletPaymentInputNoticeNumberScreen.tsx
  ts/navigation/AuthenticatedStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
  ts/screens/wallet/WalletHomeScreen.tsx
Labels: IO-Bonus e pagamenti

#5174 chore(IT Wallet): [SIW-643] Update `useItwInfoBottomSheet` hook with optional title
  ts/features/it-wallet/hooks/useItwInfoBottomSheet.tsx
Labels: IT Wallet

#5173 chore(IT Wallet): [SIW-642] Add h2 and h6 header support to `ItwTextInfo` component
  ts/features/it-wallet/components/ItwTextInfo.tsx
Labels: IT Wallet

#5181 chore: [IOAPPFD0-183] Add placeholder to the `Avatar` component
  ts/features/design-system/core/DSLogos.tsx
Labels: Design System
