Repository pagopa/io-app, pull requests merged in 2023-04, with the labels that each got.

#4507 chore(Firma con IO): [SFEQS-1578] Update FCI definitions
  package.json
  ts/features/fci/components/SuccessComponent.tsx
  ts/features/fci/components/__tests__/SuccessComponent.test.tsx
  ts/features/fci/saga/networking/__tests__/handleGetQtspMetadata.test.ts
  ts/features/fci/saga/networking/handleGetQtspMetadata.ts
  ts/features/fci/screens/__tests__/FciRouterScreen.test.tsx
  ts/features/fci/store/reducers/fciSignatureRequest.ts
  ts/features/fci/types/__mocks__/SignatureRequestDetailView.mock.ts
Labels: Firma con IO

#4500 fix(IDPay): [IODPAY-191] InitiativesList scroll
  ts/features/idpay/wallet/screens/AvailableInitiativesListScreen.tsx
  ts/navigation/WalletNavigator.tsx
  ts/navigation/params/WalletParamsList.ts
Labels: IDPay

#4508 feat(Firma con IO): [SFEQS-1044] Add bottom sheet to check/activate service preferences
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/hooks/useFciCheckService.tsx
  ts/features/fci/screens/valid/FciQtspClausesScreen.tsx
  ts/features/fci/store/reducers/fciMetadata.ts
Labels: Firma con IO

#4511 chore: [IOAPPFD0-77] Update new icons, add new ones
  ts/components/core/icons/Icon.tsx
  ts/components/core/icons/svg/IconArrowCircleUp.tsx
  ts/components/core/icons/svg/IconCanceled.tsx
  ts/components/core/icons/svg/IconGiacenza.tsx
  ts/components/core/icons/svg/IconHistory.tsx
  ts/components/core/icons/svg/IconInstitution.tsx
  ts/components/core/icons/svg/IconPSP.tsx
  ts/components/core/icons/svg/IconRefund.tsx
  ts/components/core/icons/svg/IconReload.tsx
  ts/components/core/icons/svg/IconSecurity.tsx
  ts/components/core/icons/svg/IconShareAndroid.tsx
  ts/components/core/icons/svg/LegIconError.tsx
  ts/components/core/icons/svg/LegIconGiacenza.tsx
  ts/components/core/icons/svg/LegIconPSP.tsx
  ts/components/core/icons/svg/originals/IconArrowCircleUp.svg
  ts/components/core/icons/svg/originals/IconCanceled.svg
  ts/components/core/icons/svg/originals/IconGiacenza.svg
  ts/components/core/icons/svg/originals/IconHistory.svg
  ts/components/core/icons/svg/originals/IconInstitution.svg
  ts/components/core/icons/svg/originals/IconPSP.svg
  ts/components/core/icons/svg/originals/IconRefund.svg
  ts/components/core/icons/svg/originals/IconReload.svg
  ts/components/core/icons/svg/originals/IconSecurity.svg
  ts/components/core/icons/svg/originals/IconShareAndroid.svg
  ts/components/core/icons/svg/originals/LegIconError.svg
  ts/components/core/icons/svg/originals/LegIconGiacenza.svg
  ts/components/core/icons/svg/originals/LegIconPSP.svg
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
Labels: Design System

#4303 chore: [IOAPPFD0-22] Remove isOnboardingCompleted deprecated utility
  ts/components/EmailReadComponent.tsx
  ts/components/PinSelectionComponent.tsx
  ts/components/RemindEmailValidationOverlay.tsx
  ts/components/TosWebviewComponent.tsx
  ts/components/__tests__/TosWebviewComponent.test.tsx
  ts/components/__tests__/__snapshots__/TosWebviewComponent.test.tsx.snap
  ts/components/helpers/withValidatedEmail.tsx
  ts/features/bonus/siciliaVola/components/AcceptTosComponent.tsx
  ts/hooks/useValidateEmailModal.tsx
  ts/navigation/OnboardingNavigator.tsx
  ts/navigation/ProfileNavigator.tsx
  ts/navigation/params/OnboardingParamsList.ts
  ts/navigation/params/ProfileParamsList.ts
  ts/navigation/routes.ts
  ts/sagas/identification.ts
  ts/sagas/startup/__tests__/checkProfileEmailSaga.test.tsx
  ts/sagas/startup/checkAcknowledgedEmailSaga.ts
  ts/screens/onboarding/EmailInsertScreen.tsx
  ts/screens/onboarding/EmailReadScreen.tsx
  ts/screens/onboarding/OnboardingEmailInsertScreen.tsx
  ts/screens/onboarding/OnboardingEmailReadScreen.tsx
  ts/screens/onboarding/OnboardingPinScreen.tsx
  ts/screens/onboarding/OnboardingTosScreen.tsx
  ts/screens/onboarding/TosScreen.tsx
  ts/screens/onboarding/__tests__/OnboardingTosScreen.test.tsx
  ts/screens/profile/EmailInsertScreen.tsx
  ts/screens/profile/EmailReadScreen.tsx
  ts/screens/profile/PinScreen.tsx
  ts/screens/profile/SecurityScreen.tsx
  ts/screens/profile/TosScreen.tsx
  ts/screens/profile/__test__/SecurityScreen.test.tsx
  ts/screens/profile/__test__/TosScreen.test.tsx
  ts/screens/wallet/creditCardOnboardingAttempts/CreditCardOnboardingAttemptsScreen.tsx
  ts/store/actions/pinset.ts
  ts/store/middlewares/analytics.ts
  ts/utils/navigation.ts
Labels: keep open

#4506 feat(IDPay): [IODPAY-206] IDPay Onboarding playground redesign
  .env.local
  ts/screens/profile/playgrounds/IDPayOnboardingPlayground.tsx
Labels: IDPay

#4494 chore: [IOAPPFD0-67,IOAPPFD0-66] Add mixpanel event for keychain get failure
  ts/sagas/startup.ts
  ts/store/storages/keychain.ts
  ts/utils/analytics.ts
Labels: legal-approved ⚖️ ✅

#4518 fix(IDPay): [IODPAY-122] Fix instrument enrollment CTA loading state
  ts/features/idpay/initiative/configuration/screens/InstrumentsEnrollmentScreen.tsx
Labels: IDPay

#4510 fix(IDPay): [IODPAY-193] Missing I18n key for network error in initiative details screen
  ts/features/idpay/initiative/configuration/xstate/actions.ts
  ts/features/idpay/initiative/configuration/xstate/failure.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
Labels: IDPay

#4487 fix(IDPay): [IODPAY-106] Added DPR link to bool prerequisites screen
  ts/features/bonus/bpd/screens/onboarding/declaration/DeclarationComponent.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/DisabledAdditionalInfoScreen.tsx
  ts/features/bonus/siciliaVola/screens/voucherGeneration/SummaryScreen.tsx
  ts/features/idpay/onboarding/screens/BoolValuePrerequisitesScreen.tsx
  ts/urls.ts
Labels: IDPay

#4515 chore(Firma con IO): [SFEQS-1589] Update FCI definitions introducing dossier title and signature requests list
  package.json
  ts/features/fci/types/__mocks__/SignatureRequestDetailView.mock.ts
Labels: Firma con IO

#4493 fix(IDPay): [IODPAY-198] Unnecessary api calls in credit card details
  ts/features/wallet/component/features/PaymentMethodFeatures.tsx
  ts/features/wallet/component/features/PaymentMethodInitiatives.tsx
  ts/features/wallet/creditCard/screen/CreditCardDetailScreen.tsx
  ts/features/wallet/creditCard/screen/__tests__/CreditCardDetailScreen.test.tsx
Labels: IDPay

#4516 feat(Firma con IO): [SFEQS-1591] Add signature requests list store and reducer
  ts/features/fci/store/actions/index.ts
  ts/features/fci/store/reducers/__tests__/fciSignaturesListRequest.test.ts
  ts/features/fci/store/reducers/fciSignaturesList.ts
  ts/features/fci/store/reducers/index.ts
  ts/features/fci/types/__mocks__/SignaturesList.mock.ts
  ts/features/fci/types/__mocks__/utils.ts
Labels: Firma con IO

#4517 feat(Firma con IO): [SFEQS-1592] Add signature requests list saga
  ts/features/fci/saga/index.ts
  ts/features/fci/saga/networking/__tests__/handleGetSignatureRequests.test.ts
  ts/features/fci/saga/networking/handleGetSignatureRequests.ts
Labels: Firma con IO

#4527 feat(Firma con IO): [SFEQS-1461] Adds Zendesk permission label to handle request about FCI issue
  locales/en/index.yml
  locales/it/index.yml
  ts/components/screens/BaseScreenComponent/index.tsx
  ts/features/zendesk/analytics/index.ts
  ts/features/zendesk/components/ZendeskEmptyTicketsComponent.tsx
  ts/features/zendesk/components/ZendeskSupportComponent.tsx
  ts/features/zendesk/saga/orchestration/index.ts
  ts/features/zendesk/screens/ZendeskAskPermissions.tsx
  ts/features/zendesk/screens/ZendeskAskSeeReportsPermissions.tsx
  ts/features/zendesk/screens/ZendeskChooseCategory.tsx
  ts/features/zendesk/screens/ZendeskChooseSubCategory.tsx
  ts/features/zendesk/screens/ZendeskSeeReportsRouters.tsx
  ts/features/zendesk/screens/ZendeskSupportHelpCenter.tsx
  ts/features/zendesk/store/actions/index.ts
  ts/features/zendesk/store/reducers/__tests__/index.test.ts
  ts/features/zendesk/utils/index.ts
  ts/screens/wallet/PaymentHistoryDetailsScreen.tsx
  ts/screens/wallet/creditCardOnboardingAttempts/CreditCardOnboardingAttemptDetailScreen.tsx
  ts/screens/wallet/payment/NewTransactionSummaryScreen.tsx
  ts/screens/wallet/payment/TransactionErrorScreen.tsx
Labels: Firma con IO

#4529 feat(Firma con IO): [SFEQS-1462] Update Error component introducing retry and assistance CTA
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/components/ErrorComponent.tsx
  ts/features/fci/components/GenericErrorComponent.tsx
  ts/features/fci/components/__tests__/ErrorComponent.test.tsx
  ts/features/fci/screens/valid/FciQtspClausesScreen.tsx
  ts/features/fci/screens/valid/FciThankyouScreen.tsx
  ts/features/fci/store/reducers/fciSignatureRequest.ts
  ts/utils/supportAssistance.ts
Labels: Firma con IO

#4498 feat(Firma con IO): [SFEQS-1536] Add a modal screen to show the signature field on the document
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/components/DocumentWithSignature.tsx
  ts/features/fci/components/__tests__/DocumentWithSignature.test.tsx
  ts/features/fci/screens/valid/FciDocumentsScreen.tsx
  ts/features/fci/screens/valid/FciSignatureFieldsScreen.tsx
Labels: Firma con IO

#4543 chore(Firma con IO): [SFEQS-1608] Update locales for clauses type
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/screens/valid/FciSignatureFieldsScreen.tsx
  ts/features/fci/utils/__tests__/signatureFields.test.ts
  ts/features/fci/utils/signatureFields.ts
Labels: Firma con IO

#4531 fix(IDPay): [IODPAY-209] Dirty data in card details screen
  ts/features/idpay/wallet/hooks/useIDPayInitiativesFromInstrument.ts
  ts/features/idpay/wallet/screens/AvailableInitiativesListScreen.tsx
  ts/features/idpay/wallet/store/reducers/index.ts
  ts/features/wallet/component/features/PaymentMethodFeatures.tsx
  ts/features/wallet/component/features/PaymentMethodInitiatives.tsx
  ts/features/wallet/creditCard/screen/CreditCardDetailScreen.tsx
  ts/features/wallet/creditCard/screen/__tests__/CreditCardDetailScreen.test.tsx
Labels: IDPay

#4547 feat(Firma con IO): [SFEQS-1595] Refactor screens of the signing flow
  ts/features/fci/screens/valid/FciDataSharingScreen.tsx
  ts/features/fci/screens/valid/FciQtspClausesScreen.tsx
  ts/features/fci/screens/valid/FciSignatureFieldsScreen.tsx
Labels: Firma con IO

#4533 feat(Firma con IO): [SFEQS-1460] Add signature requests list screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/components/SignatureRequestItem.tsx
  ts/features/fci/components/__tests__/SignatureRequestItem.test.tsx
  ts/features/fci/navigation/FciStackNavigator.tsx
  ts/features/fci/navigation/params.ts
  ts/features/fci/navigation/routes.ts
  ts/features/fci/screens/valid/FciSignatureRequestsScreen.tsx
  ts/features/fci/store/reducers/fciSignaturesList.ts
  ts/features/fci/types/__mocks__/SignaturesList.mock.ts
Labels: Firma con IO

#4534 chore: [IA-906] Update `tosVersion` to `4.5`
  ts/config.ts
Labels: Firma con IO

#4532 fix(IDPay): [IODPAY-211] Update IDPay API specs
  locales/en/index.yml
  locales/it/index.yml
  package.json
  ts/features/idpay/common/api/__mocks__/client.ts
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/services.test.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/services.ts
  ts/features/idpay/wallet/components/IDPayInitiativesListComponents.tsx
Labels: IDPay

#4542 chore: [IOAPPFD0-82] Add `Icon` to the new `ButtonSolid` and `ButtonOutline` components
  ts/components/core/variables/IOStyles.ts
  ts/components/ui/ButtonOutline.tsx
  ts/components/ui/ButtonSolid.tsx
  ts/features/design-system/core/DSButtons.tsx
  ts/features/euCovidCert/components/ViewEUCovidButton.tsx
Labels: Design System

#4537 fix(IDPay): [IODPAY-189] Fix long names in IDPay initiative details screen
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
Labels: IDPay

#4548 chore(IDPay): [IODPAY-194] Add skeleton in IDPay initiative details screen
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
  ts/features/idpay/initiative/details/components/InitiativeSettingsComponent.tsx
  ts/features/idpay/initiative/details/components/InitiativeTimelineComponent.tsx
  ts/features/idpay/initiative/details/components/MissingConfigurationAlert.tsx
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/initiative/details/store/index.ts
Labels: IDPay

#4535 fix(IDPay): [IODPAY-131] Add ToS and privacy links in onboarding screen
  ts/features/idpay/onboarding/components/OnboardingPrivacyAdvice.tsx
  ts/features/idpay/onboarding/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/onboarding/xstate/selectors.ts
Labels: IDPay

#4471 chore(IDPay): [IODPAY-177] Add ability to enroll multiple instrument concurrently
  ts/features/idpay/initiative/configuration/components/InstrumentEnrollmentSwitch.tsx
  ts/features/idpay/initiative/configuration/screens/InstrumentsEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/screens/__test__/IbanEnrollmentScreen.test.tsx
  ts/features/idpay/initiative/configuration/xstate/__mocks__/actions.ts
  ts/features/idpay/initiative/configuration/xstate/__mocks__/services.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machine.test.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machineInstruments.test.ts
  ts/features/idpay/initiative/configuration/xstate/actions.ts
  ts/features/idpay/initiative/configuration/xstate/context.ts
  ts/features/idpay/initiative/configuration/xstate/events.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
  ts/features/idpay/initiative/configuration/xstate/selectors.ts
  ts/features/idpay/initiative/configuration/xstate/services.ts
Labels: IDPay

#4550 chore(IDPay): [IODPAY-213] Add skeleton in IDPay initiative operation list screen
  ts/features/idpay/initiative/details/screens/OperationsListScreen.tsx
  ts/features/idpay/initiative/details/store/__test__/store.test.ts
  ts/features/idpay/initiative/details/store/index.ts
  ts/features/idpay/initiative/details/utils/hooks.ts
Labels: IDPay

#4496 fix(IDPay): [IODPAY-179,IODPAY-180] Add support for gesture navigation in IDPay screens
  ts/features/idpay/common/xstate/events.ts
  ts/features/idpay/common/xstate/utils.ts
  ts/features/idpay/initiative/configuration/navigation/navigator.tsx
  ts/features/idpay/initiative/configuration/screens/IbanConfigurationLandingScreen.tsx
  ts/features/idpay/initiative/configuration/screens/IbanEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/screens/IbanOnboardingScreen.tsx
  ts/features/idpay/initiative/configuration/screens/InstrumentsEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/xstate/__tests__/actions.test.ts
  ts/features/idpay/initiative/configuration/xstate/actions.ts
  ts/features/idpay/initiative/configuration/xstate/events.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
  ts/features/idpay/initiative/details/navigation/index.tsx
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/screens/BoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/MultiValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/PDNDPrerequisitesScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/actions.test.ts
  ts/features/idpay/onboarding/xstate/actions.ts
  ts/features/idpay/onboarding/xstate/events.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/provider.tsx
  ts/hooks/useNavigationSwipeBackListener.tsx
  ts/navigation/AppStackNavigator.tsx
Labels: IDPay

#4557 chore(IDPay): [IODPAY-214] IDPay Initiative status labels in details screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
  ts/features/idpay/initiative/details/components/InitiativeStatusLabel.tsx
Labels: IDPay

#4541 fix(IDPay): [IODPAY-212] "Tap to scroll" floating button in IDPay onboarding screen
  ts/components/ForceScrollDownView.tsx
  ts/components/__tests__/ForceScrollDownView.test.tsx
  ts/components/animations/ScaleInOutAnimation.tsx
  ts/features/idpay/onboarding/components/OnboardingDescriptionMarkdown.tsx
  ts/features/idpay/onboarding/components/OnboardingServiceHeader.tsx
  ts/features/idpay/onboarding/screens/InitiativeDetailsScreen.tsx
Labels: IDPay

#4564 fix(IDPay): [IODPAY-217] Fix IDPay initiative settings component skeleton
  ts/features/idpay/initiative/details/components/InitiativeSettingsComponent.tsx
Labels: IDPay

#4556 feat(IDPay): [IODPAY-116] Add info modal in IBAN landing screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/configuration/screens/IbanConfigurationLandingScreen.tsx
Labels: IDPay

#4569 fix(IDPay): [IODPAY-192] Wrong copy in initiativeDetails' "lastUpdated"
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
Labels: IDPay

#4572 chore(Firma con IO): [SFEQS-1629] Add zendesk fci custom field id
  ts/features/fci/components/ErrorComponent.tsx
  ts/features/fci/screens/valid/FciSignatureRequestsScreen.tsx
  ts/utils/supportAssistance.ts
Labels: Firma con IO

#4462 feat(IDPay): [IODPAY-171] IDPay initiative unsubscription
  locales/en/index.yml
  locales/it/index.yml
  ts/components/ui/ButtonOutline.tsx
  ts/components/ui/ButtonSolid.tsx
  ts/features/idpay/initiative/details/components/InitiativeSettingsComponent.tsx
  ts/features/idpay/unsubscription/components/UnsubscriptionCheckListItem.tsx
  ts/features/idpay/unsubscription/navigation/navigator.tsx
  ts/features/idpay/unsubscription/screens/UnsubscriptionConfirmationScreen.tsx
  ts/features/idpay/unsubscription/screens/UnsubscriptionResultScreen.tsx
  ts/features/idpay/unsubscription/xstate/__tests__/machine.test.ts
  ts/features/idpay/unsubscription/xstate/__tests__/services.test.ts
  ts/features/idpay/unsubscription/xstate/actions.ts
  ts/features/idpay/unsubscription/xstate/context.ts
  ts/features/idpay/unsubscription/xstate/events.ts
  ts/features/idpay/unsubscription/xstate/machine.ts
  ts/features/idpay/unsubscription/xstate/provider.tsx
  ts/features/idpay/unsubscription/xstate/selectors.ts
  ts/features/idpay/unsubscription/xstate/services.ts
  ts/features/idpay/wallet/components/IDPayCardsInWalletContainer.tsx
  ts/features/idpay/wallet/store/reducers/index.ts
  ts/hooks/__tests__/useConfirmationChecks.test.tsx
  ts/hooks/useConfirmationChecks.ts
  ts/navigation/AppStackNavigator.tsx
  ts/navigation/params/AppParamsList.ts
Labels: IDPay
