Repository pagopa/io-app, pull requests merged in 2023-02, with the labels that each got.

#4307 fix(Firma con IO): [SFEQS-1249] Add check on signature request expired or the days for consultation have passed
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/components/SuccessComponent.tsx
  ts/features/fci/components/__tests__/SuccessComponent.test.tsx
  ts/features/fci/utils/__tests__/dates.test.ts
  ts/features/fci/utils/dates.ts
Labels: Firma con IO

#4317 Update index.yml
  locales/de/bottomsheets/ciePin.md
  locales/de/index.yml
  locales/de/onboarding/tos_fingerprint_enrolled.md
Labels: German 🇩🇪

#4325 Update index.yml
  locales/de/index.yml
Labels: German 🇩🇪

#4340 fix(Firma con IO): [SFEQS-1354] Add rounding to daysBetweenDate
  ts/features/fci/components/__tests__/SuccessComponent.test.tsx
  ts/features/fci/utils/dates.ts
Labels: Firma con IO

#4335 fix(IDPay): [IODPAY-96] Added i18n for the onboarding flow
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/onboarding/components/FailureMessage.tsx
  ts/features/idpay/onboarding/screens/CompletionScreen.tsx
  ts/features/idpay/onboarding/screens/InitiativeSelfDeclarationsScreen.tsx
  ts/features/idpay/onboarding/xstate/services.ts
Labels: IDPay

#4346 feat: [IA-362,IA-367] -- Accessibility doesn't recognise CIE/SPID login button
  ts/screens/authentication/LandingScreen.tsx
Labels: accessibility

#4345 feat: [IA-362,IA-363,IA-364,IA-319] -- Carousel accessibility
  locales/en/index.yml
  locales/it/index.yml
  ts/components/HorizontalScroll.tsx
  ts/components/LandingCardComponent.tsx
  ts/screens/authentication/LandingScreen.tsx
Labels: accessibility

#4349 feat: [IA-362,IA-369] Accessibility: unlock code forgotten not recognised as button
  ts/components/Pinpad/index.tsx
Labels: accessibility

#4323 feat(IDPay): [IODPAY-76, IODPAY-92] Inclusion of multivalue selfPrerequisites flow
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/screens/BoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/MultiValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/xstate/__tests__/machine.test.ts
  ts/features/idpay/onboarding/xstate/actions.ts
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/provider.tsx
  ts/features/idpay/onboarding/xstate/selectors.ts
  ts/features/idpay/onboarding/xstate/services.ts
  yarn.lock
Labels: IDPay

#4350 feat: [IA-362,IA-389,IA-344] Added accessibility support to switch components.
  ts/components/core/selection/RemoteSwitch.tsx
  ts/components/core/selection/__test__/__snapshots__/RemoteSwitch.test.tsx.snap
  ts/components/services/ContactPreferencesToggles/PreferenceToggleRow.tsx
  ts/components/services/ContactPreferencesToggles/__test__/__snapshots__/PreferenceToggleRow.test.tsx.snap
  ts/screens/profile/NotificationsPreferencesScreen.tsx
Labels: accessibility

#4328 fix(Firma con IO): [SFEQS-1232] Required signature clauses are now auto selected and not editable by the user
  ts/features/fci/components/SignatureFieldItem.tsx
  ts/features/fci/screens/valid/FciDocumentsScreen.tsx
  ts/features/fci/screens/valid/FciSignatureFieldsScreen.tsx
  ts/features/fci/store/reducers/fciSignatureRequest.ts
Labels: Firma con IO

#4327 chore(IDPay): [IODPAY-93] IDPay configuration machine tests
  ts/features/idpay/initiative/configuration/xstate/__mocks__/actions.ts
  ts/features/idpay/initiative/configuration/xstate/__mocks__/services.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machine.test.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machineIban.test.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machineInstruments.test.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/transitions.test.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
Labels: IDPay

#4341 fix: [IABT-1204] Remove legacy `darkGray` and `gray` buttons
  ts/theme/components/Button.ts
Labels: Design System

#4361 fix: [IABT-1432] Fix UI regression in the `Add Payment Method` screen
  ts/components/wallet/PaymentMethodsList.tsx
Labels: Bug 🐞, Design System

#4357 fix(Firma con IO): [SFEQS-1369] Update file path for Android to fix the PDF preview and download actions
  ts/features/fci/components/DocumentViewer.tsx
  ts/features/fci/components/DocumentsNavigationBar.tsx
  ts/features/fci/components/__tests__/__snapshots__/DocumentsNavigationBar.test.tsx.snap
Labels: Firma con IO

#4362 fix(IDPay): [IODPAY-134] TransactionsList padding problem
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
  ts/features/idpay/initiative/details/components/TimelineTransactionCards.tsx
Labels: IDPay

#4355 fix(IDPay): [IODPAY-126] Fix `IbanEnrollmentScreen` with correct buttons and title
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/configuration/iban/screens/IbanEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/iban/screens/__test__/IbanEnrollmentScreen.test.tsx
  ts/features/idpay/initiative/configuration/xstate/provider.tsx
  ts/features/idpay/initiative/configuration/xstate/selectors.ts
Labels: IDPay

#4368 fix(IDPay): [IODPAY-148] Serialization bug in multivaluePrerequisites
  ts/features/idpay/onboarding/xstate/services.ts
Labels: IDPay

#4371 fix(IDPay): [IODPAY-132] Added initiative name in PDNDprerequisites screen
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/onboarding/screens/PDNDPrerequisitesScreen.tsx
  ts/features/idpay/onboarding/xstate/selectors.ts
Labels: IDPay

#4377 fix(IDPay): [IODPAY-150] Fix onboarding flow for whitelist initiative
  package.json
Labels: IDPay

#4378 chore: [IOAPPFD0-33] Add the new color palette
  ts/components/core/variables/IOColors.ts
  ts/features/design-system/core/DSColors.tsx
Labels: Design System

#4364 fix(IDPay): [IODPAY-136,IODPAY-137,IODPAY-140] Fix operation details display issues
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/details/components/TimelineDetailsBottomSheet.tsx
Labels: IDPay

#4376 chore(IDPay): [IODPAY-151] Fix IBAN change issue
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/configuration/iban/screens/IbanEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/iban/screens/__test__/IbanEnrollmentScreen.test.tsx
  ts/features/idpay/initiative/configuration/xstate/__mocks__/actions.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machineIban.test.ts
  ts/features/idpay/initiative/configuration/xstate/actions.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
Labels: IDPay

#4388 feat: [LLK-34] Bump minor TOS version
  ts/config.ts
Labels: legal-approved ⚖️ ✅

#4342 fix(Firma con IO): [SFEQS-1231] Update copy on abort bottom sheet
  locales/en/index.yml
  locales/it/index.yml
  ts/features/fci/screens/valid/FciDocumentsScreen.tsx
Labels: Firma con IO

#4382 chore: [IOAPPFD0-34] Add the new `ContentWrapper` component
  ts/components/core/ContentWrapper/index.tsx
  ts/components/core/spacer/Spacer.tsx
  ts/components/core/typography/LabelSmall.tsx
  ts/components/core/variables/IOSpacing.ts
  ts/features/design-system/components/DSSpacerViewerBox.tsx
  ts/features/design-system/components/DesignSystemScreen.tsx
  ts/features/design-system/core/DSSpacing.tsx
Labels: Design System

#4393 fix(IDPay): [IODPAY-104,IODPAY-105] Fix IDPay onboarding self declaration toggles
  ts/features/idpay/onboarding/screens/BoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/xstate/machine.ts
  ts/features/idpay/onboarding/xstate/selectors.ts
Labels: IDPay

#4392 chore: [IOAPPFD0-35] Add the new `Alert` component
  ts/components/Alert/index.tsx
  ts/components/core/icons/Icon.tsx
  ts/components/core/icons/svg/IconErrorFilled.tsx
  ts/components/core/icons/svg/IconInfoFilled.tsx
  ts/components/core/icons/svg/IconSuccess.tsx
  ts/components/core/icons/svg/IconWarningFilled.tsx
  ts/components/core/icons/svg/originals/IconErrorFilled.svg
  ts/components/core/icons/svg/originals/IconInfoFilled.svg
  ts/components/core/icons/svg/originals/IconSuccess.svg
  ts/components/core/icons/svg/originals/IconWarningFilled.svg
  ts/components/core/typography/H2.tsx
  ts/components/core/typography/Label.tsx
  ts/components/core/variables/IOColors.ts
  ts/components/core/variables/IOShapes.ts
  ts/components/core/variables/IOSpacing.ts
  ts/features/design-system/core/DSAdvice.tsx
  ts/features/design-system/core/DSAlert.tsx
  ts/features/design-system/navigation/navigator.tsx
  ts/features/design-system/navigation/params.ts
  ts/features/design-system/navigation/routes.ts
Labels: Design System

#4398 chore: [IOAPPFD0-37] Update spacing scale
  ts/components/FiscalCodeLandscapeOverlay.tsx
  ts/components/core/variables/IOSpacing.ts
  ts/components/messages/MessageDetail/index.tsx
  ts/features/bonus/bonusVacanze/screens/ActiveBonusScreen.tsx
  ts/features/bonus/bpd/components/paymentMethodActivationToggle/bottomsheet/OtherChannelInformation.tsx
  ts/features/bonus/bpd/screens/iban/insertion/IbanInsertionComponent.tsx
  ts/features/bonus/bpd/screens/onboarding/ErrorPaymentMethodsScreen.tsx
  ts/features/bonus/cgn/screens/CgnDetailScreen.tsx
  ts/features/design-system/core/DSSpacing.tsx
  ts/features/euCovidCert/screens/valid/EuCovidCertValidScreen.tsx
  ts/screens/wallet/TransactionDetailsScreen.tsx
Labels: Design System

#4369 fix(IDPay): [IODPAY-119,IODPAY-120] Fix instruments enrollment UI not following design
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/configuration/components/InstrumentEnrollmentSwitch.tsx
  ts/features/idpay/initiative/configuration/screens/InstrumentsEnrollmentScreen.tsx
Labels: IDPay

#4356 chore: [IAI-267] Add the new native component `ButtonSolid`
  ts/components/core/variables/IOAnimations.ts
  ts/components/core/variables/IOColors.ts
  ts/components/core/variables/IOStyles.ts
  ts/components/ui/ButtonExtendedOutline.tsx
  ts/components/ui/ButtonSolid.tsx
  ts/features/design-system/core/DSButtons.tsx
Labels: a11y, Design System

#4400 chore: [LLK-35] Add mixpanel events for Lollipop failure
  ts/features/lollipop/hooks/useLollipopLoginSource.tsx
  ts/features/lollipop/utils/login.ts
  ts/sagas/startup/generateCryptoKeyPair.ts
  ts/screens/authentication/IdpLoginScreen.tsx
  ts/utils/analytics.ts
  ts/utils/crypto.ts
Labels: legal-approved ⚖️ ✅

#4347 feat: [IA-362,IA-383] Accessibility: fixed organization's fiscal code copy button
  locales/en/index.yml
  locales/it/index.yml
  ts/components/services/ServiceMetadata/__tests__/ServiceMetadata.test.tsx
  ts/components/services/ServiceMetadata/index.tsx
Labels: a11y

#4401 fix(IDPay): [IODPAY-114,IODPAY-155,IODPAY-156] New IBAN pages refactor
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/configuration/iban/screens/IbanEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/iban/screens/IbanOnboardingScreen.tsx
Labels: IDPay

#4402 fix(IDPay): [IODPAY-157] Add correct amount to initiative card
  locales/en/index.yml
  locales/it/index.yml
  ts/features/idpay/initiative/details/components/InitiativeCardComponent.tsx
  ts/features/idpay/initiative/details/screens/InitiativeDetailsScreen.tsx
Labels: IDPay

#4383 fix(Firma con IO): [SFEQS-1398] Update style in document navigation bar
  ts/features/fci/components/DocumentsNavigationBar.tsx
  ts/features/fci/components/__tests__/__snapshots__/DocumentsNavigationBar.test.tsx.snap
Labels: Firma con IO

#4354 feat(IDPay): [IODPAY-103] InitiativeDetailsScreen requires scrolling
  ts/features/idpay/onboarding/screens/BoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/InitiativeDetailsScreen.tsx
  ts/features/idpay/onboarding/xstate/selectors.ts
Labels: IDPay

#4390 fix(IDPay): [IODPAY-123] Fix loading state for instrument toggles
  ts/features/idpay/initiative/configuration/components/InstrumentEnrollmentSwitch.tsx
  ts/features/idpay/initiative/configuration/iban/screens/__test__/IbanEnrollmentScreen.test.tsx
  ts/features/idpay/initiative/configuration/screens/InstrumentsEnrollmentScreen.tsx
  ts/features/idpay/initiative/configuration/xstate/__mocks__/services.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machine.test.ts
  ts/features/idpay/initiative/configuration/xstate/__tests__/machineInstruments.test.ts
  ts/features/idpay/initiative/configuration/xstate/context.ts
  ts/features/idpay/initiative/configuration/xstate/events.ts
  ts/features/idpay/initiative/configuration/xstate/machine.ts
  ts/features/idpay/initiative/configuration/xstate/selectors.ts
  ts/features/idpay/initiative/configuration/xstate/services.ts
Labels: IDPay

#4365 fix(IDPay): [IODPAY-147,IODPAY-135,IODPAY-128] Refactor list item design
  locales/en/index.yml
  locales/it/index.yml
  package.json
  ts/components/core/icons/Icon.tsx
  ts/components/core/icons/svg/IconArrowCircleUp.tsx
  ts/components/core/icons/svg/originals/IconArrowCircleUp.svg
  ts/components/core/typography/H4.tsx
  ts/features/design-system/core/DSListItems.tsx
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
  ts/features/idpay/initiative/details/saga/__test__/handleGetTimelineDetails.test.ts
  ts/features/idpay/initiative/details/saga/__test__/handleGetTimelinePage.test.ts
  ts/features/idpay/initiative/details/saga/handleGetTimelinePage.ts
  ts/features/idpay/initiative/details/store/__test__/store.test.ts
  ts/features/idpay/initiative/details/store/index.ts
  ts/features/idpay/initiative/details/utils/utils.ts
Labels: IDPay

#4404 fix(IDPay): [IODPAY-159] Show loader when enrollment request in progress
  ts/features/idpay/initiative/configuration/xstate/machine.ts
Labels: IDPay

#4363 chore: [IAI-268] Add the new native component `ButtonOutline`
  ts/components/core/variables/IOStyles.ts
  ts/components/ui/ButtonOutline.tsx
  ts/components/ui/ButtonSolid.tsx
  ts/features/design-system/core/DSButtons.tsx
Labels: a11y, Design System

#4412 fix(IDPay): [IODPAY-160] Update ListItem import to follow design
  package.json
  ts/features/design-system/core/DSListItems.tsx
  ts/features/idpay/initiative/details/components/TimelineOperationListItem.tsx
  ts/features/idpay/initiative/details/store/__test__/store.test.ts
Labels: IDPay

#4417 fix(Firma con IO): [SFEQS-1317] Add item separator to tos screen
  ts/features/fci/screens/valid/FciQtspClausesScreen.tsx
Labels: Firma con IO

#4420 fix(IDPay): [IODPAY-133] Fix PDND prerequisites screen list item UI
  ts/features/idpay/onboarding/screens/PDNDPrerequisitesScreen.tsx
Labels: IDPay
