Repository pagopa/io-app, pull requests merged in 2025-07, with the labels that each got.

#7122 fix: [IOPID-3010,IOPID-3011] add a11y fix on RemoveAccountDetailsScreen and DownloadProfileDataScreen
  locales/en/index.json
  locales/it/index.json
  ts/features/settings/privacy/screens/DownloadProfileDataScreen.tsx
  ts/features/settings/privacy/screens/RemoveAccountDetailsScreen.tsx
Labels: IO-A&I

#7142 fix(IT Wallet): [SIW-2663] TypeError: Cannot convert undefined value to object
  ts/features/itwallet/credentials/saga/checkCredentialsStatusAttestation.ts
  ts/features/itwallet/lifecycle/saga/handleWalletInstanceResetSaga.ts
  ts/features/wallet/store/selectors/index.ts
Labels: IT Wallet

#7144 feat: [IOBP-1796] Added `withAppRequiredUpdate` HOC to handle feature-related min app version
  scripts/generate-api-models.sh
  ts/components/UpdateAppAlert.tsx
  ts/components/__tests__/UpdateAppAlert.test.tsx
  ts/components/__tests__/__snapshots__/UpdateAppAlert.test.tsx.snap
  ts/components/helpers/withAppRequiredUpdate.tsx
  ts/features/idpay/details/screens/IdPayInitiativeDetailsScreen.tsx
  ts/features/idpay/details/screens/__tests__/IdPayInitiativeDetailsScreen.test.tsx
  ts/features/idpay/onboarding/screens/IdPayInitiativeDetailsScreen.tsx
  ts/store/reducers/backendStatus/remoteConfig.ts
Labels: IDPay, IO-Bonus e pagamenti

#7135 fix: [IOCOM-2464] SEND timeline padding
  ts/features/pn/components/Timeline.tsx
  ts/features/pn/components/TimelineListItem.tsx
  ts/features/pn/components/__test__/Timeline.test.tsx
  ts/features/pn/components/__test__/__snapshots__/Timeline.test.tsx.snap
Labels: IO-Comunicazione

#7148 feat(IT Wallet): [SIW-2267] Update tos screen title based on L3
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/discovery/screens/ItwIpzsPrivacyScreen.tsx
  ts/features/itwallet/discovery/screens/__tests__/ItwIpzsPrivacyScreen.test.tsx
  ts/features/itwallet/discovery/screens/__tests__/__snapshots__/ItwIpzsPrivacyScreen.test.tsx.snap
Labels: IT Wallet

#7140 refactor(IT Wallet): [SIW-2657] Refactor IT Wallet's `credentials` reducer
  ts/components/SectionStatus/__tests__/index.test.tsx
  ts/features/common/store/reducers/__tests__/__snapshots__/index.test.ts.snap
  ts/features/itwallet/common/store/reducers/__tests__/__snapshots__/index.test.ts.snap
  ts/features/itwallet/common/store/selectors/__tests__/index.test.ts
  ts/features/itwallet/common/store/selectors/index.ts
  ts/features/itwallet/credentials/saga/__tests__/handleWalletCredentialsRehydration.test.ts
  ts/features/itwallet/credentials/saga/checkCredentialsStatusAttestation.ts
  ts/features/itwallet/credentials/saga/handleWalletCredentialsRehydration.ts
  ts/features/itwallet/credentials/store/reducers/__tests__/index.test.ts
  ts/features/itwallet/credentials/store/reducers/__tests__/migrations.test.ts
  ts/features/itwallet/credentials/store/reducers/index.ts
  ts/features/itwallet/credentials/store/reducers/migrations.ts
  ts/features/itwallet/credentials/store/selectors/__tests__/index.test.ts
  ts/features/itwallet/credentials/store/selectors/index.ts
  ts/features/itwallet/issuance/screens/ItwIssuanceCredentialAsyncContinuationScreen.tsx
  ts/features/itwallet/issuance/screens/__tests__/ItwIssuanceCredentialAsyncContinuationScreen.test.tsx
  ts/features/itwallet/lifecycle/saga/__tests__/checkWalletInstanceStateSaga.test.ts
  ts/features/itwallet/lifecycle/saga/handleWalletInstanceResetSaga.ts
  ts/features/itwallet/lifecycle/store/selectors/index.ts
  ts/features/itwallet/presentation/details/screens/ItwPresentationCredentialDetailScreen.tsx
  ts/features/itwallet/presentation/proximity/__mocks__/credentials.ts
  ts/features/itwallet/presentation/proximity/machine/actions.ts
  ts/features/itwallet/presentation/remote/machine/actors.ts
  ts/features/itwallet/trustmark/machine/actions.ts
  ts/features/settings/common/screens/__tests__/ProfileMainScreen.test.tsx
  ts/features/settings/security/shared/components/__tests__/PinCreation.test.tsx
  ts/features/settings/userData/screens/__tests__/FiscalCodeScreen.test.tsx
  ts/features/settings/userData/screens/__tests__/ProfileDataScreen.test.tsx
  ts/features/settings/userData/shared/__test__/EmailValidationSendEmailScreen.test.tsx
  ts/features/wallet/store/selectors/__tests__/index.test.ts
  ts/mixpanelConfig/___tests___/profileProperties.test.ts
  ts/mixpanelConfig/___tests___/superProperties.test.ts
  ts/mixpanelConfig/profileProperties.ts
  ts/mixpanelConfig/superProperties.ts
Labels: IT Wallet

#7149 fix(IT Wallet): [SIW-2669] Fix back navigation after choosing L2 identification fallback
  ts/features/itwallet/common/hooks/useItwIdentificationBottomSheet.tsx
  ts/features/itwallet/common/utils/itwIssuanceUtils.ts
  ts/features/itwallet/identification/hooks/useNoCieBottomSheet.tsx
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/context.ts
  ts/features/itwallet/machine/eid/machine.ts
Labels: IT Wallet

#7162 refactor: [IOBP-1812] Update CGN delete alert CTA text
  ts/features/bonus/cgn/hooks/useCgnUnsubscribe.tsx
  ts/features/bonus/cgn/hooks/useSpecialCtaCgn.tsx
Labels: Carta Giovani Nazionale, IO-Bonus e pagamenti

#7164 chore: [IOBP-1822] Add IdPay CIE code remote feature flag
  scripts/generate-api-models.sh
  ts/features/idpay/code/components/IdPayCodeCieBanner.tsx
  ts/features/idpay/details/components/IdPayInitiativeDiscountSettingsComponent.tsx
  ts/features/idpay/details/screens/__tests__/IdPayInitiativeDetailsScreen.test.tsx
  ts/features/settings/security/screens/SecurityScreen.tsx
  ts/features/settings/security/screens/__tests__/SecurityScreen.test.tsx
  ts/store/reducers/backendStatus/remoteConfig.ts
Labels: IDPay, IO-Bonus e pagamenti

#7157 feat(IT Wallet): [SIW-2670] New UX for CIE+PIN identification flow
  img/features/itWallet/identification/cie_card.png
  img/features/itWallet/identification/cie_card@2x.png
  img/features/itWallet/identification/cie_pin.png
  img/features/itWallet/identification/cie_pin@2x.png
  img/features/itWallet/identification/itw_cie_pin_placeholder.png
  img/features/itWallet/identification/itw_cie_placeholder.png
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/common/hooks/useItwIdentificationBottomSheet.tsx
  ts/features/itwallet/discovery/screens/ItwIpzsPrivacyScreen.tsx
  ts/features/itwallet/discovery/screens/__tests__/__snapshots__/ItwDiscoveryInfoScreen.test.tsx.snap
  ts/features/itwallet/identification/components/cie/CiePreparationScreenContent.tsx
  ts/features/itwallet/identification/components/cie/ItwCiePreparationBaseScreenContent.tsx
  ts/features/itwallet/identification/hooks/useCieInfoAndPinBottomSheets.ts
  ts/features/itwallet/identification/hooks/useCieInfoBottomSheet.tsx
  ts/features/itwallet/identification/hooks/useNoCieBottomSheet.tsx
  ts/features/itwallet/identification/screens/ItwIdentificationCieWarningScreen.tsx
  ts/features/itwallet/identification/screens/ItwL2IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/screens/ItwL3IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/screens/__tests__/ItwL2IdentificationModeSelectionScreen.test.tsx
  ts/features/itwallet/identification/screens/__tests__/ItwL3IdentificationModeSelectionScreen.test.tsx
  ts/features/itwallet/identification/screens/cie/ItwCiePinPreparationScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCiePinScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCiePreparationCardScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCiePreparationPinScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCiePreparationScreen.tsx
  ts/features/itwallet/identification/screens/cieId/ItwCieIdLoginScreen.tsx
  ts/features/itwallet/identification/screens/spid/ItwSpidIdpLoginScreen.tsx
  ts/features/itwallet/lifecycle/screens/ItwIdentityNotMatchingScreen.tsx
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/actions.ts
  ts/features/itwallet/machine/eid/events.ts
  ts/features/itwallet/machine/eid/machine.ts
  ts/features/itwallet/navigation/ItwStackNavigator.tsx
Labels: IT Wallet

#7167 feat: [IOBP-1816] Enable push notification at IDPay onboarding process
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/appearanceSettings/store/selectors/index.ts
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/context.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/navigation/params.ts
  ts/features/idpay/onboarding/navigation/routes.ts
  ts/features/idpay/onboarding/screens/IdPayCompletionScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayEnableNotificationScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayMultiValuePrerequisitesScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7166 chore(IT Wallet): [SIW-2692] Bypass identity match check in `pre`
  ts/config.ts
  ts/features/itwallet/common/utils/environment.ts
  ts/features/itwallet/machine/provider.tsx
  ts/sagas/startup/checkItWalletIdentitySaga.ts
Labels: IT Wallet

#7153 feat(IT Wallet): [SIW-2524] Add PID issuance compliant with spec v1.0
  .env.local
  .env.production
  package.json
  ts/features/itwallet/common/utils/__tests__/itwCredentialStatusAttestationUtils.test.ts
  ts/features/itwallet/common/utils/itwAttestationUtils.ts
  ts/features/itwallet/common/utils/itwCredentialIssuanceUtils.ts
  ts/features/itwallet/common/utils/itwCredentialStatusAttestationUtils.ts
  ts/features/itwallet/common/utils/itwCredentialStatusUtils.ts
  ts/features/itwallet/common/utils/itwIoReactNativeWalletProxy.ts
  ts/features/itwallet/common/utils/itwIssuanceUtils.ts
  ts/features/itwallet/common/utils/itwIssuanceUtils.v1.ts
  ts/features/itwallet/common/utils/itwIssuanceUtils.v2.ts
  ts/features/itwallet/common/utils/itwTypesUtils.ts
  ts/features/itwallet/credentials/saga/__tests__/handleWalletCredentialsRehydration.test.ts
  ts/features/itwallet/credentials/store/actions/index.ts
  ts/features/itwallet/credentials/store/reducers/__tests__/index.test.ts
  ts/features/itwallet/credentials/store/reducers/__tests__/migrations.test.ts
  ts/features/itwallet/credentials/store/reducers/index.ts
  ts/features/itwallet/credentials/store/reducers/migrations.ts
  ts/features/itwallet/credentials/store/selectors/__tests__/index.test.ts
  ts/features/itwallet/credentials/store/selectors/index.ts
  ts/features/itwallet/identification/components/cie/WebViewComponent.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieCardReaderScreen.tsx
  ts/features/itwallet/issuance/screens/ItwIssuanceCredentialFailureScreen.tsx
  ts/features/itwallet/issuance/screens/__tests__/ItwIssuanceCredentialAsyncContinuationScreen.test.tsx
  ts/features/itwallet/lifecycle/saga/__tests__/checkWalletInstanceStateSaga.test.ts
  ts/features/itwallet/lifecycle/store/selectors/__tests__/index.test.ts
  ts/features/itwallet/machine/credential/machine.ts
  ts/features/itwallet/machine/eid/actions.ts
  ts/features/itwallet/machine/eid/actors.ts
  ts/features/itwallet/machine/eid/context.ts
  ts/features/itwallet/machine/eid/machine.ts
  ts/features/itwallet/presentation/details/components/__tests__/ItwPresentationCredentialStatusAlert.test.tsx
  ts/features/itwallet/presentation/proximity/__mocks__/credentials.ts
  ts/features/itwallet/presentation/proximity/utils/__tests__/itwProximityPresentationUtils.test.ts
  yarn.lock
Labels: dont-merge :raised_hand:, IT Wallet

#7179 feat: [IOBP-1842] Introduce `Stepper` component into IDPay onboarding flow
  ts/components/ui/IOScrollView.tsx
  ts/components/ui/IOScrollViewWithLargeHeader.tsx
  ts/features/idpay/onboarding/components/IdPayOnboardingStepper.tsx
  ts/features/idpay/onboarding/machine/context.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/machine/selectors.ts
  ts/features/idpay/onboarding/screens/IdPayBoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayInputFormVerificationScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayMultiValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayPDNDPrerequisitesScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7181 chore: [IOBP-1828] Add error toast when selection is required but the value is empty
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/onboarding/screens/IdPayBoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayInputFormVerificationScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayMultiValuePrerequisitesScreen.tsx
Labels: a11y, IDPay, IO-Bonus e pagamenti

#7173 feat: [IOBP-1824] Enable message screen on IDPay onboarding flow
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/context.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/navigation/params.ts
  ts/features/idpay/onboarding/navigation/routes.ts
  ts/features/idpay/onboarding/screens/IdPayEnableMessageScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayInitiativeDetailsScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7150 feat(IT Wallet): [SIW-2483,SIW-2620] Implement Mixpanel events for L3 Upgrade
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/analytics/enum.ts
  ts/features/itwallet/analytics/index.ts
  ts/features/itwallet/common/components/ItwUpgradeBanner.tsx
  ts/features/itwallet/common/hooks/useItwDismissalDialog.tsx
  ts/features/itwallet/discovery/components/ItwDiscoveryInfoComponent.tsx
  ts/features/itwallet/discovery/components/ItwNfcNotSupportedComponent.tsx
  ts/features/itwallet/discovery/components/ItwPaywallComponent.tsx
  ts/features/itwallet/discovery/screens/ItwDiscoveryInfoScreen.tsx
  ts/features/itwallet/discovery/screens/ItwIpzsPrivacyScreen.tsx
  ts/features/itwallet/identification/components/cie/ItwCiePreparationBaseScreenContent.tsx
  ts/features/itwallet/identification/hooks/useCieInfoBottomSheet.tsx
  ts/features/itwallet/identification/screens/ItwIdentificationCieWarningScreen.tsx
  ts/features/itwallet/identification/screens/ItwL2IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/screens/ItwL3IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwActivateNfcScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieCardReaderScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieExpiredOrInvalidScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCiePinScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieUnexpectedErrorScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieWrongCiePinScreen.tsx
  ts/features/itwallet/machine/eid/actors.ts
  ts/features/itwallet/machine/eid/machine.ts
  ts/features/itwallet/presentation/proximity/screens/ItwProximityClaimsDisclosureScreen.tsx
  ts/features/itwallet/presentation/remote/analytics/index.ts
  ts/features/itwallet/presentation/remote/screens/ItwRemoteFailureScreen.tsx
Labels: IT Wallet

#7137 feat(IT Wallet): [SIW-2326] Integrate trust federation with remote presentation flow
  .env.local
  .env.production
  ios/ItaliaApp.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  ts/features/itwallet/common/utils/environment.ts
  ts/features/itwallet/presentation/remote/machine/actors.ts
  ts/features/itwallet/presentation/remote/machine/failure.ts
  ts/features/itwallet/presentation/remote/machine/machine.ts
  ts/features/itwallet/presentation/remote/machine/provider.tsx
  ts/features/itwallet/presentation/remote/screens/__tests__/ItwRemoteFailureScreen.test.tsx
  ts/features/itwallet/presentation/remote/screens/__tests__/__snapshots__/ItwRemoteFailureScreen.test.tsx.snap
  yarn.lock
Labels: IT Wallet

#7182 fix(IT Wallet): [SIW-2685] parse `nationalities` claim
  ts/features/itwallet/common/components/ItwCredentialClaim.tsx
  ts/features/itwallet/common/utils/__tests__/itwClaimsUtils.test.ts
  ts/features/itwallet/common/utils/itwClaimsUtils.ts
Labels: IT Wallet

#7177 feat: [IOCOM-2458,IOCOM-2459] Support for SEND's AAR QRCode when scanning a QRCode
  scripts/generate-api-models.sh
  ts/features/barcode/analytics/index.ts
  ts/features/barcode/hooks/useIOBarcodeCameraScanner.tsx
  ts/features/barcode/hooks/useIOBarcodeFileReader.tsx
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/barcode/types/__tests__/decoders.test.ts
  ts/features/barcode/types/decoders.ts
  ts/features/barcode/utils/__tests__/imageDecodingTask.test.ts
  ts/features/barcode/utils/imageDecodingTask.ts
  ts/store/reducers/backendStatus/__tests__/remoteConfig.test.ts
  ts/store/reducers/backendStatus/remoteConfig.ts
Labels: IO-Comunicazione

#7170 chore: [IOCOM-2479] android crashing on pdf attachment opening
  patches/react-native-pdf+6.7.7.patch
Labels: IO-Comunicazione

#7188 refactor: [IOBP-1866] Remove the IDPay unsubscribe CTA and adapted the beneficiary details content screen
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/details/components/IdPayBeneficiaryDetailsContent.tsx
  ts/features/idpay/details/components/IdPayInitiativeRulesInfoBox.tsx
  ts/features/idpay/details/components/IdPayInitiativeStatusItem.tsx
  ts/features/idpay/details/components/__tests__/IdPayBeneficiaryDetailsContent.test.tsx
  ts/features/idpay/details/screens/IdPayBeneficiaryDetailsScreen.tsx
  ts/features/idpay/details/screens/IdPayInitiativeDetailsScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7190 refactor: [IOBP-1867,IOBP-1868] Update pictogram and outcome body text
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/onboarding/screens/IdPayFailureScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7161 feat(IT Wallet): [SIW-2665] Add IT-Wallet upgrade banner in MDL details
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/analytics/index.ts
  ts/features/itwallet/common/store/actions/preferences.ts
  ts/features/itwallet/common/store/reducers/__tests__/preferences.test.ts
  ts/features/itwallet/common/store/reducers/preferences.ts
  ts/features/itwallet/common/store/selectors/__tests__/index.test.ts
  ts/features/itwallet/common/store/selectors/index.ts
  ts/features/itwallet/common/store/selectors/preferences.ts
  ts/features/itwallet/presentation/details/components/ItwPresentationAdditionalInfoSection.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationWalletUpgradeMDLDetailsBanner.tsx
Labels: IT Wallet

#7154 refactor: [IOPID-2925] Lollipop key agnostic login
  ts/features/authentication/common/saga/__test__/testLoginSaga.test.ts
  ts/features/authentication/common/saga/testLoginSaga.ts
  ts/features/authentication/common/screens/TestAuthenticationScreen.tsx
  ts/features/authentication/login/cie/components/CieRequestAuthenticationOverlay.tsx
  ts/features/authentication/login/cie/components/__test__/__snapshots__/CieIdLoginWebView.test.tsx.snap
  ts/features/authentication/login/cie/screens/__test__/__snapshots__/CieIdLoginScreen.test.tsx.snap
  ts/features/authentication/login/idp/screens/__test__/IdpLoginScreen.test.tsx
  ts/features/authentication/login/idp/screens/idpAuthSessionHandler.tsx
  ts/features/lollipop/__tests__/index.test.ts
  ts/features/lollipop/hooks/useLollipopLoginSource.tsx
  ts/features/lollipop/index.ts
  ts/features/lollipop/store/__tests__/index.test.ts
  ts/features/lollipop/store/actions/__test__/lollipop.test.ts
  ts/features/lollipop/store/actions/lollipop.ts
  ts/features/lollipop/store/index.ts
  ts/features/lollipop/store/reducers/__tests__/lollipop.test.ts
  ts/features/lollipop/store/reducers/lollipop.ts
  ts/features/lollipop/utils/__tests__/retryAndVerifyMismatch.test.ts
  ts/features/lollipop/utils/__tests__/retryAndVerifyMissingSamlRequest.test.ts
  ts/features/lollipop/utils/__tests__/retryAndVerifyMissingThumbprint.test.ts
  ts/features/lollipop/utils/__tests__/retryAndVerifyRedirectNativeError.test.ts
  ts/features/lollipop/utils/__tests__/retryAndVerifySuccess.test.ts
  ts/features/lollipop/utils/login.ts
Labels: IO-A&I

#7178 feat: [IOCOM-2461] SEND scan success/redirect screen
  locales/en/index.json
  locales/it/index.json
  ts/features/barcode/screens/BarcodeScanScreen.tsx
  ts/features/pn/navigation/navigator.tsx
  ts/features/pn/navigation/params.ts
  ts/features/pn/navigation/routes.ts
  ts/features/pn/qrCodeScan/components/SendQrScanRedirectScreen.tsx
  ts/features/pn/qrCodeScan/components/__test__/SendQrScanRedirectScreen.test.tsx
  ts/features/pn/qrCodeScan/components/__test__/__snapshots__/SendQrScanRedirectScreen.test.tsx.snap
  ts/features/pn/qrCodeScan/screens/QrScanFlow.tsx
  ts/features/pn/qrCodeScan/screens/__test__/QrScanFlow.test.tsx
Labels: IO-Comunicazione

#7196 refactor: [IOBP-1870] CGN opportunity detail focus on title
  ts/features/bonus/cgn/screens/merchants/CgnMerchantDetailScreen.tsx
Labels: a11y, Carta Giovani Nazionale, IO-Bonus e pagamenti

#7200 refactor: [IOBP-1881] Navigate to service tab on IDPay onboarding success flow
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/navigation/params/AppParamsList.ts
Labels: IDPay, IO-Bonus e pagamenti

#7197 chore(IT Wallet): [SIW-2528,SIW-2529,SIW-2622,SIW-2623,SIW-2626,SIW-2630] Update IT Wallet copy
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/identification/screens/ItwActivateNfcScreen.tsx
  ts/features/itwallet/identification/screens/ItwL3IdentificationModeSelectionScreen.tsx
Labels: IT Wallet

#7203 fix(IT Wallet): [SIW-2703,SIW-2748] Bottom sheet and keyboard layout on CIE PIN screen and copy update
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/identification/cie/screens/ItwCiePinScreen.tsx
Labels: IT Wallet

#7205 fix(IT Wallet): [SIW-2757] Add default space value to `VStack` components if not set
  ts/features/itwallet/presentation/details/components/ItwPresentationPidScaffoldScreen.tsx
  ts/features/itwallet/wallet/components/ItwWalletCardsContainer.tsx
  ts/features/wallet/components/WalletCardsContainer.tsx
Labels: IT Wallet

#7185 feat(IT Wallet): [SIW-2283] Add trust federation checks when requesting PID
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/common/utils/itwFailureUtils.ts
  ts/features/itwallet/issuance/screens/ItwIssuanceEidFailureScreen.tsx
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/actors.ts
  ts/features/itwallet/machine/eid/failure.ts
  ts/features/itwallet/machine/eid/machine.ts
  ts/features/itwallet/presentation/remote/machine/failure.ts
Labels: IT Wallet

#7206 fix: [IOBP-1887] Add missing IDPay service data fetching to enable messages
  ts/features/idpay/onboarding/screens/IdPayInitiativeDetailsScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7215 fix: [IOBP-1897] Cheaper PSP selected check improved
  ts/features/payments/checkout/utils/__tests__/index.test.ts
  ts/features/payments/checkout/utils/index.ts
Labels: IO-Bonus e pagamenti

#7211 feat: [IOBP-1890] IDPay onboarding loading screen
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/navigation/params.ts
  ts/features/idpay/onboarding/navigation/routes.ts
  ts/features/idpay/onboarding/screens/IdPayFailureScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayLoadingScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7084 chore: [IOPLT-1171] Extend dark mode to the `TosScreen`
  android/app/src/main/res/values/styles.xml
  ts/features/settings/privacy/shared/components/TosWebviewComponent.tsx
Labels: a11y, hold, Dark mode 🌝

#7228 fix: [IOBP-1905] Adjust carousel spacing on empty transactions list
  ts/features/payments/home/screens/PaymentsHomeScreen.tsx
Labels: Bug 🐞, IO-Bonus e pagamenti

#7225 feat: [IOCOM-2463] SEND AAR flow push notifications engagement screen and logic
  locales/en/index.json
  locales/it/index.json
  ts/features/pn/aar/hooks/__tests__/useAARPushEngagementScreenLogic.test.tsx
  ts/features/pn/aar/hooks/useAARpushEngagementScreenLogic.tsx
  ts/features/pn/aar/screen/SendAARPushEngagementScreen.tsx
  ts/features/pn/aar/screen/SendEngagementScreen.tsx
  ts/features/pn/aar/screen/__tests__/SendAARPushEngagemenScreen.test.tsx
  ts/features/pn/aar/screen/__tests__/SendEngagementScreen.test.tsx
  ts/features/pn/aar/screen/__tests__/__snapshots__/SendAARPushEngagemenScreen.test.tsx.snap
  ts/features/pn/navigation/navigator.tsx
  ts/features/pn/navigation/params.ts
  ts/features/pn/navigation/routes.ts
Labels: IO-Comunicazione

#7217 fix(IT Wallet): [SIW-2766] delete old eID when obtaining a new one
  ts/features/itwallet/credentials/saga/handleItwCredentialsRemoveSaga.ts
  ts/features/itwallet/credentials/saga/index.ts
  ts/features/itwallet/credentials/store/actions/index.ts
  ts/features/itwallet/credentials/store/reducers/__tests__/index.test.ts
  ts/features/itwallet/credentials/store/reducers/index.ts
  ts/features/itwallet/credentials/store/selectors/__tests__/index.test.ts
  ts/features/itwallet/credentials/store/selectors/index.ts
  ts/features/itwallet/machine/eid/actions.ts
  ts/features/itwallet/presentation/details/components/ItwPresentationDetailsFooter.tsx
Labels: IT Wallet

#7192 feat(IT Wallet): [SIW-2708] Implement Mixpanel events for Proximity Presentation
  ts/features/itwallet/presentation/details/screens/ItwPresentationCredentialDetailScreen.tsx
  ts/features/itwallet/presentation/proximity/__tests__/machine.test.ts
  ts/features/itwallet/presentation/proximity/analytics/enum.ts
  ts/features/itwallet/presentation/proximity/analytics/index.ts
  ts/features/itwallet/presentation/proximity/hooks/useItwPresentQRCode.tsx
  ts/features/itwallet/presentation/proximity/hooks/useItwProximityEventsTracking.ts
  ts/features/itwallet/presentation/proximity/machine/actions.ts
  ts/features/itwallet/presentation/proximity/machine/actors.ts
  ts/features/itwallet/presentation/proximity/machine/context.ts
  ts/features/itwallet/presentation/proximity/machine/machine.ts
  ts/features/itwallet/presentation/proximity/machine/selectors.ts
  ts/features/itwallet/presentation/proximity/screens/ItwActivateBluetoothScreen.tsx
  ts/features/itwallet/presentation/proximity/screens/ItwGrantPermissionsScreen.tsx
  ts/features/itwallet/presentation/proximity/screens/ItwProximityClaimsDisclosureScreen.tsx
  ts/features/itwallet/presentation/proximity/screens/ItwProximityFailureScreen.tsx
  ts/features/itwallet/presentation/proximity/screens/ItwProximitySendDocumentsResponseScreen.tsx
Labels: IT Wallet

#7220 feat(IT-Wallet): [SIW-2525] Align remote presentation to 1.0 specs
  ts/features/itwallet/presentation/remote/components/ItwRemotePresentationDetails.tsx
  ts/features/itwallet/presentation/remote/machine/actors.ts
  ts/features/itwallet/presentation/remote/machine/failure.ts
  ts/features/itwallet/presentation/remote/utils/__tests__/itwRemotePresentationUtils.test.ts
  ts/features/itwallet/presentation/remote/utils/itwRemotePresentationUtils.ts
  ts/features/itwallet/presentation/remote/utils/itwRemoteTypeUtils.ts
Labels: IT Wallet

#7218 feat: [IOCOM-2487] Analytics events for AAR phase 1
  jestSetup.js
  ts/features/barcode/analytics/__tests__/index.test.ts
  ts/features/barcode/analytics/index.ts
  ts/features/pn/aar/analytics/__tests__/index.test.ts
  ts/features/pn/aar/analytics/index.ts
  ts/features/pn/aar/components/SendQRScanRedirectComponent.tsx
  ts/features/pn/aar/components/__tests__/SendQRScanRedirectComponent.test.tsx
  ts/features/pn/aar/components/__tests__/__snapshots__/SendQRScanRedirectComponent.test.tsx.snap
  ts/features/pn/aar/hooks/__tests__/useAARPushEngagementScreenLogic.test.tsx
  ts/features/pn/aar/hooks/useAARpushEngagementScreenLogic.tsx
  ts/features/pn/aar/screen/SendAARPushEngagementScreen.tsx
  ts/features/pn/aar/screen/SendEngagementScreen.tsx
  ts/features/pn/aar/screen/__tests__/SendAARPushEngagemenScreen.test.tsx
  ts/features/pn/aar/screen/__tests__/SendEngagementScreen.test.tsx
  ts/features/pn/aar/screen/__tests__/__snapshots__/SendAARPushEngagemenScreen.test.tsx.snap
  ts/features/pn/aar/screen/__tests__/__snapshots__/SendEngagementScreen.test.tsx.snap
  ts/features/pushNotifications/analytics/__tests__/index.test.ts
  ts/features/pushNotifications/analytics/index.ts
  ts/features/pushNotifications/screens/SystemNotificationPermissionsScreen.tsx
  ts/features/pushNotifications/screens/__tests__/SystemNotificationPermissionsScreen.test.tsx
Labels: IO-Comunicazione

#7232 feat: [IOCOM-2504] Enable AAR phase 1
  ts/features/barcode/screens/BarcodeScanScreen.tsx
Labels: IO-Comunicazione

#7214 fix(IT Wallet): [SIW-2788] error handling in the new PID issuance flow
  ts/features/itwallet/common/hooks/useItwFailureSupportModal.tsx
  ts/features/itwallet/common/utils/itwFailureUtils.ts
  ts/features/itwallet/machine/eid/failure.ts
Labels: IT Wallet

#7238 chore(IT Wallet): [SIW-2816] Update `io-react-native-crypto` and `io-react-native-wallet-v2`
  ios/Podfile.lock
  package.json
  ts/features/itwallet/common/utils/itwTypesUtils.ts
  yarn.lock
Labels: IT Wallet

#7233 feat(IT Wallet): [SIW-2559] Include Wallet Attestation in remote presentation
  ts/features/itwallet/common/utils/itwTypesUtils.ts
  ts/features/itwallet/credentials/store/selectors/index.ts
  ts/features/itwallet/machine/credential/selectors.ts
  ts/features/itwallet/presentation/remote/components/ItwRemotePresentationDetails.tsx
  ts/features/itwallet/presentation/remote/machine/__tests__/machine.test.ts
  ts/features/itwallet/presentation/remote/machine/actions.ts
  ts/features/itwallet/presentation/remote/machine/actors.ts
  ts/features/itwallet/presentation/remote/machine/events.ts
  ts/features/itwallet/presentation/remote/machine/guards.ts
  ts/features/itwallet/presentation/remote/machine/machine.ts
  ts/features/itwallet/presentation/remote/machine/provider.tsx
  ts/features/itwallet/presentation/remote/utils/__tests__/itwRemotePresentationUtils.test.ts
  ts/features/itwallet/presentation/remote/utils/itwRemotePresentationUtils.ts
Labels: IT Wallet

#7235 fix(IT Wallet): [SIW-2813] Split attestation utils between v1 and v2
  ts/features/itwallet/common/utils/itwAttestationUtils.ts
  ts/features/itwallet/common/utils/itwAttestationUtils.v1.ts
  ts/features/itwallet/common/utils/itwAttestationUtils.v2.ts
  ts/features/itwallet/lifecycle/saga/__tests__/checkWalletInstanceStateSaga.test.ts
  ts/features/itwallet/lifecycle/saga/checkCurrentWalletInstanceStateSaga.ts
  ts/features/itwallet/lifecycle/saga/checkWalletInstanceStateSaga.ts
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/actors.ts
  ts/features/itwallet/machine/eid/machine.ts
Labels: IT Wallet

#7226 fix: [IOPLT-1285] Add dark mode support to `ItwRequestedClaimsList`
  ts/features/design-system/core/DSAccordion.tsx
  ts/features/design-system/core/DSCollapsible.tsx
  ts/features/design-system/navigation/navigator.tsx
  ts/features/design-system/navigation/params.ts
  ts/features/design-system/navigation/routes.ts
  ts/features/itwallet/issuance/components/ItwRequestedClaimsList.tsx
  ts/features/itwallet/issuance/screens/ItwIssuanceCredentialTrustIssuerScreen.tsx
  ts/features/itwallet/playgrounds/components/ItwClaimsList.tsx
  ts/features/itwallet/playgrounds/screens/ItwPlayground.tsx
Labels: a11y, Design System, Dark mode 🌝, IT Wallet
