Repository pagopa/io-app, pull requests merged in 2025-10, with the labels that each got.

#7426 fix: [IOBP-2035] Receipts banner error padding
  ts/features/payments/home/components/PaymentsHomeTransactionsList.tsx
Labels: IO-Bonus e pagamenti

#7421 fix(IT Wallet): [SIW-3084] Update copy related to IT-Wallet ID
  ts/features/itwallet/issuance/screens/ItwIssuanceCredentialTrustIssuerScreen.tsx
  ts/features/itwallet/presentation/remote/components/ItwRemotePresentationDetails.tsx
Labels: IT Wallet

#7427 chore: [IOBP-2034] Scroll to top when CdC onboarding with FIMS starts
  ts/features/bonus/cdc/activation/screens/CdcBonusRequestInformationTos.tsx
  ts/features/bonus/common/components/BonusInformationComponent.tsx
Labels: Carta della cultura, IO-Bonus e pagamenti

#7433 refactor: [IOBP-000] Update initiative not started pictogram, fix empty list dark mode
  ts/features/idpay/details/components/IdPayInitiativeTimelineComponent.tsx
  ts/features/idpay/onboarding/screens/IdPayFailureScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7385 feat: [IOCOM-2554,IOCOM-2551] Implementation of KO error screen for non-recipient user
  assets/send/aar.yaml
  locales/en/index.json
  locales/it/index.json
  ts/features/pn/aar/components/errors/SendAARErrorComponent.tsx
  ts/features/pn/aar/components/errors/SendAARNotAddresseeComponent.tsx
  ts/features/pn/aar/components/errors/__tests__/SendAARErrorComponent.test.tsx
  ts/features/pn/aar/components/errors/__tests__/SendAARNotAddresseeComponent.test.tsx
  ts/features/pn/aar/components/errors/__tests__/__snapshots__/SendAARErrorComponent.test.tsx.snap
  ts/features/pn/aar/components/errors/__tests__/__snapshots__/SendAARNotAddresseeComponent.test.tsx.snap
  ts/features/pn/aar/hooks/__tests__/useSendAarFlowManager.test.tsx
  ts/features/pn/aar/saga/__tests__/fetchQrCodeSaga.test.ts
  ts/features/pn/aar/saga/fetchQrCodeSaga.ts
  ts/features/pn/aar/screen/SendAARErrorScreen.tsx
  ts/features/pn/aar/screen/SendAARInitialFlowScreen.tsx
  ts/features/pn/aar/screen/__tests__/SendAARErrorScreen.test.tsx
  ts/features/pn/aar/screen/__tests__/SendAARInitialFlowScreen.test.tsx
  ts/features/pn/aar/store/reducers/__tests__/index.test.ts
  ts/features/pn/aar/store/reducers/index.ts
  ts/features/pn/aar/utils/__tests__/__snapshots__/stateUtils.test.ts.snap
  ts/features/pn/aar/utils/stateUtils.ts
  ts/features/pn/aar/utils/testUtils.ts
  ts/features/pn/navigation/navigator.tsx
  ts/features/pn/navigation/params.ts
  ts/features/pn/navigation/routes.ts
  ts/store/reducers/backendStatus/__tests__/remoteConfig.test.ts
  ts/store/reducers/backendStatus/remoteConfig.ts
Labels: IO-Comunicazione

#7439 refactor: [IOCOM-2627] remove temporary isSendAARPhase2Enabled flag
  ts/features/pn/aar/components/SendQRScanFlowHandlerComponent.tsx
  ts/features/pn/aar/components/__tests__/SendQRScanFlowHandlerComponent.test.tsx
  ts/features/pn/aar/utils/__tests__/generic.test.ts
  ts/features/pn/aar/utils/generic.ts
Labels: IO-Comunicazione

#7442 refactor: [IOCOM-2628] Connect SEND AAR API to the remote backend
  assets/send/aar.yaml
  scripts/generate-api-models.sh
Labels: IO-Comunicazione

#7437 feat: [IOPID-3360] add tracking on ingress screen offline wallet banner
  ts/features/ingress/analytics/index.ts
  ts/features/ingress/screens/IngressScreen.tsx
Labels: IO-A&I

#7447 fix: [IOBP-2054] Countdown progressbar barcode IDPay on Android devices
  ts/features/idpay/barcode/components/IdPayBarcodeExpireProgressBar.tsx
  ts/features/idpay/barcode/screens/IdPayBarcodeResultScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7404 feat(IT Wallet): [SIW-2987] New Identification screen design
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/common/components/ItwEidLifecycleAlert.tsx
  ts/features/itwallet/identification/common/screens/ItwIdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/common/screens/ItwL2IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/common/screens/ItwL3IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/common/screens/__tests__/ItwIdentificationModeSelectionScreen.test.tsx
  ts/features/itwallet/identification/common/screens/__tests__/ItwL3IdentificationModeSelectionScreen.test.tsx
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/actions.ts
  ts/features/itwallet/machine/eid/events.ts
  ts/features/itwallet/machine/eid/machine.ts
  ts/features/itwallet/navigation/ItwParamsList.ts
  ts/features/itwallet/navigation/ItwStackNavigator.tsx
  ts/features/itwallet/navigation/routes.ts
  ts/features/itwallet/playgrounds/components/ItwEidReissuance.tsx
  ts/features/itwallet/presentation/details/screens/ItwPresentationEidVerificationExpiredScreen.tsx
Labels: IT Wallet

#7432 feat:[IOCOM-2549] SEND AAR flow notification fetching and display
  locales/en/index.json
  locales/it/index.json
  scripts/generate-api-models.sh
  ts/features/messages/components/MessageDetail/MessageDetailsHeader.tsx
  ts/features/messages/components/MessageDetail/OrganizationHeader.tsx
  ts/features/messages/components/MessageDetail/__tests__/MessageDetailsAttachments.test.tsx
  ts/features/messages/components/MessageDetail/__tests__/MessageDetailsHeader.test.tsx
  ts/features/messages/components/MessageDetail/__tests__/OrganizationHeader.test.tsx
  ts/features/messages/components/MessageDetail/__tests__/__snapshots__/MessageDetailsHeader.test.tsx.snap
  ts/features/messages/components/MessageDetail/__tests__/__snapshots__/OrganizationHeader.test.tsx.snap
  ts/features/messages/saga/__test__/handleLoadMessageData.test.ts
  ts/features/messages/saga/handleLoadMessageData.ts
  ts/features/messages/saga/handleThirdPartyMessage.ts
  ts/features/messages/store/actions/__tests__/index.test.ts
  ts/features/messages/store/actions/index.ts
  ts/features/messages/store/reducers/__tests__/detailsById.test.ts
  ts/features/messages/store/reducers/__tests__/thirdPartyById.test.ts
  ts/features/messages/store/reducers/detailsById.ts
  ts/features/messages/store/reducers/thirdPartyById.ts
  ts/features/messages/types/thirdPartyById.ts
  ts/features/messages/utils/__tests__/responseHandling.test.ts
  ts/features/messages/utils/__tests__/thirdPartyById.test.ts
  ts/features/messages/utils/thirdPartyById.ts
  ts/features/pn/aar/components/SendQRScanFlowHandlerComponent.tsx
  ts/features/pn/aar/components/__tests__/SendAARTosComponent.test.tsx
  ts/features/pn/aar/components/errors/SendAARErrorComponent.tsx
  ts/features/pn/aar/hooks/__tests__/useSendAarFlowManager.test.tsx
  ts/features/pn/aar/hooks/useSendAarFlowManager.tsx
  ts/features/pn/aar/saga/__tests__/fetchNotificationDataSaga.test.ts
  ts/features/pn/aar/saga/__tests__/fetchQrCodeSaga.test.ts
  ts/features/pn/aar/saga/__tests__/watchAARFlowSaga.test.ts
  ts/features/pn/aar/saga/fetchNotificationDataSaga.ts
  ts/features/pn/aar/saga/fetchQrCodeSaga.ts
  ts/features/pn/aar/saga/watchAARFlowSaga.ts
  ts/features/pn/aar/screen/SendAARErrorScreen.tsx
  ts/features/pn/aar/screen/SendAARInitialFlowScreen.tsx
  ts/features/pn/aar/screen/__tests__/SendAARInitialFlowScreen.test.tsx
  ts/features/pn/aar/store/actions/__tests__/__snapshots__/index.test.ts.snap
  ts/features/pn/aar/store/actions/__tests__/index.test.ts
  ts/features/pn/aar/store/actions/index.ts
  ts/features/pn/aar/store/reducers/__tests__/index.test.ts
  ts/features/pn/aar/store/reducers/index.ts
  ts/features/pn/aar/store/selectors/__tests__/index.test.ts
  ts/features/pn/aar/store/selectors/index.ts
  ts/features/pn/aar/utils/__tests__/deepLinking.test.ts
  ts/features/pn/aar/utils/deepLinking.ts
  ts/features/pn/aar/utils/stateUtils.ts
  ts/features/pn/aar/utils/testUtils.ts
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/screens/MessageDetailsScreen.tsx
  ts/features/pn/screens/__test__/MessageDetailsScreen.test.tsx
  ts/features/pn/screens/__test__/__snapshots__/MessageDetailsScreen.test.tsx.snap
  ts/features/services/common/saga/ getServiceDetails.ts
  ts/features/services/common/saga/__tests__/getServiceDetails.test.ts
  ts/sagas/startup.ts
Labels: IO-Comunicazione

#7438 feat(IT Wallet): [SIW-3107] Validity alert for new ITW credentials
  locales/it/index.json
  ts/features/itwallet/__mocks__/L3/edL3.json
  ts/features/itwallet/__mocks__/L3/eeL3.json
  ts/features/itwallet/__mocks__/L3/resL3.json
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/__snapshots__/ItwCredentialCard.test.tsx.snap
  ts/features/itwallet/common/utils/itwCredentialUtils.ts
  ts/features/itwallet/onboarding/screens/WalletCardOnboardingScreen.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationAdditionalInfoSection.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationNewCredentialValidityAlert.tsx
  ts/features/itwallet/presentation/details/components/__tests__/ItwPresentationAdditionalInfoSection.test.tsx
Labels: IT Wallet
