Repository pagopa/io-app, pull requests merged in 2025-08, with the labels that each got.

#7249 refactor: [IOBP-1931] Update IDPay operation details modal
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/timeline/components/IdPayTimelineDetailsBottomSheet.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7251 fix: [IOBP-1940] Wrong banner and text layout alignment
  ts/features/payments/home/screens/PaymentsHomeScreen.tsx
Labels: Bug 🐞, IO-Bonus e pagamenti

#7234 feat(IT Wallet): [SIW-2815] Adds "pending upgrade" status for credential cards
  locales/en/index.json
  locales/it/index.json
  ts/features/design-system/core/DSCards.tsx
  ts/features/design-system/core/DSWallet.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/ItwCredentialCard.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/ItwCredentialCard.test.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/__snapshots__/ItwCredentialCard.test.tsx.snap
  ts/features/itwallet/credentials/saga/__tests__/handleWalletCredentialsRehydration.test.ts
  ts/features/itwallet/credentials/saga/handleItwCredentialsStoreSaga.ts
  ts/features/itwallet/credentials/saga/handleWalletCredentialsRehydration.ts
  ts/features/itwallet/wallet/components/ItwCredentialWalletCard.tsx
  ts/features/itwallet/wallet/utils/index.ts
Labels: IT Wallet

#7212 refactor: [IOBP-1888] Adapted and improved the IDPay authorization payment flow
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/barcode/screens/IdPayBarcodeResultScreen.tsx
  ts/features/idpay/common/machine/tags.ts
  ts/features/idpay/payment/machine/machine.ts
  ts/features/idpay/payment/machine/selectors.ts
  ts/features/idpay/payment/screens/IDPayPaymentAuthorizationScreen.tsx
  ts/features/idpay/payment/screens/IDPayPaymentCodeInputScreen.tsx
  ts/features/idpay/payment/screens/IDPayPaymentResultScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7250 refactor: [IOBP-1926] Display CGN sorting category info based on FF
  scripts/generate-api-models.sh
  ts/features/bonus/cgn/screens/merchants/CgnMerchantCategoriesListScreen.tsx
  ts/store/reducers/backendStatus/remoteConfig.ts
Labels: Carta Giovani Nazionale, IO-Bonus e pagamenti

#7258 refactor: [IOBP-1885] Update IDPay onboarding copy
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/onboarding/screens/IdPayBoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayFailureScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayPDNDPrerequisitesScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7138 refactor: [IOPID-2166,IOPID-3235] New API specs for `Proxy` e `Session Manager Internal`
  package.json
  scripts/generate-api-models.sh
  ts/features/authentication/fastLogin/backend/__test__/index.test.ts
  ts/features/authentication/fastLogin/backend/index.ts
  ts/features/authentication/fastLogin/saga/tokenRefreshSaga.ts
  yarn.lock
Labels: IO-A&I

#7256 refactor(IT Wallet): [SIW-2841] Rename credential type MDL to mDL
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/__mocks__/L3/mdlL3.json
  ts/features/itwallet/__mocks__/mdl.json
  ts/features/itwallet/analytics/index.ts
  ts/features/itwallet/common/components/ItwCredentialCard/DigitalVersionBadge.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/DigitalVersionBadge.test.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/ItwCredentialCard.test.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/__snapshots__/DigitalVersionBadge.test.tsx.snap
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/__snapshots__/ItwCredentialCard.test.tsx.snap
  ts/features/itwallet/common/components/ItwIssuanceMetadata.tsx
  ts/features/itwallet/common/components/ItwSkeumorphicCard/CardBackground.tsx
  ts/features/itwallet/common/components/ItwSkeumorphicCard/CardData.tsx
  ts/features/itwallet/common/hooks/__tests__/useItwFailureSupportModal.test.tsx
  ts/features/itwallet/common/hooks/useItwFailureSupportModal.tsx
  ts/features/itwallet/common/store/reducers/index.ts
  ts/features/itwallet/common/utils/itwCredentialIssuanceUtils.v1.ts
  ts/features/itwallet/common/utils/itwCredentialIssuanceUtils.v2.ts
  ts/features/itwallet/common/utils/itwCredentialStatusUtils.ts
  ts/features/itwallet/common/utils/itwMocksUtils.ts
  ts/features/itwallet/credentials/store/reducers/__tests__/migrations.test.ts
  ts/features/itwallet/credentials/store/reducers/migrations.ts
  ts/features/itwallet/issuance/screens/ItwIssuanceCredentialAsyncContinuationScreen.tsx
  ts/features/itwallet/issuance/screens/__tests__/ItwIssuanceCredentialAsyncContinuationScreen.test.tsx
  ts/features/itwallet/onboarding/screens/__tests__/WalletCardOnboardingScreen.test.tsx
  ts/features/itwallet/playgrounds/components/ItwSkeumorphicCredentialSection.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationDetailsFooter.tsx
  ts/features/itwallet/presentation/details/components/__tests__/ItwPresentationCredentialStatusAlert.test.tsx
  ts/features/itwallet/presentation/remote/analytics/index.ts
  ts/features/itwallet/presentation/remote/screens/__tests__/ItwRemoteFailureScreen.test.tsx
  ts/features/itwallet/trustmark/machine/__tests__/guards.test.ts
  ts/features/itwallet/trustmark/utils/index.ts
  ts/mixpanelConfig/profileProperties.ts
  ts/mixpanelConfig/superProperties.ts
Labels: IT Wallet

#7276 feat: [IOCOM-1834] FimsClaims component automatic tests
  ts/features/fims/singleSignOn/components/__tests__/FimsClaims.test.tsx
  ts/features/fims/singleSignOn/components/__tests__/__snapshots__/FimsClaims.test.tsx.snap
Labels: IO-Comunicazione

#7265 chore: [IOBP-1886] IDPay update bonus flow copy
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/payment/screens/IDPayPaymentResultScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7266 refactor: [IOBP-1947] IDPay card dark mode
  img/features/idpay/wallet_card_dark.svg
  ts/components/BonusCard/BonusCard.tsx
  ts/components/BonusCard/BonusCardCounter.tsx
  ts/components/BonusCard/BonusCardScreenComponent.tsx
  ts/components/BonusCard/BonusCardShape.tsx
  ts/features/idpay/details/screens/IdPayInitiativeDetailsScreen.tsx
  ts/features/idpay/details/utils/index.tsx
  ts/features/idpay/wallet/components/IdPayCard.tsx
  ts/features/idpay/wallet/components/__tests__/__snapshots__/IdPayCard.test.tsx.snap
Labels: IDPay, Dark mode 🌝, IO-Bonus e pagamenti

#7271 fix(IT Wallet): [SIW-2865] Claim labels not visible with dark theme on Android
  ts/features/itwallet/common/components/ItwSkeumorphicCard/ClaimLabel.tsx
  ts/features/itwallet/common/components/ItwSkeumorphicCard/__tests__/__snapshots__/CardData.test.tsx.snap
Labels: Bug 🐞, IT Wallet

#7283 feat: [IOCOM-2532] Universal/App link for SEND dev environment
  android/app/src/main/AndroidManifest.xml
  ios/ItaliaApp/ItaliaApp.entitlements
Labels: IO-Comunicazione

#7287 chore(IT Wallet): [SIW-2869] Update copy for discovery info component
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/discovery/screens/__tests__/__snapshots__/ItwDiscoveryInfoScreen.test.tsx.snap
  ts/features/itwallet/presentation/proximity/utils/itwProximityPresentationUtils.ts
Labels: IT Wallet

#7269 fix(IT Wallet): [SIW-2787] A11y issues in `ItwHighlightBanner` component
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/common/components/ItwHighlightBanner.tsx
  ts/features/itwallet/common/components/__tests__/__snapshots__/ItwHighlightBanner.test.tsx.snap
Labels: a11y, IT Wallet

#7254 feat(IT Wallet): [SIW-2814] Implements credential upgrade flow
  ts/features/itwallet/common/components/ItwCredentialNotFound.tsx
  ts/features/itwallet/issuance/screens/ItwIssuanceCredentialTrustIssuerScreen.tsx
  ts/features/itwallet/machine/credential/__tests__/machine.test.ts
  ts/features/itwallet/machine/credential/actions.ts
  ts/features/itwallet/machine/credential/context.ts
  ts/features/itwallet/machine/credential/events.ts
  ts/features/itwallet/machine/credential/guards.ts
  ts/features/itwallet/machine/credential/machine.ts
  ts/features/itwallet/onboarding/screens/WalletCardOnboardingScreen.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationCredentialStatusAlert.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationCredentialVerificationExpired.tsx
  ts/features/itwallet/wallet/components/ItwCredentialWalletCard.tsx
Labels: IT Wallet

#7285 chore: [SIW-2881] Remove checkmark from itw cards
  ts/features/itwallet/common/components/ItwCredentialCard/ItwCardValidityCheckMark.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/ItwCredentialCard.tsx
  ts/features/itwallet/common/components/ItwWalletCardsWrapper.tsx
Labels: IT Wallet
