Repository pagopa/io-app, pull requests merged in 2025-09, with the labels that each got.

#7294 chore: [IOBP-1948] Add `intent://` schema inside the payments origin webview whitelist schemas
  ts/features/payments/checkout/components/WalletPaymentWebView.tsx
Labels: IO-Bonus e pagamenti

#7299 refactor: [IOCOM-2541] DownloadAttachmentWorker and request
  ts/features/messages/components/MessageDetail/MessageDetailsAttachmentItem.tsx
  ts/features/messages/components/MessageDetail/MessageDetailsAttachments.tsx
  ts/features/messages/components/MessageDetail/__tests__/MessageDetailsAttachmentItem.test.tsx
  ts/features/messages/components/MessageDetail/__tests__/MessageDetailsAttachments.test.tsx
  ts/features/messages/hooks/useAttachmentDownload.tsx
  ts/features/messages/saga/__test__/handleDownloadAttachment.test.ts
  ts/features/messages/saga/handleDownloadAttachment.ts
  ts/features/messages/screens/MessageDetailsScreen.tsx
  ts/features/messages/store/actions/__tests__/index.test.ts
  ts/features/messages/store/actions/index.ts
  ts/features/messages/store/reducers/__tests__/downloads.test.ts
  ts/features/messages/store/reducers/paginatedById.ts
  ts/features/pn/components/F24ListBottomSheetLink.tsx
  ts/features/pn/components/F24Section.tsx
  ts/features/pn/components/MessageDetails.tsx
  ts/features/pn/components/__test__/F24ListBottomSheetLink.test.tsx
Labels: IO-Comunicazione

#7293 fix: [IOBP-1380] Add missing accessibility title focus on `IOListViewWithLargeHeader` component
  ts/components/ui/IOListViewWithLargeHeader.tsx
  ts/features/design-system/core/DSIOListViewWithLargeHeader.tsx
  ts/features/design-system/core/__tests__/DSIOListViewWithLargeHeader.test.tsx
  ts/features/design-system/core/__tests__/__snapshots__/DSIOListViewWithLargeHeader.test.tsx.snap
Labels: a11y, IO-Bonus e pagamenti, Cross

#7300 chore(IT Wallet): [SIW-2908] Removal check on missing claims on PID / credential issuing
  ts/features/itwallet/common/utils/itwCredentialIssuanceUtils.v2.ts
  ts/features/itwallet/common/utils/itwIssuanceUtils.v2.ts
Labels: IT Wallet

#7306 fix: [IOPAE-1735] Improve accessibility of the `FeaturedServiceList` section header
  locales/en/index.json
  locales/it/index.json
  ts/features/services/details/store/reducers/index.ts
  ts/features/services/home/components/FeaturedInstitutionList.tsx
  ts/features/services/home/components/FeaturedServiceList.tsx
  ts/features/services/home/screens/ServicesHomeScreen.tsx
  ts/features/services/search/hooks/useInstitutionsFetcher.tsx
Labels: a11y, IO-Enti e Servizi

#7301 chore: [IOPID-2253] change base path to `external.yaml` leftover APIs
  ts/api/backend.ts
  ts/api/backendPublic.ts
  ts/features/authentication/common/utils/login.ts
Labels: IO-A&I

#7309 refactor: [IOBP-1961] Adjust IDPay progress bar dark mode colors
  ts/components/BonusCard/BonusCardCounter.tsx
  ts/features/bonus/common/components/ProgressBar.tsx
  ts/features/bonus/common/components/__tests__/ProgressBar.test.tsx
  ts/features/idpay/wallet/components/IdPayCard.tsx
Labels: IDPay, Dark mode 🌝, IO-Bonus e pagamenti

#7318 chore: [IOBP-1892] Update biz events spec
  scripts/generate-api-models.sh
Labels: IO-Bonus e pagamenti

#7267 feat(ci): [IOAPPX-505] Implement change detection to trigger nightly builds
  .github/workflows/release-nightly.yml
Labels: enhancement

#7312 feat(IT Wallet): [SIW-2851] Add trust federation step when reiussing inside eid machine
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/machine.ts
Labels: IT Wallet

#7237 fix: [IOPLT-1290] Refactor the `FCI` flow + Add support for dark mode
  locales/en/index.json
  locales/it/index.json
  ts/components/ui/IOScrollView.tsx
  ts/features/fci/components/DocumentsNavigationBar.tsx
  ts/features/fci/components/SignatureFieldItem.tsx
  ts/features/fci/components/__tests__/__snapshots__/DocumentsNavigationBar.test.tsx.snap
  ts/features/fci/components/__tests__/__snapshots__/SignatureFieldItem.test.tsx.snap
  ts/features/fci/hooks/useFciAbortSignatureFlow.tsx
  ts/features/fci/screens/valid/FciDataSharingScreen.tsx
  ts/features/fci/screens/valid/FciQtspClausesScreen.tsx
  ts/features/fci/screens/valid/FciSignatureFieldsScreen.tsx
  ts/features/itwallet/common/components/ItwEidInfoBottomSheetContent.tsx
  ts/features/itwallet/common/hooks/useItwStatusIconColor.ts
  ts/features/itwallet/wallet/components/ItwWalletCardsContainer.tsx
Labels: a11y, Firma con IO, Dark mode 🌝

#7198 feat: [IOBP-1857] IDPay `TOO_MANY_REQUESTS` error flow
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/configuration/types/failure.ts
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/actors.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/navigation/navigator.tsx
  ts/features/idpay/onboarding/navigation/params.ts
  ts/features/idpay/onboarding/navigation/routes.ts
  ts/features/idpay/onboarding/screens/IdPayFailToRetryScreen.tsx
  ts/features/idpay/onboarding/types/OnboardingFailure.ts
  ts/features/settings/devMode/playgrounds/IdPayOnboardingPlayground.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7326 refactor: [IOCOM-2547] Refactor reducer ThirdPartyMessages to handle temporary notifications
  ts/features/messages/components/MessageDetail/__tests__/MessageDetailsAttachments.test.tsx
  ts/features/messages/saga/__test__/handleLoadMessageData.test.ts
  ts/features/messages/saga/handleThirdPartyMessage.ts
  ts/features/messages/screens/__tests__/MessageDetailsScreen.test.tsx
  ts/features/messages/store/actions/__tests__/index.test.ts
  ts/features/messages/store/actions/index.ts
  ts/features/messages/store/reducers/__tests__/thirdPartyById.test.ts
  ts/features/messages/store/reducers/thirdPartyById.ts
  ts/features/pn/screens/__test__/MessageDetailsScreen.test.tsx
Labels: IO-Comunicazione

#7335 fix: [IOPLT-1331] Remove extra thick border from `PaymentCard` expired state
  README.md
  ts/features/payments/common/components/PaymentCard.tsx
Labels: Bug 🐞, Design System, Dark mode 🌝

#7334 feat(IT Wallet): [SIW-2904] Implement feature unavailable toast
  locales/it/index.json
  ts/features/itwallet/common/hooks/useNotAvailableToastGuard.ts
  ts/features/itwallet/common/utils/itwStyleUtils.ts
  ts/features/itwallet/presentation/details/components/ItwPresentationDetailsFooter.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationDetailsScreenBase.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationPidDetailFooter.tsx
  ts/features/itwallet/presentation/details/hooks/useItwStartCredentialSupportRequest.tsx
Labels: IT Wallet

#7348 refactor: [IOPAE-2166] Optimize `ServicesHomeScreen` rendering
  ts/features/services/home/components/InstitutionList.tsx
  ts/features/services/home/components/InstitutionListItem.tsx
  ts/features/services/home/screens/ServicesHomeScreen.tsx
Labels: IO-Enti e Servizi

#7351 feat(IT Wallet): [SIW-2952] Replace custom multi credential icon with DS icon
  package.json
  ts/features/itwallet/common/components/ItwCredentialCard/ItwCardMultiCredentialBadge.tsx
  ts/features/itwallet/common/components/ItwCredentialCard/ItwCredentialCard.tsx
  yarn.lock
Labels: IT Wallet

#7324 feat(IT Wallet): [SIW-2850] Introduce an intermediate screen after a 5-second wait
  locales/it/index.json
  ts/features/itwallet/discovery/screens/ItwIpzsPrivacyScreen.tsx
  ts/features/itwallet/identification/common/screens/ItwL2IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/machine/credential/__tests__/machine.test.ts
  ts/features/itwallet/machine/credential/machine.ts
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/machine.ts
  ts/features/itwallet/presentation/remote/components/ItwRemoteLoadingScreen.tsx
  ts/features/itwallet/presentation/remote/screens/ItwRemoteRequestValidationScreen.tsx
  ts/features/itwallet/presentation/remote/screens/__tests__/ItwRemoteRequestValidation.test.tsx
Labels: IT Wallet

#7359 fix: [IOPID-3403,IOPID-3404,IOPID-3419] `javax.net.ssl.SSLHandshakeException` on different SDK provider and iOS Crash
  ios/Podfile.lock
  package.json
  ts/features/authentication/login/cie/screens/CieCardReaderScreen.tsx
  ts/features/authentication/login/cie/screens/__test__/CieCardReaderScreenWrapper.test.tsx
  yarn.lock
Labels: Bug 🐞, IT Wallet, IO-A&I

#7365 fix: [IOBP-1993] Disable CGN landing page webview caching
  ts/components/WebviewComponent.tsx
  ts/components/__tests__/__snapshots__/WebviewComponent.test.tsx.snap
Labels: Carta Giovani Nazionale, IO-Bonus e pagamenti

#7341 feat: [IOBP-1949] IDPay detail Mixpanel events
  ts/features/idpay/barcode/screens/IdPayBarcodeResultScreen.tsx
  ts/features/idpay/details/analytics/index.ts
  ts/features/idpay/details/hooks/useIdPayDiscountDetailsBottomSheet.tsx
  ts/features/idpay/details/screens/IdPayInitiativeDetailsScreen.tsx
  ts/features/idpay/payment/machine/context.ts
  ts/features/idpay/payment/machine/events.ts
  ts/features/idpay/payment/machine/machine.ts
  ts/features/idpay/payment/machine/selectors.ts
  ts/features/idpay/payment/screens/IDPayPaymentAuthorizationScreen.tsx
  ts/features/idpay/payment/screens/IDPayPaymentCodeInputScreen.tsx
  ts/features/idpay/payment/screens/IDPayPaymentResultScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7367 fix(IT Wallet): [SIW-2942,SIW-2885] Update IPZS privacy webview
  ts/features/itwallet/discovery/components/ItwPrivacyWebViewComponent.tsx
  ts/features/itwallet/discovery/screens/ItwIpzsPrivacyScreen.tsx
  ts/features/itwallet/discovery/screens/__tests__/__snapshots__/ItwIpzsPrivacyScreen.test.tsx.snap
  ts/utils/webview.ts
Labels: Bug 🐞, IT Wallet

#7353 fix(IT Wallet): [SIW-2966] eID/PID issuing events property tracking
  ts/features/itwallet/analytics/index.ts
  ts/features/itwallet/issuance/screens/ItwIssuanceEidPreviewScreen.tsx
  ts/features/itwallet/machine/eid/actions.ts
  ts/features/itwallet/machine/eid/actors.ts
  ts/features/itwallet/machine/eid/machine.ts
Labels: Bug 🐞, IT Wallet

#7368 chore: [IOBP-1969] Add Mixpanel events for help center CaC banner
  ts/features/zendesk/analytics/index.ts
  ts/features/zendesk/screens/ZendeskSupportHelpCenter.tsx
Labels: IO-Bonus e pagamenti, Cross

#7352 feat(IT Wallet): [SIW-2927] Add temporary ItwCredentialAuthSource to display new credentials `authSource`
  locales/it/index.json
  ts/features/itwallet/common/components/ItwIssuanceMetadata.tsx
  ts/features/itwallet/common/utils/itwMetadataUtils.ts
Labels: IT Wallet

#7364 feat(IT Wallet): [SIW-2988] Refactor hidden claims to support nested credentials
  ts/features/itwallet/common/components/ItwCredentialClaim.tsx
  ts/features/itwallet/common/components/ItwCredentialMultiClaim.tsx
  ts/features/itwallet/issuance/components/__tests__/__snapshots__/ItwCredentialPreviewClaimsList.test.tsx.snap
  ts/features/itwallet/presentation/details/components/__tests__/__snapshots__/ItwPresentationClaimsSection.test.tsx.snap
Labels: IT Wallet

#7350 feat: [IOCOM-2548,IOCOM-2591] SEND AAR master saga implementation and basic loading screen
  assets/send/aar.yaml
  locales/en/index.json
  locales/it/index.json
  ts/features/pn/aar/api/client.ts
  ts/features/pn/aar/components/SendAARLoadingComponent.tsx
  ts/features/pn/aar/components/SendAARTosComponent.tsx
  ts/features/pn/aar/components/SendQRScanFlowHandlerComponent.tsx
  ts/features/pn/aar/components/__mocks__/SendQRScanFlowHandlerComponent.tsx
  ts/features/pn/aar/components/__mocks__/SendQRScanRedirectComponent.tsx
  ts/features/pn/aar/components/__tests__/SendAARLoadingComponent.test.tsx
  ts/features/pn/aar/components/__tests__/SendAARTosComponent.test.tsx
  ts/features/pn/aar/components/__tests__/SendQRScanFlowHandlerComponent.test.tsx
  ts/features/pn/aar/components/__tests__/__snapshots__/SendAARLoadingComponent.test.tsx.snap
  ts/features/pn/aar/components/__tests__/__snapshots__/SendAARTosComponent.test.tsx.snap
  ts/features/pn/aar/components/__tests__/__snapshots__/SendQRScanFlowHandlerComponent.test.tsx.snap
  ts/features/pn/aar/saga/__tests__/fetchQrCodeSaga.test.ts
  ts/features/pn/aar/saga/__tests__/watchAARFlowSaga.test.ts
  ts/features/pn/aar/saga/fetchQrCodeSaga.ts
  ts/features/pn/aar/saga/watchAARFlowSaga.ts
  ts/features/pn/aar/screen/SendQRScanFlowScreen.tsx
  ts/features/pn/aar/screen/__tests__/SendQRScanFlowScreen.test.tsx
  ts/features/pn/aar/screen/__tests__/__snapshots__/SendQRScanFlowScreen.test.tsx.snap
  ts/features/pn/aar/store/reducers/__tests__/index.test.ts
  ts/features/pn/aar/store/reducers/index.ts
  ts/features/pn/aar/utils/__tests__/generic.test.ts
  ts/features/pn/aar/utils/generic.ts
  ts/sagas/startup.ts
Labels: IO-Comunicazione

#7373 fix(IT Wallet): [SIW-3005] Fix offline wallet header for `session_expired` access reason
  ts/hooks/__tests__/useStatusAlertProps.test.tsx
  ts/hooks/useStatusAlertProps.tsx
Labels: Bug 🐞, IT Wallet

#7372 refactor: [IOPID-3043,IOPID-3261] Decouple `watchLogoutSaga` and `startup` saga
  ts/api/BackendClientManager.ts
  ts/api/__tests__/BackendClientManager.test.ts
  ts/api/backend.ts
  ts/features/authentication/common/saga/__test__/watchLogoutSaga.test.ts
  ts/features/authentication/common/saga/watchLogoutSaga.ts
  ts/features/authentication/common/store/__test__/selectors.test.ts
  ts/features/authentication/common/store/models/index.ts
  ts/features/authentication/common/store/selectors/index.ts
  ts/features/authentication/common/store/utils/guards.ts
  ts/sagas/__tests__/initializeApplicationSaga.test.ts
  ts/sagas/index.ts
  ts/sagas/startup.ts
Labels: IO-A&I, Cross

#7380 feat(IT Wallet): [SIW-2928] Add haptic feedback for CIE read flow
  ts/features/itwallet/identification/cie/machine/actors.ts
Labels: IT Wallet

#7338 feat(IT Wallet): [SIW-2827] View the available authentication methods to reactivate Documents on IO
  img/features/itWallet/identification/cie_pin.svg
  img/features/itWallet/identification/spid_logo.svg
  locales/it/index.json
  ts/features/itwallet/identification/common/screens/ItwL2IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/identification/common/screens/__tests__/ItwL2IdentificationModeSelectionScreen.test.tsx
Labels: IT Wallet

#7401 fix: [IOPLT-1348] Fix `LoadingScreenContent` loose spacing
  ts/components/screens/LoadingScreenContent.tsx
  ts/components/screens/__tests__/__snapshots__/LoadingScreenContent.test.tsx.snap
  ts/features/design-system/core/DSLoadingScreen.tsx
  ts/features/design-system/navigation/navigator.tsx
  ts/features/design-system/navigation/params.ts
  ts/features/design-system/navigation/routes.ts
  ts/features/ingress/__test__/__snapshots__/IngressScreen.test.tsx.snap
  ts/features/messages/screens/__tests__/__snapshots__/MessageRouterScreen.test.tsx.snap
  ts/features/pn/aar/components/__tests__/__snapshots__/SendAARLoadingComponent.test.tsx.snap
Labels: Bug 🐞, Design System

#7390 chore: [IOPLT-1342] Remove `react-native-responsive-screen`
  package.json
  ts/components/BonusCard/BonusCard.tsx
  ts/components/DebugInfoOverlay.tsx
  ts/components/error/WorkunitGenericFailure.tsx
  ts/components/infoScreen/imageRendering.tsx
  yarn.lock
Labels: dependencies, 💀 Dead matter

#7398 feat(IT Wallet): [SIW-3060] Add CIE preparation screen for CAN
  img/features/itWallet/identification/cie_can.png
  img/features/itWallet/identification/cie_can@2x.png
  locales/it/index.json
  ts/features/itwallet/identification/cie/components/ItwCiePreparationBaseScreenContent.tsx
  ts/features/itwallet/identification/cie/screens/ItwCiePreparationCanScreen.tsx
  ts/features/itwallet/navigation/ItwParamsList.ts
  ts/features/itwallet/navigation/ItwStackNavigator.tsx
  ts/features/itwallet/navigation/routes.ts
  ts/features/itwallet/playgrounds/components/ItwIdentificationSection.tsx
  ts/features/itwallet/playgrounds/screens/ItwPlayground.tsx
Labels: IT Wallet

#7400 feat(IT Wallet): [SIW-3061] Add CIE's CAN input screen
  locales/it/index.json
  ts/features/itwallet/identification/cie/screens/ItwCieCanScreen.tsx
  ts/features/itwallet/navigation/ItwParamsList.ts
  ts/features/itwallet/navigation/ItwStackNavigator.tsx
  ts/features/itwallet/navigation/routes.ts
  ts/features/itwallet/playgrounds/components/ItwIdentificationSection.tsx
Labels: IT Wallet

#7387 refactor: [IOBP-2010] Align IDPay onboarding API with backend specs
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/common/api/client.ts
  ts/features/idpay/onboarding/machine/actors.ts
  ts/features/idpay/onboarding/machine/context.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/machine/selectors.ts
  ts/features/idpay/onboarding/screens/IdPayBoolValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayMultiValuePrerequisitesScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayPDNDPrerequisitesScreen.tsx
Labels: IDPay, IO-Bonus e pagamenti

#7386 fix: [IOPLT-1341] Fix the dark mode for all RN modals
  ts/features/authentication/fastLogin/screens/AskUserInteractionScreen.tsx
  ts/features/authentication/fastLogin/screens/RefreshTokenLoadingScreen.tsx
  ts/features/lollipop/screens/UnsupportedDeviceScreen.tsx
  ts/features/startup/screens/errors/GetProfileEndpointTransientError.tsx
  ts/features/startup/screens/errors/GetSessionEndpointTransientError.tsx
  ts/screens/modal/SystemOffModal.tsx
  ts/screens/modal/UpdateAppModal.tsx
Labels: Bug 🐞, Dark mode 🌝

#7416 fix(IT Wallet): [SIW-3989] Remove "Recommended" badge from CIE+PIN identification method
  locales/it/index.json
  ts/features/itwallet/identification/common/screens/ItwL2IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/machine/eid/actions.ts
Labels: IT Wallet

#7408 refactor: [IOBP-2027] Align Zendesk help center design
  locales/en/index.json
  locales/it/index.json
  ts/features/zendesk/screens/ZendeskSupportHelpCenter.tsx
Labels: IO-Bonus e pagamenti, Cross

#7411 chore: [IOPID-3449] Add Zendesk trigger manager workflow
  .github/workflows/zendesk-trigger-manager.yml
Labels: IO-A&I, Cross

#7377 chore: [IOPLT-1329] Update `react-native-skia` + Ensure smoother animation playback on 120hz displays
  ios/Podfile.lock
  package.json
  ts/components/ui/AnimatedPictogram.tsx
  ts/features/itwallet/common/components/ItwBadge.tsx
  ts/features/itwallet/common/components/ItwHighlightBanner.tsx
  ts/features/itwallet/common/components/ItwSkeumorphicCard/ClaimImage.tsx
  ts/features/itwallet/common/components/ItwSkeumorphicCard/__tests__/__snapshots__/CardData.test.tsx.snap
  ts/features/itwallet/common/components/ItwWalletId.tsx
  ts/features/itwallet/common/components/__tests__/__snapshots__/ItwHighlightBanner.test.tsx.snap
  ts/features/itwallet/common/components/__tests__/__snapshots__/ItwWalletId.test.tsx.snap
  ts/features/itwallet/discovery/components/ItwPaywallComponent.tsx
  ts/features/itwallet/discovery/screens/__tests__/__snapshots__/ItwDiscoveryInfoScreen.test.tsx.snap
  ts/features/itwallet/presentation/details/components/ItwPresentationPidScaffoldScreen.tsx
  yarn.lock
Labels: dependencies, Design System

#7420 chore(IT Wallet): [SIW-3083] Rename "Residenza" to "Attestato di residenza"
  locales/it/index.json
  ts/features/itwallet/common/components/ItwCredentialCard/__tests__/__snapshots__/ItwCredentialCard.test.tsx.snap
Labels: IT Wallet
