Repository pagopa/io-app, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina, @thisisjp, @dmnplb

chore: error handling
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/identification/components/ItwCieCardFailureContent.tsx
  ts/features/itwallet/identification/components/ItwCieCardReadContent.tsx
  ts/features/itwallet/identification/components/ItwCieCardReadFailureContent.tsx
  ts/features/itwallet/identification/components/ItwCieCardReadProgressContent.tsx
  ts/features/itwallet/identification/machine/cie/context.ts
  ts/features/itwallet/identification/machine/cie/events.ts
  ts/features/itwallet/identification/machine/cie/machine.ts
  ts/features/itwallet/identification/machine/cie/selectors.ts
  ts/features/itwallet/identification/screens/cie/ItwCieCardReaderL3Screen.tsx
Owners: @pagopa/io-app, @thisisjp, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

refactor: update machine to handle message screen scenario
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/context.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/navigation/navigator.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

fix: actions and tracking
  ts/features/itwallet/identification/components/ItwCieCardReadProgressContent.tsx
  ts/features/itwallet/identification/machine/cie/actions.ts
  ts/features/itwallet/identification/machine/cie/events.ts
  ts/features/itwallet/identification/machine/cie/machine.ts
  ts/features/itwallet/identification/screens/cie/ItwCieCardReaderL3Screen.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

patched react-native-pdf lib
  patches/react-native-pdf+6.7.7.patch
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Revert "refactor: update machine to handle message screen scenario"
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/context.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
  ts/features/idpay/onboarding/navigation/navigator.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: disabled gesture
  locales/de/index.json
  locales/en/index.json
  locales/it/index.json
  ts/features/idpay/onboarding/navigation/navigator.tsx
Owners: @pagopa/io-app, @thisisjp, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

WiP
  ts/features/barcode/types/IOBarcode.ts
  ts/features/barcode/types/decoders.ts
  ts/store/reducers/backendStatus/remoteConfig.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: machine state, event and context for hasInbox flag
  ts/features/idpay/onboarding/machine/actions.ts
  ts/features/idpay/onboarding/machine/context.ts
  ts/features/idpay/onboarding/machine/events.ts
  ts/features/idpay/onboarding/machine/machine.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

feat: apply new machine logic to display new message screen
  ts/features/idpay/onboarding/screens/IdPayEnableMessageScreen.tsx
  ts/features/idpay/onboarding/screens/IdPayInitiativeDetailsScreen.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

test: add test for proximity machine
  ts/features/itwallet/presentation/proximity/__tests__/machine.test.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Add dark mode support to `PaymentCard`
  img/wallet/payment-methods/paypal/paypal_logo_ext.svg
  ts/features/payments/common/components/PaymentCard.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

refactor: spaces
  ts/features/itwallet/presentation/proximity/__tests__/machine.test.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

WiP 3
  ts/features/barcode/types/__tests__/decoders.test.ts
  ts/features/barcode/types/decoders.ts
  ts/store/reducers/backendStatus/remoteConfig.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

fix: prettier
  ts/features/itwallet/presentation/proximity/__tests__/machine.test.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Add dark mode support to `PaymentCardSmall`
  ts/components/ui/utils/components/LogoPaymentWithFallback.tsx
  ts/features/payments/common/components/PaymentCard.tsx
  ts/features/payments/common/components/PaymentCardSmall.tsx
Owners: @pagopa/io-app, @dmnplb, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Fix tsc error
  ts/features/payments/common/components/PaymentCardSmall.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Update snapshots
  ts/features/payments/common/components/__tests__/__snapshots__/PaymentCard.test.tsx.snap
  ts/features/payments/common/components/__tests__/__snapshots__/PaymentCardSmall.test.tsx.snap
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: Upgrade io-app-design-system and add new Banner Pictogram
  package.json
  ts/features/services/home/components/EmailNotificationBanner.tsx
  yarn.lock
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: move all rendering logic in itwShouldRenderWalletUpgradeMDLDetailsBannerSelector
  ts/features/itwallet/common/store/selectors/index.ts
  ts/features/itwallet/presentation/details/components/ItwPresentationWalletUpgradeMDLDetailsBanner.tsx
  ts/features/itwallet/presentation/details/screens/ItwPresentationCredentialDetailScreen.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: comment
  ts/features/itwallet/common/store/selectors/index.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Added a new selector to retrieve both credentials and WIA (mso_mdoc)
  ts/features/itwallet/presentation/proximity/__mocks__/credentials.ts
  ts/features/itwallet/presentation/proximity/machine/actions.ts
  ts/features/itwallet/presentation/proximity/machine/context.ts
  ts/features/itwallet/presentation/proximity/store/selectors/index.ts
  ts/features/itwallet/presentation/proximity/utils/itwProximityPresentationUtils.ts
  ts/features/itwallet/presentation/proximity/utils/itwProximityTypeUtils.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

linting
  ts/features/itwallet/presentation/proximity/screens/ItwProximityClaimsDisclosureScreen.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: lint
  ts/features/itwallet/common/store/selectors/index.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Add device-disconnected event to ensure navigation to the thank you screen happens only after sending the documents and receiving the event
  ts/features/itwallet/presentation/proximity/machine/actors.ts
  ts/features/itwallet/presentation/proximity/machine/events.ts
  ts/features/itwallet/presentation/proximity/machine/machine.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

WiP 4
  ts/features/barcode/screens/BarcodeScanScreen.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

fix: cie id bottom sheet dismissal
  ts/features/itwallet/identification/screens/ItwL3IdentificationModeSelectionScreen.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

update isItwCredential
  ts/features/itwallet/common/utils/itwCredentialUtils.ts
  ts/features/itwallet/lifecycle/store/selectors/__tests__/index.test.ts
  ts/features/itwallet/presentation/details/components/ItwPresentationCredentialCard.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationCredentialInfoAlert.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationDetailsHeader.tsx
  ts/features/itwallet/presentation/details/components/ItwPresentationDetailsScreenBase.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: [IOPLT-1191] Add dark mode to payment cards (#7174)
  img/wallet/payment-methods/paypal/paypal_logo_ext.svg
  ts/components/ui/utils/components/LogoPaymentWithFallback.tsx
  ts/features/payments/common/components/PaymentCard.tsx
  ts/features/payments/common/components/PaymentCardSmall.tsx
  ts/features/payments/common/components/__tests__/__snapshots__/PaymentCard.test.tsx.snap
  ts/features/payments/common/components/__tests__/__snapshots__/PaymentCardSmall.test.tsx.snap
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina, @dmnplb

feat(IT Wallet): Add CIE_NOT_REGISTERED error tracking and enum
  ts/features/itwallet/analytics/enum.ts
  ts/features/itwallet/analytics/index.ts
  ts/features/itwallet/issuance/hooks/useEidEventsTracking.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

wip
  ts/features/itwallet/common/utils/itwCredentialUtils.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

AAR regex from remote config
  scripts/generate-api-models.sh
  ts/features/barcode/types/__tests__/decoders.test.ts
  ts/features/barcode/types/decoders.ts
  ts/features/barcode/utils/__tests__/imageDecodingTask.test.ts
  ts/store/reducers/backendStatus/remoteConfig.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

Better temporary handling
  ts/features/barcode/screens/BarcodeScanScreen.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

addition of basis for future thankYouPage logic
  locales/en/index.json
  locales/it/index.json
  ts/features/pn/components/ThankYouPage.tsx
  ts/features/pn/components/__test__/ThankYouPage.test.tsx
  ts/features/pn/components/__test__/__snapshots__/ThankYouPage.test.tsx.snap
Owners: @pagopa/io-app, @thisisjp, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: move CIE under identification/cie feature
  ts/features/itwallet/identification/cie/components/ItwCieCardReadContent.tsx
  ts/features/itwallet/identification/cie/components/ItwCieCardReadFailureContent.tsx
  ts/features/itwallet/identification/cie/components/ItwCieCardReadProgressContent.tsx
  ts/features/itwallet/identification/cie/components/ItwCiePreparationBaseScreenContent.tsx
  ts/features/itwallet/identification/cie/components/ItwCieWebView.tsx
  ts/features/itwallet/identification/cie/hooks/useCieInfoBottomSheet.tsx
  ts/features/itwallet/identification/cie/machine/actions.ts
  ts/features/itwallet/identification/cie/machine/actors.ts
  ts/features/itwallet/identification/cie/machine/context.ts
  ts/features/itwallet/identification/cie/machine/events.ts
  ts/features/itwallet/identification/cie/machine/input.ts
  ts/features/itwallet/identification/cie/machine/machine.ts
  ts/features/itwallet/identification/cie/machine/provider.tsx
  ts/features/itwallet/identification/cie/machine/selectors.ts
  ts/features/itwallet/identification/cie/screens/ItwActivateNfcScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCieCardReaderScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCieExpiredOrInvalidScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCiePinScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCiePreparationCardScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCiePreparationPinScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCieUnexpectedErrorScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCieWrongCardScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCieWrongCiePinScreen.tsx
  ts/features/itwallet/identification/components/ItwCieWebview.tsx
  ts/features/itwallet/identification/screens/ItwL3IdentificationModeSelectionScreen.tsx
  ts/features/itwallet/machine/eid/machine.ts
  ts/features/itwallet/navigation/ItwParamsList.ts
  ts/features/itwallet/navigation/ItwStackNavigator.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: update ITW_PRE_WALLET_PROVIDER_BASE_URL
  .env.local
  .env.production
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

fix: imports
  ts/features/itwallet/identification/cie/screens/ItwCiePreparationCardScreen.tsx
  ts/features/itwallet/identification/cie/screens/ItwCiePreparationPinScreen.tsx
  ts/features/itwallet/identification/screens/ItwIdentificationCieWarningScreen.tsx
  ts/features/itwallet/machine/eid/__tests__/machine.test.ts
  ts/features/itwallet/machine/eid/events.ts
  ts/features/itwallet/machine/eid/machine.ts
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: move legacy screens
  ts/features/itwallet/identification/screens/ItwActivateNfcScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieExpiredOrInvalidScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieUnexpectedErrorScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieWrongCardScreen.tsx
  ts/features/itwallet/identification/screens/cie/ItwCieWrongCiePinScreen.tsx
  ts/features/itwallet/navigation/ItwParamsList.ts
  ts/features/itwallet/navigation/ItwStackNavigator.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

feat(IT Wallet): [SIW-2595] Add timeout error screen and progressive loading states for proximity flow (#7141)
  locales/en/index.json
  locales/it/index.json
  ts/features/itwallet/presentation/proximity/components/ItwProximityLoadingStepScreen.tsx
  ts/features/itwallet/presentation/proximity/machine/actors.ts
  ts/features/itwallet/presentation/proximity/machine/failure.ts
  ts/features/itwallet/presentation/proximity/machine/machine.ts
  ts/features/itwallet/presentation/proximity/machine/selectors.ts
  ts/features/itwallet/presentation/proximity/screens/ItwProximityFailureScreen.tsx
  ts/features/itwallet/presentation/proximity/screens/ItwProximitySendDocumentsResponseScreen.tsx
  ts/features/itwallet/presentation/proximity/screens/__tests__/ItwProximityFailureScreen.test.tsx
  ts/features/itwallet/presentation/proximity/screens/__tests__/__snapshots__/ItwProximityFailureScreen.test.tsx.snap
  ts/features/itwallet/presentation/proximity/utils/itwProximityPresentationUtils.ts
Owners: @pagopa/io-app, @thisisjp, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

chore: Add the possibility to display the banner only after the onboarding process
  ts/features/idpay/onboarding/screens/IdPayCompletionScreen.tsx
  ts/features/services/home/components/EmailNotificationBanner.tsx
Owners: @pagopa/io-app, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

feat: custom top element to scrollview
  ts/components/ui/IOScrollView.tsx
  ts/components/ui/IOScrollViewWithLargeHeader.tsx
Owners: @pagopa/io-app, @dmnplb, @ChrisMattew, @gispada, @freddi301, @Alessandro-Laregina

CODEOWNERS:

# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-app @ChrisMattew @gispada @freddi301 @Alessandro-Laregina

/locales/ @pagopa/io-app @thisisjp @ChrisMattew @gispada @freddi301 @Alessandro-Laregina
/ios/ItaliaApp/it.lproj/ @pagopa/io-app @thisisjp @ChrisMattew @gispada @freddi301 @Alessandro-Laregina
/ios/ItaliaApp/en.lproj/ @pagopa/io-app @thisisjp @ChrisMattew @gispada @freddi301 @Alessandro-Laregina
/ts/features/design-system @pagopa/io-app @dmnplb @ChrisMattew @gispada @freddi301 @Alessandro-Laregina
/ts/components/ui @pagopa/io-app @dmnplb @ChrisMattew @gispada @freddi301 @Alessandro-Laregina
